{# @pebvariable name="status" type="smithereen.model.UserBanStatus" #}
{# @pebvariable name="banInfo" type="smithereen.model.UserBanInfo" #}
{# @pebvariable name="report" type="smithereen.model.admin.ViolationReport" #}
{% extends "page" %}
{% block leftMenu %}
{% if isMobile %}
<ul class="actionList">
	<li><a href="/account/logout?csrf={{ csrf }}">{{ L('log_out') }}</a></li>
</ul>
{% endif %}
{% endblock %}
{% block content %}
<div class="notMuchContent textByItself userBanPage">
	{% if status=='FROZEN' %}
	<h2 class="marginAfter">{{ L('account_frozen') }}</h2>
	<p>{{ L('account_frozen_info', {'name': currentUser | name('first')}) }}</p>
	{% if unfreezeTime is not null %}
	<p>{{ L('account_frozen_info_time', {'time': LD(unfreezeTime)}) }}
	{% endif %}
	{% elseif status=='SUSPENDED' %}
	<h2 class="marginAfter">{{ L('account_suspended') }}</h2>
	{% set redirectLink={'href': "/settings/transferFollowersForm"} %}
	{% if not isMobile %}{% set _=redirectLink.put('data-ajax-box', '1') %}{% endif %}
	<p>{{ L('account_suspended_info', {'deletionTime': LD(deletionTime), 'name': currentUser | name('first')}, {'downloadData': {'href': "/settings/export"}, 'redirect': redirectLink}) }}</p>
	{% elseif status=='SELF_DEACTIVATED' %}
	<h2 class="marginAfter">{{ L('account_deactivated') }}</h2>
	<p>{{ L('account_deactivated_info', {'deletionTime': LD(deletionTime)}) }}</p>
	{% endif %}
	{% if content is not null %}
	{% if contentType=="message" %}
	<p>{{ L('account_ban_content_messages') }}</p>
	{% set message=content %}
	<div class="post">
		<blockquote>
			{{ message.text | postprocessHTML }}
			{% if message.attachments is not empty %}
				{{ renderAttachments(message, null) }}
			{% endif %}
		</blockquote>
	</div>
	{% elseif contentType=="post" %}
	<p>{{ L('account_ban_content', {'contentType': L('account_ban_content_posts')}) }}</p>
	{% include "wall_post" with {'post': content, 'ignoreSuspension': true, 'hideActions': true} %}
	{% elseif contentType=="comment" %}
	<p>{{ L('account_ban_content', {'contentType': L('account_ban_content_comments')}) }}</p>
	{% include "wall_post" with {'post': content, 'ignoreSuspension': true, 'hideActions': true} %}
	{% elseif contentType=="photo" %}
	<p>{{ L('account_ban_content', {'contentType': L('account_ban_content_photos')}) }}</p>
	<p>{{ content.image | pictureForPhoto('m', false) }}</p>
	{% endif %}
	{% endif %}
	{% if rules is not empty %}
	<p>{{ L(content is null ? 'account_ban_violated_rules' : 'account_ban_violated_rules_with_content') }}</p>
	<ul class="actualList">
	{% for rule in rules %}
		<li><span>
			<h5>{{ rule.getTranslatedTitle(getLocale()) }}</h5>
			{% set descr=rule.getTranslatedDescription(getLocale()) %}
			{% if descr is not empty %}<div>{{ descr | nl2br }}</div>{% endif %}
		</span></li>
	{% endfor %}
	</ul>
	{% endif %}
	{% if banInfo.message is not empty %}
	<p>{{ L(content is not null or rules is not empty ? 'account_ban_message_with_rules_or_content' : 'account_ban_message') }}</p>
	<p><div class="settingsMessage">{{ banInfo.message }}</div></p>
	{% endif %}
	{% if status!='SELF_DEACTIVATED' and contactEmail is not empty %}
	<p>{{ L('account_ban_contact', {}, {'email': {'href': "mailto:#{contactEmail}"} }) }}</p>
	{% endif %}
	{% if status=='FROZEN' and unfreezeTime is null %}
	<p>{{ L(banInfo.requirePasswordChange ? 'account_frozen_unfreeze_password' : 'account_frozen_unfreeze') }}</p>
	<div>
		<a href="/account/unfreezeBox" class="button" data-ajax-box>{{ L('unfreeze_my_account') }}</a>
	</div>
	{% endif %}
	{% if status=='SELF_DEACTIVATED' %}
	<div>
		<a href="/account/reactivateBox" class="button" data-ajax-box>{{ L('account_reactivate') }}</a>
	</div>
	{% endif %}
</div>
{% endblock %}

