{% extends "page" %}
{% block content %}
<table width="100%" class="userList" cellspacing="0">
{% for actor in actors %}
	<tr>
		<td width="50">
			<a href="{{ actor.actor.profileURL }}">{{ actor.actor | pictureForAvatar('s') }}</a>
		</td>
		<td class="info" valign="middle">
			<b><a href="{{ actor.actor.profileURL }}">{{ actor.actor.type=="Person" ? actor.actor | name('complete') : actor.actor.name }}</a></b>
			{% if actor.description is not empty %}
				<div class="subtitle">{{ actor.description }}</div>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
