{%extends "page"%}
{%block content%}
{%include "admin_tabbar" with {'tab': 'users'}%}
<div class="singleColumn wideDataTableWrap">
	<table width="100%" class="dataTable">
		<tr class="tableHeader">
			<th width="75"><abbr title="{{L('admin_user_id')}}">ID</abbr></th>
			<th>{{L('name')}}</th>
			<th width="200">{{L('invited_by')}}</th>
			<th width="150">{{L('signup_date')}}</th>
			<th width="150">{{L('actions')}}</th>
		</tr>
		{% for acc in items %}
		<tr>
			<td>{{acc.id}} ({{acc.user.id}})</td>
			<td class="ellipsize"><a href="{{acc.user.url}}"><span class="tinyInlineAva">{{acc.user | pictureForAvatar('s', 32)}}</span>{{acc.user.fullName}}</a></td>
			<td class="ellipsize">{%if acc.invitedBy is not null%}<a href="{{acc.invitedBy.url}}"><span class="tinyInlineAva">{{acc.invitedBy | pictureForAvatar('s', 32)}}</span>{{acc.invitedBy.fullName}}</a>{%else%}&mdash;{%endif%}</td>
			<td align="center">{{LD(acc.createdAt)}}</td>
			<td>
				{% if acc.user.id!=currentUser.id and userPermissions.serverAccessLevel.ordinal>=3 %}
					<a href="/settings/admin/users/accessLevelForm?accountID={{ acc.id }}" data-ajax-box="1">{{ L('access_level') }}</a>
				{% endif %}
				{% if acc.accessLevel!='ADMIN' and acc.accessLevel!='MODERATOR' %}
					{% if acc.banInfo is null %}
						| <a href="/settings/admin/users/banForm?accountID={{ acc.id }}" data-ajax-box="1">{{ L('admin_ban') }}</a>
					{% else %}
						| <a href="/settings/admin/users/confirmUnban?accountID={{ acc.id }}" data-confirm-action="/settings/admin/users/unban?accountID={{ acc.id }}" data-confirm-title="{{ L('admin_unban') }}" data-confirm-message="{{ L("admin_unban_X_confirm", {'name': acc.user.firstLastAndGender}) | forceEscape }}">{{ L('admin_unban') }}</a>
					{% endif %}
				{% endif %}
				{% if acc.activationInfo is not null %}
					| <a href="/settings/admin/users/confirmActivate?accountID={{ acc.id }}" data-confirm-action="/settings/admin/users/activate?accountID={{ acc.id }}" data-confirm-title="{{ L('account_activation') }}" data-confirm-message="{{ L("admin_activate_X_confirm", {'name': acc.user.firstLastAndGender}) | forceEscape }}">{{ L('admin_activate_account') }}</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="bottomSummaryWrap">
	{% include "pagination" %}
</div>
{%endblock%}