{% import "forms" as form %}
{%extends "page"%}
{%block content%}
{%include "admin_tabbar" with {'tab': 'general'}%}
<div class="singleColumn gray">
	<form action="/settings/admin/updateServerInfo" method="post" data-ajax>
		<h2>{{L('admin_server_info')}}</h2>
		{{form.start('adminServerInfo', adminServerInfoMessage)}}
			{{form.textInput('server_name', L('admin_server_name'), serverName, {'maxlength': 100, 'required': true})}}
			{{form.textArea('server_description', L('admin_server_description'), serverDescription)}}
			{{form.textArea('server_short_description', L('admin_server_short_description'), serverShortDescription)}}
			{{form.textArea('server_policy', L('admin_server_policy'), serverPolicy, {'explanation': L('admin_server_info_html_explain')})}}
			{{form.textInput('server_admin_email', L('admin_server_admin_email'), serverAdminEmail, {'type': 'email', 'maxlength': 100})}}
			{{form.select('signup_mode', L('admin_signup_mode'), [
				{'value': 'OPEN', 'label': L('admin_signup_mode_open'), 'selected': signupMode=='OPEN'},
				{'value': 'INVITE_ONLY', 'label': L('admin_signup_mode_invite'), 'selected': signupMode=='INVITE_ONLY'},
				{'value': 'MANUAL_APPROVAL', 'label': L('admin_signup_mode_approval'), 'selected': signupMode=='MANUAL_APPROVAL'},
				{'value': 'CLOSED', 'label': L('admin_signup_mode_closed'), 'selected': signupMode=='CLOSED'}
			], {'explanation': L('admin_signup_mode_explain')})}}
			{{ form.checkBox('signup_confirm_email', null, L('admin_require_email_confirm'), signupConfirmEmail) }}
			{{ form.checkBox('signup_enable_captcha', L('admin_enable_captcha'), L('admin_captcha_signup_form'), signupEnableCaptcha) }}
			{{form.footer(L('save'))}}
		{{form.end()}}
		<input type="hidden" name="csrf" value="{{csrf}}"/>
	</form>
</div>
{%endblock%}