<p>{{L('choose_access_level_for_X', {'name': targetAccount.user.firstLastAndGender})}}</p>
<input type="hidden" name="accountID" value="{{targetAccount.id}}"/>
<div class="radioButtonWrap">
	<input type="radio" name="level" value="REGULAR" id="accessLevelRegular"{%if targetAccount.accessLevel=='REGULAR'%} checked{%endif%}/>
	<label for="accessLevelRegular">{{L('access_level_regular')}}</label>
</div>
<div class="radioButtonWrap">
	<input type="radio" name="level" value="MODERATOR" id="accessLevelModerator"{%if targetAccount.accessLevel=='MODERATOR'%} checked{%endif%}/>
	<label for="accessLevelModerator">{{L('access_level_moderator')}}</label>
</div>
<div class="radioButtonWrap">
	<input type="radio" name="level" value="ADMIN" id="accessLevelAdmin"{%if targetAccount.accessLevel=='ADMIN'%} checked{%endif%}/>
	<label for="accessLevelAdmin">{{L('access_level_admin')}}</label>
</div>