{# @pebvariable name="userPermissions" type="smithereen.model.UserPermissions" #}
<div class="tabbar">
	{% if userPermissions.hasPermission('MANAGE_SERVER_SETTINGS') %}
	<a href="/settings/admin" class="{% if tab=='general' %}selected{% endif %}">{{L('admin_server_settings')}}</a>
	{% endif %}
	{% if userPermissions.hasPermission('MANAGE_SERVER_RULES') %}
	<a href="/settings/admin/rules" class="{% if tab=='rules' %}selected{% endif %}">{{ L('admin_server_rules') }}</a>
	{% endif %}
	{% if userPermissions.hasPermission('MANAGE_ROLES') %}
	<a href="/settings/admin/roles" class="{% if tab=='roles' %}selected{% endif %}">{{L('admin_roles')}}</a>
	{% endif %}
	{% if userPermissions.hasPermission('VIEW_SERVER_AUDIT_LOG') %}
	<a href="/settings/admin/auditLog" class="{% if tab=='auditLog' %}selected{% endif %}">{{ L('admin_audit_log') }}</a>
	{% endif %}
	{% if userPermissions.hasPermission('MANAGE_FASPS') %}
	<a href="/settings/admin/fasp" class="{% if tab=='fasp' %}selected{% endif %}">{{ L('admin_fasps') }}{% if unconfirmedFaspRequests>0 %} (<b>{{ unconfirmedFaspRequests | numberformat }}</b>){% endif %}</a>
	{% endif %}
	{% if userPermissions.hasPermission('MANAGE_SERVER_SETTINGS') %}
	<a href="/settings/admin/other" class="{% if tab=='other' %}selected{% endif %}">{{L('admin_other')}}</a>
	{% endif %}
</div>