{% extends "page" %}
{% block content %}
{% if message is not empty %}<div class="marginsAreMessy"></div><div class="settingsMessage">{{ message }}</div>{% endif %}
{% include "admin_users_tabbar" with {'tab': 'users'} %}
<div class="gray borderBottom">
	<div class="searchFieldWrap singleColumn">
		<input type="text" autocomplete="off" class="searchField" placeholder="{{ L('search_users') }}" value="{{ query }}" id="userSearch" data-base-url="{{ urlPath }}" data-extra-fields="emailDomain,lastIP,role,banStatus"/>
	{% script %}
		initAjaxSearch("userSearch");
	{% endscript %}
	</div>
</div>
<div id="ajaxUpdatable">
{% block ajaxPartialUpdate %}
	{% if not isMobile %}
	<div class="summaryWrap">
		<div class="summary">{{ L(hasFilters ? 'summary_X_users_found' : 'summary_X_users', {'count': totalItems}) }}</div>
		{% include "pagination" %}
	</div>
	{% endif %}
	<div class="withRightColumnFilters">
		<div class="leftColumn">
		{% for user in items %}
			<div class="listItemWithDivider adminInfoGrid">
				<div class="spanAll avaAndName">
					<div class="avaW">{{ users[user.userID] | pictureForAvatar('a', 30) }}</div>
					<div><a href="/users/{{ user.userID }}/meminfo"><b>{{ users[user.userID] | name("complete") }}</b></a></div>
					<div class="grayText">@{{ users[user.userID].fullUsername }}, ID {{ user.userID }}</div>
				</div>
				{% if user.lastActive is not null %}
					<div class="ellipsize spanAll">
						<span class="grayText">{{ L('admin_last_user_activity') }}:</span>
						{{ LD(user.lastActive) }}
						{%- if user.lastIP is not null %}, {{ user.lastIP.hostAddress }}{% endif %}
					</div>
				{% endif %}
				{% if user.accountID!=0 %}
				<div class="ellipsize">
					<span class="grayText">{{ L('email') }}:</span>
					{{ user.emailDomain }}
				</div>
				<div class="ellipsize">
					<span class="grayText">{{ L('role') }}:</span>
					{% if user.role!=0 %}
					{{ rolesMap[user.role].langKey is empty ? rolesMap[user.role].name : L(rolesMap[user.role].langKey) }}
					{% else %}
					<i>{{ L('role_none') }}</i>
					{% endif %}
				</div>
				{% endif %}
			</div>
		{% else %}
			<div class="emptyState">{{ L('no_users_found') }}</div>
		{% endfor %}
		</div>
		<div class="filters">
			<a class="filterItem{{ location is null ? ' selected' : '' }}" href="{{ addQueryParams(urlPath, {'location': null, 'offset': null}) }}" data-ajax>{{ L('admin_user_location_any') }}</a>
			<a class="filterItem{{ location=='local' ? ' selected' : '' }}" href="{{ addQueryParams(urlPath, {'location': 'local', 'offset': null}) }}" data-ajax>{{ L('admin_user_location_local') }}</a>
			<a class="filterItem{{ location=='remote' ? ' selected' : '' }}" href="{{ addQueryParams(urlPath, {'location': 'remote', 'offset': null}) }}" data-ajax>{{ L('admin_user_location_remote') }}</a>
			<hr/>
			<div class="filterFieldBlock">
				<label for="emailDomain">{{ L('admin_user_email_domain') }}</label>
				<input type="text" name="emailDomain" id="emailDomain" value="{{ emailDomain }}" placeholder="gmail.com"/>
			</div>
			<div class="filterFieldBlock">
				<label for="lastIP">{{ L('admin_user_ip_or_subnet') }}</label>
				<input type="text" name="lastIP" id="lastIP" value="{{ lastIP }}" placeholder="123.0.0.0/8"/>
			</div>
			<div class="filterFieldBlock">
				<label for="role">{{ L('role') }}</label>
				<select name="role" id="role">
					<option value=""{{ roleID==0 ? ' selected' : '' }}>{{ L('any_role') }}</option>
					{% for role in allRoles %}
					<option value="{{ role.id }}"{{ roleID==role.id ? ' selected' : '' }}>{{ role.langKey is empty ? role.name : L(role.langKey) }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="filterFieldBlock">
				<label for="banStatus">{{ L('admin_users_ban_status') }}</label>
				<select name="banStatus" id="banStatus">
					<option{{ banStatus is null ? ' selected' : '' }}>{{ L('admin_users_any_ban_status') }}</option>
					<option value="NONE"{{ banStatus=='NONE' ? ' selected' : '' }}>{{ L('admin_users_ban_status_none') }}</option>
					<option value="FROZEN"{{ banStatus=='FROZEN' ? ' selected' : '' }}>{{ L('admin_users_ban_status_frozen') }}</option>
					<option value="SUSPENDED"{{ banStatus=='SUSPENDED' ? ' selected' : '' }}>{{ L('admin_users_ban_status_suspended') }}</option>
					<option value="HIDDEN"{{ banStatus=='HIDDEN' ? ' selected' : '' }}>{{ L('admin_users_ban_status_hidden') }}</option>
					<option value="SELF_DEACTIVATED"{{ banStatus=='SELF_DEACTIVATED' ? ' selected' : '' }}>{{ L('admin_users_ban_status_self_deactivated') }}</option>
					<option value="REMOTE_SUSPENDED"{{ banStatus=='REMOTE_SUSPENDED' ? ' selected' : '' }}>{{ L('admin_users_ban_status_remote_suspended') }}</option>
				</select>
			</div>
		</div>
	</div>
	<div class="bottomSummaryWrap">{% include "pagination" %}</div>
{% endblock %}
</div>
{% endblock %}
