<div class="tabbar">
	<a href="/my/bookmarks" class="{{ tab=='people' ? "selected" : "" }}">{{ L('bookmarks_people') }}</a>
	<a href="/my/bookmarks/groups" class="{{ tab=='groups' ? "selected" : "" }}">{{ L('bookmarks_communities') }}</a>
	<a href="/my/bookmarks/posts" class="{{ tab=='posts' ? "selected" : "" }}">{{ L('bookmarks_posts') }}</a>
</div>