<div class="tabbar">
	<a href="/my/events" class="{% if tab=="events" %}selected{% endif %}">{{ L('events_upcoming') }}</a>
	<a href="/my/events/past" class="{% if tab=="past" %}selected{% endif %}">{{ L('events_past') }}</a>
	<a href="/my/events/calendar" class="{% if tab=="calendar" %}selected{% endif %}">{{ L('events_calendar') }}</a>
	{%if userNotifications.newEventInvitationsCount>0%}
	<a href="/my/events/invites" class="{%if tab=="invites"%}selected{%endif%}">{{ L('group_invitations')}} ({{ userNotifications.newEventInvitationsCount }})</a>
	{%endif%}
	<span class="aux"><a href="/my/events/create" data-ajax-box="1">{{ L('create_event') }}</a></span>
</div>
