{# @pebvariable name="entry" type="smithereen.data.feed.NewsfeedEntry" #}
{%if entry.type=="POST"%}
<div class="feedRow feedPostRow" id="postWrap{{ entry.post.id }}">
		{%include "wall_post" with {'post': entry.post}%}
</div>
{%elseif entry.type=="RETOOT"%}
<div class="feedRow feedPostRow">
	<div class="feedIcon feedIconStatus"></div>
	<div class="feedRowTime">{{ formatTime(entry.time) }}</div>
	<div class="feedRowContent">
		{{ L(entry.post.replyLevel==0 ? 'feed_retoot_before' : 'feed_retoot_before_comment', {'gender': entry.author.gender}) -}}
		<a href="{{entry.author.profileURL}}">{{entry.author.fullName}}</a>
		{{- L(entry.post.replyLevel==0 ? 'feed_retoot_after' : 'feed_retoot_after_comment', {'gender': entry.author.gender}) -}}
	</div>
	{%include "wall_post" with {'post': entry.post}%}
</div>
{% elseif entry.nonPost %}
{% if entry.type=="ADD_FRIEND" %}
	{% set icon="Add" %}
	{% set langKey="added_friend" %}
	{% set targetHref=entry.friend.profileURL %}
	{% set targetName=L('feed_added_friend_name', {'name': entry.friend.firstLastAndGender}) %}
{% elseif entry.type=="JOIN_GROUP" or entry.type=="CREATE_GROUP" %}
	{% set icon="Group" %}
	{% set langKey=(entry.type=="CREATE_GROUP" ? "created_group" : "joined_group") %}
	{% set targetHref=entry.group.profileURL %}
	{% set targetName=entry.group.name %}
{% elseif entry.type=="JOIN_EVENT" or entry.type=="CREATE_EVENT" %}
	{% set icon="Event" %}
	{% set langKey=(entry.type=="CREATE_EVENT" ? "created_event" : "joined_event") %}
	{% set targetHref=entry.event.profileURL %}
	{% set targetName=entry.event.name %}
{% endif %}
<div class="feedRow">
	<div class="feedIcon feedIcon{{ icon }}"></div>
	<div class="feedRowTime">{{ formatTime(entry.time) }}</div>
	<div class="feedRowContent">
		{{ L("feed_#{langKey}", {'author': entry.author.completeName, 'target': targetName, 'gender': entry.author.gender}, {'author': {'href': entry.author.profileURL}, 'target': {'href': targetHref} }) }}
	</div>
</div>
{%else%}
<div class="feedRow">Unknown entry type {{ entry.type }}</div>
{%endif%}
