{# @pebvariable name="entry" type="smithereen.model.feed.NewsfeedEntry" #}
{% set author=entry.authorID>0 ? users[entry.authorID] : groups[-entry.authorID] %}
{% if entry.type=="POST" and posts[entry.objectID] is not null %}
<div class="feedRow feedPostRow" id="postWrap{{ entry.objectID }}">
	{%include "wall_post" with {'post': posts[entry.objectID]}%}
</div>
{% elseif entry.type=="GROUPED" %}
	{% set langArgs={'author': author | name("complete"), 'gender': author.gender, 'count': entry.childEntries | length} %}
	{% set langLinks={'author': {'href': profileURL(entry.authorID)} } %}
	{% if entry.childEntriesType=="ADD_FRIEND" %}
		{% set icon="Add" %}
		{% set langKey="added_multiple_friends" %}
	{% elseif entry.childEntriesType=="JOIN_GROUP" %}
		{% set icon="Group" %}
		{% set langKey="joined_multiple_groups" %}
	{% elseif entry.childEntriesType=="JOIN_EVENT" %}
		{% set icon="Event" %}
		{% set langKey="joined_multiple_events" %}
	{% elseif entry.childEntriesType=="ADD_PHOTO" %}
		{% set icon="Photo" %}
		{% set langKey=entry.authorID>0 ? "added_multiple_photos" : "group_added_multiple_photos" %}
		{% set _=langArgs.put('albumCount', entry.extraData['albums'] | length) %}
		{% set albumLinks=[] %}
		{% for album in entry.extraData['albums'] %}
		    {% set _=albumLinks.add('<a href="'+album.url+'">'+(album.title | forceEscape)+"</a>") %}
		{% endfor %}
		{% set _=langArgs.put('albums', albumLinks | join(L('feed_links_separator').toString()) | raw) %}
	{% elseif entry.childEntriesType=="PHOTO_TAG" %}
		{% set icon="Photo" %}
		{% set langKey="tagged_in_multiple_photos" %}
		{% set _=langArgs.put('albumCount', entry.extraData['albums'] | length) %}
		{% set albumLinks=[] %}
		{% for album in entry.extraData['albums'] %}
		    {% set _=albumLinks.add('<a href="'+album.url+'">'+(album.title | forceEscape)+"</a>") %}
		{% endfor %}
		{% set _=langArgs.put('albums', albumLinks | join(L('feed_links_separator').toString()) | raw) %}
	{% endif %}
<div class="feedRow">
	<div class="feedIcon feedIcon{{ icon }}"></div>
	<div class="feedRowTime">{{ formatTime(entry.time) }}</div>
	<div class="feedRowContent">
		{{ L("feed_#{langKey}", langArgs, langLinks) }}
		{% if entry.childEntriesType=="ADD_PHOTO" or entry.childEntriesType=="PHOTO_TAG" %}
		<div class="feedRowPhotos">
		{% set entryPhotos=[] %}
		{% for ce in entry.mostRecentEntries %}
		    {% set _=entryPhotos.add(photos[ce.objectID]) %}
		{% endfor %}
		{{ renderPhotoGrid(entryPhotos, "#{groupedPhotosList | default('friendsFeedGrouped')}/#{entry.childEntries.first.id}") }}
		</div>
		{% else %}
		<div class="feedRowUsers">
				{% for ce in entry.mostRecentEntries %}
				{% if ce.type=="ADD_FRIEND" %}
				<div class="feedRowUser">
					{% set friend=users[ce.objectID] %}
					<a href="{{ friend.profileURL }}">
						{{ friend | pictureForAvatar('a') }}
						<div class="feedRowUserName">{{ friend | name("first") }}</div>
						<div class="feedRowUserName">{{ friend | name("last") }}</div>
					</a>
				</div>
				{% elseif ce.type=="JOIN_GROUP" %}
				<div class="feedRowUser">
					{% set group=groups[ce.objectID] %}
					<a href="{{ profileURL(-ce.objectID) }}">
						{{ group | pictureForAvatar('a') }}
						<div class="feedRowUserName">{{ group | name }}</div>
					</a>
				</div>
				{% elseif ce.type=="JOIN_EVENT" %}
				<div class="feedRowUser">
					{% set event=groups[ce.objectID] %}
					<a href="{{ profileURL(-ce.objectID) }}">
						{{ event | pictureForAvatar('a') }}
						<div class="feedRowUserName">{{ event | name }}</div>
					</a>
				</div>
				{% endif %}
				{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% elseif entry.nonPost %}
{% if entry.type=="ADD_FRIEND" %}
	{% set friend=users[entry.objectID] %}
	{% set icon="Add" %}
	{% set langKey="added_friend" %}
	{% set targetHref=profileURL(entry.objectID) %}
	{% set targetName=L('feed_added_friend_name', {'name': friend | name('fullAndGender')}) %}
{% elseif entry.type=="JOIN_GROUP" or entry.type=="CREATE_GROUP" %}
	{% set group=groups[entry.objectID] %}
	{% set icon="Group" %}
	{% set langKey=(entry.type=="CREATE_GROUP" ? "created_group" : "joined_group") %}
	{% set targetHref=profileURL(-entry.objectID) %}
	{% set targetName=group | name %}
{% elseif entry.type=="JOIN_EVENT" or entry.type=="CREATE_EVENT" %}
	{% set event=groups[entry.objectID] %}
	{% set icon="Event" %}
	{% set langKey=(entry.type=="CREATE_EVENT" ? "created_event" : "joined_event") %}
	{% set targetHref=profileURL(-entry.objectID) %}
	{% set targetName=event | name %}
{% elseif entry.type=="ADD_PHOTO" %}
	{% set album=entry.extraData['album'] %}
	{% set icon="Photo" %}
	{% set langKey=entry.authorID>0 ? "added_photo" : "group_added_photo" %}
	{% set targetHref=album.url %}
	{% set targetName=album.title %}
{% elseif entry.type=="PHOTO_TAG" %}
	{% set album=entry.extraData['album'] %}
	{% set icon="PhotoTag" %}
	{% set langKey="tagged_in_photo" %}
	{% set targetHref=album.url %}
	{% set targetName=album.title %}
{% endif %}
<div class="feedRow">
	<div class="feedIcon feedIcon{{ icon }}"></div>
	<div class="feedRowTime">{{ formatTime(entry.time) }}</div>
	<div class="feedRowContent">
		{{ L("feed_#{langKey}", {'author': author | name('complete'), 'target': targetName, 'gender': author.gender}, {'author': {'href': profileURL(entry.authorID)}, 'target': {'href': targetHref} }) }}
		{% if entry.type=="ADD_PHOTO" or entry.type=="PHOTO_TAG" %}
		<div class="feedRowPhotos">{{ renderPhotoGrid([photos[entry.objectID]], "#{photosList | default('friendsFeed')}/#{entry.id}") }}</div>
		{% endif %}
	</div>
</div>
{%else%}
<div class="feedRow">Unknown entry type {{ entry.type }}</div>
{%endif%}
