<div class="pageFooter">
	<div class="footerNav">
		<a href="/system/about">{{ L('footer_about_server') }}</a>
		<a href="/system/privacyPolicy">{{ L('footer_privacy_policy') }}</a>
		<a href="/system/languageChooser" data-ajax-box>{{ L('footer_language', {'langName': langName}) }}</a>
		<a href="https://github.com/grishka/Smithereen" target="_blank">{{ L('footer_source_code') }}</a>
	</div>
	<a href="https://smithereen.software" target="_blank">Smithereen</a> {{ serverVersion }}
</div>
