<div class="tabbar">
	<a href="/users/{{ owner.id }}/friends" class="{%if tab=="friends"%}selected{%endif%}">{{ currentUser is not null and currentUser.id==owner.id ? L('friends') : L('user_friends', {'name': owner.firstAndGender}) }}</a>
	{% if mutualCount>0 %}
	<a href="/users/{{ owner.id }}/friends/mutual" class="{%if tab=="mutual"%}selected{%endif%}">{{L('X_mutual_friends_short', {'count': mutualCount})}}</a>
	{% endif %}
	{% if not selectionMode %}
	<a href="/users/{{ owner.id }}/followers" class="{%if tab=="followers"%}selected{%endif%}">{{L('followers')}}</a>
	<a href="/users/{{ owner.id }}/following" class="{%if tab=="following"%}selected{%endif%}">{{L('following')}}</a>
	{%if currentUser is not null and currentUser.id==owner.id%}
	{%if userNotifications.newFriendRequestCount>0%}
	<a href="/my/incomingFriendRequests" class="{%if tab=="requests"%}selected{%endif%}">{{ L('friend_requests')}} ({{ userNotifications.newFriendRequestCount }})</a>
	{%endif%}
	{%endif%}
	<span class="aux"><a href="{{ owner.profileURL }}">{{ L('back_to_profile') }}</a></span>
	{% endif %}
</div>
