<div class="tabbar">
	<a href="{{owner.getProfileURL('friends')}}" class="{%if tab=="friends"%}selected{%endif%}">{{L('friends')}}</a>
	{% if mutualCount>0 %}
	<a href="{{owner.getProfileURL('friends/mutual')}}" class="{%if tab=="mutual"%}selected{%endif%}">{{LP('X_mutual_friends_short', mutualCount)}}</a>
	{% endif %}
	<a href="{{owner.getProfileURL('followers')}}" class="{%if tab=="followers"%}selected{%endif%}">{{L('followers')}}</a>
	<a href="{{owner.getProfileURL('following')}}" class="{%if tab=="following"%}selected{%endif%}">{{L('following')}}</a>
	{%if currentUser is not null and currentUser.id==owner.id%}
	{%if userNotifications.newFriendRequestCount>0%}
	<a href="/my/incomingFriendRequests" class="{%if tab=="requests"%}selected{%endif%}">{{LP('X_friend_requests', userNotifications.newFriendRequestCount)}}</a>
	{%endif%}
	{%endif%}
</div>
