{%extends "page"%}
{%block content%}
<center class="notMuchContent">
	<p>{{error}}</p>
	{% if details is not empty %}
	<input type="checkbox" class="toggler" id="errorDetailsExpander"/>
	<p class="toggled">
		<label for="errorDetailsExpander" class="link hideWhenOn">{{ L("show_technical_details") }} &raquo;</label>
		<div class="showWhenOn">{{ details }}</div>
	</p>
	{% endif %}
	<a href="{{back}}" class="button" id="button">{{L("go_back")}}</a>
	<script>
		var btn=document.getElementById("button");
		if(window.opener){
			btn.innerHTML="{{L('close_this_window')}}";
		}
		btn.onclick=function(ev){
			ev.preventDefault();
			if(window.opener)
				window.close();
			else
				history.back(1);
		};
	</script>
</center>
{%endblock%}