{# @pebvariable name="group" type="smithereen.model.Group" #}
{# @pebvariable name="tab" type="String" #}
<div class="tabbar">
	{% if adminLevel is null or adminLevel.isAtLeast('ADMIN') %}
	<a href="/groups/{{ group.id }}/edit" class="{{ tab=='general' ? 'selected' : '' }}">{{ L('profile_edit_basic') }}</a>
	{% endif %}
	<a href="/groups/{{ group.id }}/editMembers" class="{{ tab=='members' ? 'selected' : '' }}">{{ L('members') }}</a>
	<a href="/groups/{{ group.id }}/editBlocking" class="{{ tab=='blocking' ? "selected" : "" }}" >{{ L('settings_blocking') }}</a>
	<span class="aux"><a href="{{ group.profileURL }}">{{ L(group.event ? 'back_to_event' : 'back_to_group') }}</a></span>
</div>