{# @pebvariable name="group" type="smithereen.model.Group" #}
{% import "forms" as form %}
{% extends "page" %}
{% block content %}
{% include "group_admin_tabbar" with {'tab': 'general'} %}
<div class="singleColumn gray wideForms">
	<form action="/groups/{{ group.id }}/saveGeneral" method="post" data-ajax>
		{{ form.start('groupEdit', groupEditMessage) }}
			{{ form.textInput('name', L('group_name'), group.name, {'maxlength': 200, 'required': true}) }}
			{{ form.textArea('about', L(group.event ? 'about_event' : 'about_group'), group.aboutSource) }}
			{{ form.textInput('username', L('group_username'), group.username, {'prefix': "#{serverDomain}/", 'autocomplete': false, 'maxlength': 50, 'required': true, 'pattern': '[a-zA-Z][a-zA-Z0-9\._\-]+', 'explanation': L('username_explain')}) }}
			{% if group.event %}
			{{ form.dateTimeInput('event_start', L('event_start_time'), group.eventStartTime) }}
			{{ form.dateTimeInput('event_end', L('event_end_time'), group.eventEndTime) }}
			{% endif %}
			{{ form.radioGroup(
				'access',
				L('group_access_type'),
				group.event ? [
					{'value': 'OPEN', 'label': L('group_access_open'), 'selected': group.accessType=='OPEN', 'explanation': L('event_access_open_explain')},
					{'value': 'PRIVATE', 'label': L('group_access_private'), 'selected': group.accessType=='PRIVATE', 'explanation': L('event_access_private_explain')}
				] : [
					{'value': 'OPEN', 'label': L('group_access_open'), 'selected': group.accessType=='OPEN', 'explanation': L('group_access_open_explain')},
					{'value': 'CLOSED', 'label': L('group_access_closed'), 'selected': group.accessType=='CLOSED', 'explanation': L('group_access_closed_explain')},
					{'value': 'PRIVATE', 'label': L('group_access_private'), 'selected': group.accessType=='PRIVATE', 'explanation': L('group_access_private_explain')}
				]
			) }}
			{{ form.footer(L('save')) }}
		{{ form.end() }}
		<input type="hidden" name="csrf" value="{{csrf}}"/>
	</form>

	<noscript>
		<form action="/settings/updateProfilePicture?csrf={{csrf}}&group={{ group.id }}" method="post" enctype="multipart/form-data">
			<h2>{{L('update_profile_picture')}}</h2>
			{%if profilePicMessage%}<div class="settingsMessage">{{profilePicMessage}}</div>{%endif%}
			<table class="form">
				<tr><td class="label"></td><td><input type="file" name="pic" accept="image/*"/></td></tr>
				<tr class="footer"><td class="label"></td><td><input type="submit" value="{{L('save')}}"/></td></tr>
			</table>
		</form>
	</noscript>
</div>
{% endblock %}
