{# @pebvariable name="userNotifications" type="smithereen.model.notifications.UserNotifications" #}
{# @pebvariable name="adminNotifications" type="smithereen.model.admin.AdminNotifications" #}
{# @pebvariable name="birthdayUsers" type="smithereen.model.User[]" #}
{# @pebvariable name="eventReminderEvents" type="smithereen.model.Group[]" #}
{# @pebvariable name="userPermissions" type="smithereen.model.UserPermissions" #}
{% macro menuCounter(count, id) %}<span id="menuCounter_{{ id }}" style="{{ count>0 ? '' : 'display: none' }}"> (<b id="menuCounterValue_{{ id }}">{{ count | numberformat }}</b>)</span>{% endmacro %}
<ul class="actionList">
	{% if currentUser is not null %}
	<li class="hasAux"><a href="/{{currentUser.username}}" class="actionMain" id="myProfileLink">{{L('menu_profile')}}</a><a href="/settings/profile/general" class="actionAux">{{L('menu_edit')}}</a></li>
	<li><a href="/my/friends">{{L('menu_friends')}}{{ menuCounter(userNotifications.newFriendRequestCount, 'friends') }}</a></li>
	<li><a href="/my/albums">{{ L('menu_photos') }}{{ menuCounter(userNotifications.newPhotoTagCount, 'photos') }}</a></li>
	<li><a href="/my/mail">{{ L('menu_mail') }}{{ menuCounter(userNotifications.unreadMailCount, 'mail') }}</a></li>
	<li><a href="/my/groups">{{ L('menu_groups') }}{{ menuCounter(userNotifications.newGroupInvitationsCount, 'groups') }}</a></li>
	<li><a href="/my/events">{{ L('menu_events') }}{{ menuCounter(userNotifications.newEventInvitationsCount, 'events') }}</a></li>
	<li><a href="/feed">{{L('menu_news')}}</a></li>
	<li><a href="/my/notifications">{{L('menu_notifications')}}{{ menuCounter(userNotifications.newNotificationsCount, 'notifications') }}</a></li>
	<li><a href="/my/bookmarks">{{ L('menu_bookmarks') }}</a></li>
	<li><a href="/settings">{{L('menu_settings')}}</a></li>
	{% if userPermissions.role is not null %}
	<li class="separator"></li>
	{% if userPermissions.hasAnyPermission(['MANAGE_SERVER_SETTINGS', 'MANAGE_SERVER_RULES', 'MANAGE_ROLES', 'VIEW_SERVER_AUDIT_LOG']) %}<li><a href="/settings/admin">{{L('menu_admin')}}</a></li>{% endif %}
	{% if userPermissions.hasAnyPermission(['MANAGE_USERS', 'MANAGE_INVITES']) %}<li><a href="/settings/admin/users">{{ L('menu_users') }}</a></li>{% endif %}
	{% if userPermissions.hasPermission('MANAGE_INVITES') and (serverSignupMode=='MANUAL_APPROVAL' or adminNotifications.signupRequestsCount>0) %}<li><a href="/settings/admin/signupRequests">{{ L('menu_signup_requests') }}{{ menuCounter(adminNotifications.signupRequestsCount, 'adminSignupRequests') }}</a></li>{% endif %}
	{% if userPermissions.hasPermission('MANAGE_REPORTS') %}<li><a href="/settings/admin/reports">{{ L('menu_reports') }}{{ menuCounter(adminNotifications.openReportsCount, 'adminReports') }}</a></li>{% endif %}
	{% if userPermissions.hasAnyPermission(['MANAGE_FEDERATION', 'MANAGE_BLOCKING_RULES']) %}<li><a href="/settings/admin/federation">{{ L('menu_access') }}</a></li>{% endif %}
	{% endif %}
	{% else %}
	<li><a href="/account/login">{{ L('log_in') }}</a></li>
	<li><a href="/account/register">{{ L('register') }}</a></li>
	{%endif%}
	{% if isMobile and currentUser is not null %}
	<li class="separator"></li>
	{% if userPermissions.canInviteNewUsers %}<li><a href="/settings/invites">{{ L('invite_users') }}</a></li>{% endif %}
	<li><a href="/account/logout?csrf={{ csrf }}">{{ L('log_out') }}</a></li>
	{% endif %}
</ul>
{% if announcements is not empty %}
{% for announcement in announcements %}
<div class="leftReminder">
	<h3>{{ announcement.title | default(L('announcement')) }}</h3>
	{{ announcement.description }}
	{% if announcement.linkText is not empty %}<br/><br/><a href="{{ announcement.linkURL }}"{% if announcement.linkTargetBlank %} target="_blank"{% endif %}>{{ announcement.linkText }}</a>{% endif %}
</div>
{% endfor %}
{% endif %}
{% if birthdayUsers is not empty %}
<div class="leftReminder">
	<h3>{{ L('reminder') }}</h3>
	{%- set birthdayLinks='' -%}
	{%- for user in birthdayUsers -%}
		{%- set birthdayLinks=birthdayLinks+'<a href="'+user.profileURL+'">'+L('birthday_reminder_name', {'name': user.firstLastAndGender})+'</a>' -%}
		{%- if not loop.last -%}
		{%- set birthdayLinks=birthdayLinks+L(loop.revindex>1 ? 'birthday_reminder_separator' : 'birthday_reminder_separator_last') -%}
		{%- endif -%}
	{%- endfor -%}
	{{- L('birthday_reminder', {'count': birthdayUsers | length, 'names': birthdayLinks | raw, 'day' : birthdaysAreToday ? 'today' : 'tomorrow'}, {'calendar': {'href': '/my/events/calendar'} }) -}}
</div>
{% endif %}
{% if eventReminderEvents is not empty %}
<div class="leftReminder">
	<h3>{{ L('reminder') }}</h3>
	{%- set eventLinks='' -%}
	{%- for event in eventReminderEvents -%}
		{%- set eventLinks=eventLinks+'<a href="'+event.profileURL+'">'+(event.name | escape)+'</a>' -%}
		{%- if not loop.last -%}
		{%- set eventLinks=eventLinks+L(loop.revindex>1 ? 'event_reminder_separator' : 'event_reminder_separator_last') -%}
		{%- endif -%}
	{%- endfor -%}
	{{- L('event_reminder', {'count': eventReminderEvents | length, 'events': eventLinks | raw, 'day' : eventsAreToday ? 'today' : 'tomorrow'}, {'calendar': {'href': '/my/events/calendar'} }) -}}
</div>
{% endif %}