<ul class="actionList">
	{% if currentUser is not null %}
	<li class="hasAux"><a href="/{{currentUser.username}}" class="actionMain">{{L('menu_profile')}}</a><a href="/settings/profile/general" class="actionAux">{{L('menu_edit')}}</a></li>
	<li><a href="/my/friends">{{L('menu_friends')}}{%if(userNotifications.newFriendRequestCount>0)%} (<b>{{userNotifications.newFriendRequestCount}}</b>){%endif%}</a></li>
	<li><a href="/my/groups">{{ L('menu_groups') }}</a></li>
	<li><a href="/my/events">{{ L('menu_events') }}</a></li>
	<li><a href="/feed">{{L('menu_news')}}</a></li>
	<li><a href="/my/notifications">{{L('menu_notifications')}}{%if(userNotifications.newNotificationsCount>0)%} (<b>{{userNotifications.newNotificationsCount}}</b>){%endif%}</a></li>
	<li><a href="/settings/">{{L('menu_settings')}}</a></li>
	{%if userPermissions.serverAccessLevel.ordinal>=3%}
	<li class="separator"></li>
	<li><a href="/settings/admin">{{L('menu_admin')}}</a></li>
	{%endif%}
	{% else %}
	<li><a href="/account/login">{{ L('log_in') }}</a></li>
	<li><a href="/account/register">{{ L('register') }}</a></li>
	{%endif%}
</ul>
{% if birthdayUsers is not empty %}
<div class="leftReminder">
	<h3>{{ L('reminder') }}</h3>
	{{ L('birthday_reminder_before', {'count': birthdayUsers | length}) -}}
	{%- if L('birthday_reminder_day_pos').toString()!="end" %}{{ L(birthdaysAreToday ? 'birthday_reminder_today' : 'birthday_reminder_tomorrow') }}{% endif -%}
	{{- L('birthday_reminder_middle', {'count': birthdayUsers | length}) -}}
	{%- for user in birthdayUsers -%}
		<a href="{{ user.profileURL }}">{{ L('birthday_reminder_name', {'name': user.firstLastAndGender}) }}</a>
		{%- if not loop.last -%}
		{{- L(loop.revindex>1 ? 'birthday_reminder_separator' : 'birthday_reminder_separator_last') -}}
		{%- endif -%}
	{%- endfor -%}
	{%- if L('birthday_reminder_day_pos').toString()=="end" %}{{ L('birthday_reminder_before_day', {'count': birthdayUsers | length}) }}{{ L(birthdaysAreToday ? 'birthday_reminder_today' : 'birthday_reminder_tomorrow') }}{% endif -%}
	{{- L('birthday_reminder_after', {'count': birthdayUsers | length}) -}}
</div>
{% endif %}
{% if eventReminderEvents is not empty %}
<div class="leftReminder">
	<h3>{{ L('reminder') }}</h3>
	{{ L('event_reminder_before', {'count': eventReminderEvents | length}) -}}
	{%- if L('event_reminder_day_pos').toString()!="end" %}{{ L(eventsAreToday ? 'event_reminder_today' : 'event_reminder_tomorrow') }}{% endif -%}
	{{- L('event_reminder_middle', {'count': eventReminderEvents | length}) -}}
	{%- for event in eventReminderEvents -%}
		<a href="{{ event.profileURL }}">{{ event.name }}</a>
		{%- if not loop.last -%}
		{{- L(loop.revindex>1 ? 'event_reminder_separator' : 'event_reminder_separator_last') -}}
		{%- endif -%}
	{%- endfor -%}
	{%- if L('event_reminder_day_pos').toString()=="end" %}{{ L('event_reminder_before_day', {'count': eventReminderEvents | length}) }}{{ L(eventsAreToday ? 'event_reminder_today' : 'event_reminder_tomorrow') }}{% endif -%}
	{{- L('event_reminder_after', {'count': eventReminderEvents | length}) -}}
</div>
{% endif %}