{# @pebvariable name="paginationOffset" type="int" #}
{# @pebvariable name="paginationPerPage" type="int" #}
{# @pebvariable name="totalItems" type="int" #}
{# @pebvariable name="paginationUrlPrefix" type="String" #}
{# @pebvariable name="paginationFirstPageUrl" type="String" #}
{% if totalItems>paginationOffset+paginationPerPage %}
{% set paginationID=randomString() %}
<div class="ajaxEndlessPagination" id="ajaxPagination_{{ paginationID }}" data-id="{{ paginationID }}">
	<span class="loader" style="display: none"></span>
	<a href="{{ paginationUrlPrefix }}{{ paginationOffset+paginationPerPage }}" id="ajaxPaginationLink_{{ paginationID }}">{{ paginationLinkText | default(L('load_more')) }}</a>
</div>
{% endif %}