{# @pebvariable name="post" type="smithereen.model.viewmodel.PostViewModel" #}
{# @pebvariable name="realPost" type="smithereen.model.Post" #}
{# @pebvariable name="postInteractions" type="smithereen.model.UserInteractions" #}
{# @pebvariable name="topLevelPost" type="smithereen.model.Post" #}
{% set realPost=post.post %}
{% if postInteractions is not null %}
{% set interactions=postInteractions[realPost.getIDForInteractions()] %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
<style>
*{
	box-sizing: border-box;
	overflow-wrap: break-word;
	min-width: 0;
}

body, p, textarea, input, select, button{
	font-family: Tahoma, -apple-system, Roboto, Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #000;
}

body{
	margin: 0;
}

.ellipsize{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

a, .link{
	color: #485c00;
	text-decoration: none;
	cursor: pointer;
}

a:hover, .link:hover{
	text-decoration: underline;
}

#content{
	border-radius: 3px;
	border: 1px solid #e3e1cc;
	padding: 10px 10px 0 10px;
}

.avaImage{
	border-radius: 2px;
	vertical-align: top;
}

.avaHasImage{
	position: relative;
	display: inline-block;
}

.avaHasImage::after{
	content: "";
	display: inline-block;
	border: solid 1px rgba(0,0,0,0.05);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

.avaPlaceholder{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	background-color: #fff;
	background-image: url(/res/ava_question.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: solid 1px #ece5d1;
	box-sizing: border-box;
	border-radius: 2px;
}

.postTime, .grayText{
	color: #777;
}

.postName{
	font-weight: bold;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header{
	display: flex;
	margin-bottom: 10px;
}
.repostHeader{
	display: flex;
	margin: 7px 0;
}
.repostHeader:last-child{
	margin-bottom: 0;
}
.repostHeader .postInfo{
	flex-grow: 1;
	margin-left: 7px;
	line-height: 15px;
}
.header .avaW, .repostHeader .avaW{
	flex: none;
}
.header .postInfo{
	flex-grow: 1;
	margin: 0 10px;
	line-height: 16px;
}
.header .logo{
	width: 23px;
	height: 24px;
	align-self: center;
	flex: none;
}
.postContent{
	line-height: 130%;
}
.postContent p:first-child{
	margin-top: 0;
}
.postContent p:last-child{
	margin-bottom: 0;
}

.expandableText>.full{
	display: none;
}

.textExpander:checked+.expandableText>.full{
	display: block;
}
.textExpander:checked+.expandableText>.truncated, .textExpander:checked+.expandableText>label{
	display: none;
}

.textExpander{
	display: none;
}

.expandableText>label{
	cursor: pointer;
	color: #485c00;
	font-weight: bold;
	opacity: .8;
	transition: opacity .15s ease;
}

.expandableText>label:hover{
	opacity: 1;
}

.postAttachments{
	margin: 0 -10px;
	text-align: center;
}
.postAttachments .aspectWrapper{
	position: relative;
	white-space: nowrap;
	font-size: 0;
}
.postAttachments .aspectBox img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}
.postAttachments .aspectBox>div{
	min-width: 0;
	min-height: 0;
}
.postAttachments video{
	max-width: 100%;
}
.postAttachments .pseudoImage{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 510px;
	vertical-align: bottom;
}
.postAttachments .positioner{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.postAttachments .safariSucks{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.postAttachments .aspectBox{
	white-space: normal;
	overflow: hidden;
	display: grid;
	grid-gap: 2px;
	width: 100%;
	height: 100%;
	margin: auto;
}

.postContent+.postAttachments{
	margin-top: 10px;
}

.repostIcon{
	display: inline-block;
	width: 9px;
	height: 11px;
	margin: 0 3px 0 1px;
	position: relative;
	top: 2px;
	background: url(/res/repost_icons.svg) no-repeat;
}

.postCWWrap .postCWButton {
	background: hsla(56,42%,86%,.5) url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='17' xmlns='http://www.w3.org/2000/svg' fill='rgba(156, 168, 80, 0.7)'%3E%3Cpath d='m18 9-5-5H8.25l3.5 3.5H5v3h6.75L8.25 14H13l5-5z'/%3E%3C/svg%3E") no-repeat 0;
	color: #4e7000;
	cursor: pointer;
	display: block;
	font-weight: 700;
	height: 24px;
	line-height: 24px;
	padding-left: 23px
}

.postCWWrap .poll,.postCWWrap .postAttachments,.postCWWrap .postContent {
	display: none
}

input:checked+.postCWWrap .postCWButton {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='17' xmlns='http://www.w3.org/2000/svg' fill='rgba(156, 168, 80, 0.7)'%3E%3Cpath d='M17 14V6.929L13.641 3.57v4.95L8.868 3.747 6.747 5.868l4.773 4.773H6.57L9.93 14H17z'/%3E%3C/svg%3E")
}

input:checked+.postCWWrap .poll,input:checked+.postCWWrap .postAttachments,input:checked+.postCWWrap .postContent {
	display: block
}

.metricsW{
	padding-bottom: 10px;
}

.metrics{
	display: flex;
	padding-top: 10px;
	margin-top: 10px;
	border-top: solid 1px #e3e1cc;
	font-weight: bold;
	color: #B6BE99;
}

.metrics.afterAttachments{
	margin-top: 0;
	border: none;
}

.metrics>div{
	margin-right: 15px;
}

.metrics .icon{
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-right: 5px;
	background: url(/res/like_embed.svg) no-repeat;
	position: relative;
	top: 2px;
}

.metrics .icon.comment{
	background-position: 0 -22px;
}

.metrics .icon.repost{
	background-position: 0 -11px;
}

h3{
	border-bottom: 1px solid #ecebe2;
	color: #4e7000;
	font-weight: 700;
	margin: 0;
	padding-bottom: 2px;
	font-size: 11px;
}

.poll .pollResultRow{
	margin: 10px 0
}

.poll .pollResultRow .pollResultBarW{
	display: flex;
	line-height: 15px;
	margin-top: 2px
}

.poll .pollResultRow .pollResultPercent{
	font-weight: 700;
	text-align: right;
	width: 45px
}

.poll .pollResultRow .pollResultBarBG{
	background-color: #f7f7f7;
	flex-grow: 1;
	height: 15px;
	position: relative
}

.poll .pollResultRow .pollResultNumVotes{
	color: #abaf72;
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%
}

.poll .pollResultRow .pollResultBarFG{
	background-color: #eae8cb;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform-origin: 0;
	width: 100%
}

@media (hover: none){ /* larger font size on mobile devices */
	body, p, textarea, input, select, button, h3{
		font-size: 13px;
	}
}
</style>
</head>
<body>
<div id="content">
	<div class="header">
		<a href="{{ profileURL(realPost.authorID) }}" target="_blank" class="avaW">{{ users[realPost.authorID] | pictureForAvatar('a', 32) }}</a>
		<div class="postInfo">
			<div class="ellipsize"><a href="{{ profileURL(realPost.authorID) }}" class="postName" target="_blank">{{ users[realPost.authorID] | name }}</a></div>
			{% if realPost.replyLevel==0 %}
			<div><a href="{{ realPost.internalURL }}" target="_blank" class="postTime">{{ LD(realPost.createdAt) }}</a></div>
			{% else %}
			<div class="ellipsize grayText">
				{%- if topLevelPost is not null %}
				{{ L('comment_repost_title', {'time': LD(realPost.createdAt), 'postSnippet': topLevelPost.shortTitle | default(LD(topLevelPost.createdAt))}, {'originalComment': {'href': realPost.internalURL, 'class': 'grayText', 'target': '_blank'}, 'topLevelPost': {'href': topLevelPost.internalURL, 'target': '_blank'} }) }}
				{%- else -%}
				{{ L('comment_deleted_repost_title', {'time': LD(realPost.createdAt)}, {'originalComment': {'href': realPost.internalURL, 'class': 'grayText', 'target': '_blank'} }) }}
				{%- endif -%}
			</div>
			{% endif %}
		</div>
		<div class="logo">
		<svg width="23" height="24" xmlns="http://www.w3.org/2000/svg">
			<g>
				<rect width="23" height="19" rx="2" ry="2" fill="#4c6e00"/>
				<rect x="5.73" y="9.44" width="11.61" height="11.61" transform="translate(-7.4 12.62) rotate(-45)" fill="#4c6e00"/>
			</g>
			<g>
				<circle cx="11.5" cy="15.5" r="1.5" fill="#fff"/>
				<path d="M13,4.5c0,.83-.67,7.5-1.5,7.5S10,5.33,10,4.5a1.5,1.5,0,0,1,3,0Z" fill="#fff"/>
			</g>
        </svg>
		</div>
	</div>
	{% set afterAttachments=false %}
	{% include "post_embed_inner" with {'post': post, 'repostDepth': 0} %}
	{% set realPost=post.post %}
	{% set postInteractions=interactions[realPost.id] %}
	<div class="metricsW">
		{% if postInteractions.likeCount>0 or postInteractions.repostCount>0 or realPost.replyCount>0 %}
		<div class="metrics{{ afterAttachments ? ' afterAttachments' : '' }}">
			{% if realPost.replyCount>0 %}<div><span class="icon comment"></span>{{ realPost.replyCount | numberformat }}</div>{% endif %}
			{% if postInteractions.likeCount>0 %}<div><span class="icon like"></span>{{ postInteractions.likeCount | numberformat }}</div>{% endif %}
			{% if postInteractions.repostCount>0 %}<div><span class="icon repost"></span>{{ postInteractions.repostCount | numberformat }}</div>{% endif %}
		</div>
		{% endif %}
	</div>
</div>
<script>
var content=document.getElementById("content");
function updateHeight(){
	window.parent.postMessage({act: "setHeight", height: Math.ceil(content.offsetHeight)+1}, "*");
}
updateHeight();

var heightUpdater=function(){
	updateHeight();
};
var expanders=document.querySelectorAll(".textExpander");
for(var i=0;i<expanders.length;i++){
	expanders[i].addEventListener("change", heightUpdater);
}
expanders=document.querySelectorAll(".cwExpander");
for(var i=0;i<expanders.length;i++){
	expanders[i].addEventListener("change", heightUpdater);
}
</script>
</body>
</html>