<div class="tabbar">
	<a href="/settings/profile/general" class="{{ tab=='general' ? "selected" : "" }}">{{ L('profile_edit_general') }}</a>
	<a href="/settings/profile/contacts" class="{{ tab=='contacts' ? "selected" : "" }}">{{ L('profile_edit_contacts') }}</a>
	<a href="/settings/profile/interests" class="{{ tab=='interests' ? "selected" : "" }}">{{ L('profile_edit_interests') }}</a>
	<a href="/settings/profile/personal" class="{{ tab=='personal' ? "selected" : "" }}">{{ L('profile_edit_personal') }}</a>
</div>