<form action="/account/register" method="post" id="registerForm">
	{% if preFilledInvite is not null %}
	<input type="hidden" name="_invite" value="{{ preFilledInvite }}"/>
	{% endif %}
	<h2>{{L('register')}}</h2>
	{{ form.start("signup", message) }}
		{{ form.textInput('first_name', L('first_name'), first_name, {'maxlength': 100, 'required': true}) }}
		{{ form.textInput('last_name', L('last_name'), last_name, {'maxlength': 100}) }}
		{{ form.textInput('website', 'Website (do not fill in)', '') }}
		{{ form.textInput('email', L('email'), email, {'type': 'email', 'required': true}) }}
		{{ form.textInput('password', L('password'), password, {'type': 'password', 'required': true, 'minlength': 4, 'autocomplete': 'new-password'}) }}
		{{ form.textInput('passwordConfirm', 'Confirm password (do not fill in)', '', {'type': 'password'}) }}
		{{ form.textInput('password2', L('password_confirm'), password2, {'type': 'password', 'required': true, 'minlength': 4, 'autocomplete': 'new-password'}) }}
		{% if signupMode!='OPEN' and preFilledInvite is null %}
			{{ form.textInput('invite', L('invitation_code'), invite, {'maxlength': 32, 'required': true}) }}
		{% endif %}
		{% if captchaSid is not empty %}
			{{ form.unlabeledRowStart() }}<img src="/res/spacer.gif" width="130" height="50" style="background: url(/system/captcha?sid={{ captchaSid }})"/><input type="hidden" name="captchaSid" value="{{ captchaSid }}"/>{{ form.unlabeledRowEnd() }}
			{{ form.textInput('captcha', L('captcha_label'), null, {'required': true}) }}
		{% endif %}
		{{ form.footer(L('register')) }}
	{{ form.end() }}
</form>