{# @pebvariable name="items" type="smithereen.model.ViolationReport[]" #}
{% extends "page" %}
{% block content %}
{% include "reports_tabbar" %}
{% if not isMobile %}
<div class="summaryWrap">
	<div class="summary">{{ L('summary_X_reports', {'count':  totalItems}) }}</div>
	{% include "pagination" %}
</div>
{% endif %}
<div>
{% for report in items %}
	<a href="/settings/admin/reports/{{ report.id }}" class="clickableListItem adminInfoGrid" id="report{{ report.id }}">
		<div class="spanAll">
			{% if report.targetID>0 %}
			{% set user=users[report.targetID] %}
			<div class="flL smallMarginRight">{{ user | pictureForAvatar('s') }}</div>
			<div class="ellipsize accent"><b>{{ user | name('complete') }}</b></div>
			<div class="grayText ellipsize">@{{ user.fullUsername }}</div>
			{% elseif report.targetID<0 %}
			{% set group=groups[-report.targetID] %}
			<div class="flL smallMarginRight">{{ group | pictureForAvatar('s') }}</div>
			<div class="ellipsize accent"><b>{{ group.name }}</b></div>
			<div class="grayText ellipsize">@{{ group.fullUsername }}</div>
			{% endif %}
		</div>
		<div class="ellipsize">
			<span class="grayText">{{ L('report_from') }}:</span>
			{% if report.reporterID!=0 %}
			{{ users[report.reporterID] | name('complete') }}
			{% else %}
			<i>{{ L('report_sender_anonymous') }}</i>
			{% endif %}
		</div>
		<div class="ellipsize">
			<span class="grayText">{{ L('report_sent_at') }}:</span> {{ LD(report.time) }}
		</div>
		{% if report.serverDomain is not empty %}
		<div class="ellipsize">
			<span class="grayText">{{ L('server') }}:</span> {{ report.serverDomain }}
		</div>
		{% endif %}
		{% if report.actionTime is not null %}
		<div class="ellipsize">
			<span class="grayText">{{ L('report_resolved_at') }}:</span> {{ LD(report.actionTime) }}
		</div>
		{% endif %}
		{% if report.comment is not empty %}
		<div class="spanAll">
			<div class="grayText">{{ L('report_comment') }}:</div>
			{{ report.comment }}
		</div>
		{% endif %}
	</a>
{% else %}
<div class="singleColumn">
	<div class="emptyState">{{ L('no_reports') }}</div>
</div>
{% endfor %}
</div>
<div class="bottomSummaryWrap">{% include "pagination" %}</div>
{% endblock %}