{% extends "page" %}
{% import "forms" as form %}
{% block content %}
	<div class="singleColumn">
		<h2>{{ L('reset_password_title') }}</h2>
		<form action="/account/actuallyResetPassword" method="post">
			<input type="hidden" name="code" value="{{ code }}"/>
		{{ form.start("passwordReset", passwordResetMessage) }}
			{{ form.textInput('password', L('new_password'), password, {'type': 'password', 'required': true, 'minlength': 4, 'autocomplete': 'new-password'}) }}
			{{ form.textInput('password2', L('new_password_confirm'), password2, {'type': 'password', 'required': true, 'minlength': 4, 'autocomplete': 'new-password'}) }}
			{{ form.footer(L('send')) }}
		{{ form.end() }}
		</form>
	</div>
{% endblock %}
