{% extends "page" %}
{% import "forms" as form %}
{% block content %}
	<div class="notMuchContent">
		<h2>{{ L('reset_password_title') }}</h2>
		<form action="/account/resetPassword" method="post">
		{{ form.start("passwordReset", passwordResetMessage) }}
			{{ form.textInput('username', L('email_or_username'), username, {'required': true}) }}
			{{ form.footer(L('send')) }}
		{{ form.end() }}
		</form>
	</div>
{% endblock %}
