<div class="simpleLayerContent">
	<p><b>{{ L('settings_transfer_in') }}</b></p>
	<p>{{ L('settings_transfer_in_explanation') }}</p>
	<p style="text-align: center; margin-bottom: 2em"><a href="/settings/alsoKnownAsLinks" class="button"{% if not isMobile %} data-ajax-box{% endif %}>{{ L('settings_transfer_links') }} &raquo;</a></p>
	<p><b>{{ L('settings_transfer_out') }}</b></p>
	<p>{{ L('settings_transfer_out_explanation') }}</p>
	<p style="text-align: center"><a href="/settings/transferFollowersForm" class="button"{% if not isMobile %} data-ajax-box{% endif %}>{{ L('settings_transfer_move') }} &raquo;</a></p>
</div>
