{% extends "page" %}
{% import "forms" as form %}
{% block content %}
    {% include "settings_tabbar" with {'tab': 'notifications'} %}
<div class="singleColumn gray narrowForms">
{% if not isMobile %}
	<form action="/settings/updateNotifier?csrf={{ csrf }}" method="post" data-ajax>
	{{ form.start("notifications", notificationsMessage) }}
		<h2>{{ L('settings_web_notifications') }}</h2>
		{{ form.customControlStart('notifierTypes') }}
		{{ L('settings_notifications_types') }}:
		{{ form.customControlAfterLabel() }}
		<div class="text">
			<div class="popupMenuW" id="notifierTypesMenuW">
				<a href="javascript:void(0)" onclick="cur.showNotifierTypesMenu()" class="opener">{{ L(notifierTypes is null ? 'settings_notification_types_all' : (notifierTypes is empty ? 'settings_notification_types_none' : 'settings_notification_types_some')) }}</a><span id="notifierTypes">
					{%- if notifierTypes is not empty %}:
					{% for type in notifierTypes -%}
					    <span class="friendListLabel l{{ type.ordinal%8 }}">{{ L(type.langKey) }}</span>{% if not loop.last %}, {% endif %}
					{%- endfor %}
					{%- endif -%}
				</span>
			</div>
			<div class="radioButtonWrap">
				<label><input type="checkbox" name="notifierEnableSound" id="notifierEnableSound" {{ notifierEnableSound ? 'checked' : '' }}/>{{ L('settings_instant_notifications_sound') }}</label>
			</div>
			<div class="radioButtonWrap">
				<label><input type="checkbox" name="notifierShowMessageText" id="notifierShowMessageText" {{ notifierShowMessageText ? 'checked' : '' }}/>{{ L('settings_instant_notifications_msg_text') }}</label>
			</div>
		</div>
		<input type="checkbox" name="allNotifierTypes" id="allNotifierTypes" style="display: none"{% if notifierTypes is null %} checked{% endif %}/>
		{{ form.customControlEnd() }}
		{{ form.footer(L('save')) }}
	{{ form.end() }}
	</form>
{% endif %}
	<form action="/settings/updateEmailNotifications?csrf={{ csrf }}" method="post" data-ajax>
	{{ form.start("emailNotifications", emailNotificationsMessage) }}
		<h2>{{ L('settings_email_notifications') }}</h2>
		{{ form.customControlStart('notifierTypes') }}
		{{ L('settings_email_notifications_freq') }}:
		{{ form.customControlAfterLabel() }}
		<div class="text">
		{% if isMobile %}
			<select name="frequency" onchange="var e=ge('emailNotificationTypes'); this.value=='DISABLED' ? e.hide() : e.show();">
			{% for opt in allEmailNotificationFreqOptions %}
				<option value="{{ opt }}"{% if opt==emailNotificationFreq %} selected{% endif %}>{{ L(opt.langKey) }}</option>
			{% endfor %}
			</select>
		{% else %}
			<input type="hidden" name="frequency" value="{{ emailNotificationFreq }}" id="emailNotificationFrequency"/>
			<div class="popupMenuW" id="emailNotificationsW">
				<a href="javascript:void(0)" onclick="return showSimplePopupMenu(this, ge('emailNotificationFrequency'), function(id){var e=ge('emailNotificationTypes'); id=='DISABLED' ? e.hide() : e.show();})" class="opener">{{ L(emailNotificationFreq.langKey) }}</a>
				<div class="popupMenu compact" style="display: none">
					<ul>
					{% for opt in allEmailNotificationFreqOptions %}
					    <li data-act="{{ opt }}">{{ L(opt.langKey) }}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
			<div id="emailNotificationTypes" class="marginBefore" style="{% if emailNotificationFreq=='DISABLED' %}display: none{% endif %}">
				{% for type in allEmailNotificationTypes %}
				<div class="radioButtonWrap">
					<label><input type="checkbox" name="type_{{ type }}" {{ emailNotificationTypes contains type ? 'checked' : '' }}/>{{ L(type.langKey) }}</label>
				</div>
				{% endfor %}
			</div>
		</div>
		{{ form.customControlEnd() }}
		{{ form.footer(L('save')) }}
	{{ form.end() }}
	</form>
</div>
{% script %}
cur.notifierTypesMenu=new MultipleChoicePopupMenu(ge("notifierTypesMenuW"), {
	baseID: "notifierTypes",
	allTitle: "{{ L('settings_notification_types_all') | forceEscape }}",
	selectTitle: "{{ L('settings_notification_types_some') | forceEscape }}",
	noneTitle: "{{ L('settings_notification_types_none') | forceEscape }}",
	showNone: true,
	options: [
		{% for type in allNotifierTypes %}
		    {id: "{{ type }}", title: "{{ L(type.langKey) | forceEscape }}"},
		{% endfor %}
	],
	selectedOptions: {{ json(notifierTypes | default([])) }},
	allCheckboxID: "allNotifierTypes"
});

cur.showNotifierTypesMenu=function(){
	cur.notifierTypesMenu.show();
}
{% endscript %}
{% endblock %}
