<div class="tabbar">
	<a class="{{ tab=='general' ? "selected" : "" }}" href="/settings/">{{ L('settings_general') }}</a>
	<a class="{{ tab=='privacy' ? "selected" : "" }}" href="/settings/privacy">{{ L('settings_privacy') }}</a>
	<a class="{{ tab=='notifications' ? "selected" : "" }}" href="/settings/notifications">{{ L('notifications') }}</a>
	<a class="{{ tab=='blocking' ? "selected" : "" }}" href="/settings/blocking">{{ L('settings_blocking') }}</a>
	<a class="{{ tab=='filters' ? "selected" : "" }}" href="/settings/filters">{{ L('feed_filters') }}</a>
</div>