{%extends "page"%}
{%import "forms" as form%}
{%block content%}
{% include "settings_tabbar" with {'tab': 'general'} %}
<div class="singleColumn gray narrowForms">
<form action="/settings/updateAppearanceBehavior?csrf={{ csrf }}" method="post" data-ajax>
	<h2>{{ L('settings_appearance_and_behavior') }}</h2>
	{{ form.start("appearanceBehavior", appearanceBehaviorMessage) }}
		{{ form.radioGroup('textFormat', L('settings_text_formatting'), [
			{'value': 'MARKDOWN', 'label': "Markdown", 'selected': textFormat=='MARKDOWN'},
			{'value': 'HTML', 'label': "HTML", 'selected': textFormat=='HTML'}
		]) }}
		{{ form.radioGroup('commentView', L('settings_comment_view'), [
			{'value': 'THREADED', 'label': L('settings_comments_threaded'), 'selected': commentView=='THREADED'},
			{'value': 'TWO_LEVEL', 'label': L('settings_comments_two_level'), 'selected': commentView=='TWO_LEVEL'},
			{'value': 'FLAT', 'label': L('settings_comments_flat'), 'selected': commentView=='FLAT'}
		]) }}
		{{ form.footer(L('save')) }}
	{{ form.end() }}
</form>
<form action="/settings/updatePassword?csrf={{ csrf }}" method="post" data-ajax>
	<h2>{{L('change_password')}}</h2>
	{{ form.start("changePassword", passwordMessage) }}
		{{ form.textInput("current", L('current_password'), "", {'type' : 'password'}) }}
		{{ form.textInput("new", L('new_password'), "", {'type' : 'password', 'autocomplete': 'new-password'}) }}
		{{ form.textInput("new2", L('new_password_confirm'), "", {'type' : 'password', 'autocomplete': 'new-password'}) }}
		{{ form.footer(L('change_password')) }}
	{{ form.end() }}
</form>

<form action="/settings/updateEmail?csrf={{ csrf }}" method="post" data-ajax>
	<h2>{{ L('change_email') }}</h2>
	{% if activationInfo is not null %}
	<div class="settingsMessage">{{ L('pending_email_change', {'address': activationInfo.newEmail}, {'resend': {'href': "/settings/resendEmailConfirmation?csrf=#{csrf}", 'data-ajax': ''}, 'cancel': {'href': "/settings/cancelEmailChange?csrf=#{csrf}", 'data-ajax': ''} }) }}</div>
	{% endif %}
	{{ form.start('changeEmail', emailMessage) }}
		{{ form.labeledText(L('current_email'), currentEmailMasked) }}
		{{ form.textInput('email', L('new_email_address'), '', {'type': 'email'}) }}
		{{ form.footer(L('save')) }}
	{{ form.end() }}
</form>
<form action="/settings/setLanguage?csrf={{ csrf }}" method="post">
	<h2>{{L('language')}}</h2>
	{{ form.start("language") }}
		{% set options=[] %}
		{% for lang in languages %}
			{% set _=options.add({'value': lang.locale.toLanguageTag(), 'label': lang.name, 'selected': selectedLang==lang}) %}
		{% endfor %}
		{{ form.select('lang', '', options) }}
		{{ form.footer(L('save')) }}
	{{ form.end() }}
</form>
</div>
<div class="bottomSummaryWrap">
	<div class="bottomSummary">{{ L('settings_deactivate_account', {}, {'deactivate': {'href': '/settings/deactivateAccountForm', 'data-ajax-box': '1'} }) }}</div>
</div>
{%endblock%}