{% extends "page" %}
{% import "forms" as form %}
{% block content %}
{% include "settings_tabbar" with {'tab': 'blocking'} %}
<div class="summaryWrap first">
	<div class="summary">{{ L('settings_blocked_users') }}</div>
</div>
<div class="singleColumn">
	{% for user in blockedUsers %}
	<div class="listItemWithDivider flexContainer">
		<div class="flexStretch">
			<a href="{{ user.profileURL }}"><span class="tinyInlineAva">{{user | pictureForAvatar('a', 32)}}</span>{{ user | name }}</a>
		</div>
		<div class="flexFixed">
			<a href="/users/{{ user.id }}/confirmUnblock" data-confirm-action="/users/{{ user.id }}/unblock" data-confirm-title="{{ L('unblock') }}" data-confirm-message="{{ L('confirm_unblock_user_X', {'name': user | name('fullAndGender')}) | forceEscape }}">{{ L('unblock') }}</a>
		</div>
	</div>
	{% else %}
	<div class="emptyState">{{ L('settings_no_blocked_users') }}</div>
	{% endfor %}
</div>

<div class="summaryWrap">
	<div class="summary">{{ L('settings_blocked_domains') }}</div>
	<div class="auxLinks">
		<a href="/settings/blockDomainForm" data-ajax-box="1">{{ L('block_a_domain') }}</a>
	</div>
</div>
<div class="singleColumn">
	{% for domain in blockedDomains %}
	<div class="listItemWithDivider flexContainer">
		<div class="flexStretch">{{ domain }}</div>
		<div class="flexFixed">
			<a href="/settings/confirmUnblockDomain?domain={{ domain }}" data-confirm-action="/settings/unblockDomain?domain={{ domain }}" data-confirm-title="{{ L('unblock') }}" data-confirm-message="{{ L('confirm_unblock_domain_X', {'domain': domain}) | forceEscape }}">{{ L('unblock') }}</a>
		</div>
	</div>
	{% else %}
	<div class="emptyState">{{ L('settings_no_blocked_domains') }}</div>
	{% endfor %}
</div>
{% endblock %}