{# @pebvariable name="owner" type="smithereen.data.User" #}
{# @pebvariable name="otherUser" type="smithereen.data.User" #}
{# @pebvariable name="isGroup" type="boolean" #}
{# @pebvariable name="tab" type="String" #}
<div class="tabbar">
	<a href="{{ owner.typeAndIdForURL }}/wall" class="{%if tab=="all"%}selected{%endif%}">{{ L(isGroup ? 'wall_of_group' : 'wall_all_posts') }}</a>
	{% if not isGroup %}
	<a href="{{ owner.typeAndIdForURL }}/wall/own" class="{%if tab=="own"%}selected{%endif%}">{{ owner==currentUser ? L('wall_my_posts') : L('wall_posts_of_X', {'name': owner.firstAndGender}) }}</a>
	{% endif %}
	{% if tab=="single" %}
	    <a href="#" class="selected">{{ L('wall_post_title') }}</a>
	{% elseif tab=="wall2wall" %}
		<a href="#" class="selected">{{ L('wall_X_and_Y', {'name1': owner.firstName, 'name2': otherUser.firstName}) }}</a>
	{% endif %}
	<span class="aux"><a href="{{ owner.profileURL }}">
	{% if isGroup %}
		{{- L('back_to_group') -}}
	{% else %}
		{{- L('back_to_profile') -}}
	{% endif %}
	</a></span>
</div>