{% extends "page" %}
{% block content %}
<div class="singleColumn">
<h2>{{ L('about_stats') }}</h2>
<div class="padTop">
	{{ L('about_on_this_server') }}:
	<ul class="actualList">
		<li><span>{{ L('about_X_users', {'count': totalUsers}) }}</span></li>
		<li><span>{{ L('about_X_groups', {'count': totalGroups}) }}</span></li>
		<li><span>{{ L('about_X_posts', {'count': totalPosts}) }}</span></li>
	</ul>
</div>

<h2>{{ L('about_admins') }}</h2>
<div class="padTop">
{% for admin in serverAdmins %}
	<table width="100%" class="friendsRow noBorderSpacing" id="frow{{admin.id}}">
		<tr valign="top">
			<td width="50">
				<a href="{{admin.profileURL}}">{{admin | pictureForAvatar('a')}}</a>
			</td>
			<td class="info" valign="middle">
				<b><a href="{{admin.profileURL}}">{{ admin | name }}</a></b>
			</td>
		</tr>
	</table>
{% endfor %}
</div>

{% if serverAdminEmail is not empty %}
	<h2>{{ L('about_contact') }}</h2>
	<div class="padTop">
		<a href="mailto:{{ serverAdminEmail }}">{{ serverAdminEmail }}</a>
	</div>
{% endif %}
</div>
{% if serverPolicy is not empty %}
<div class="singleColumn">
	<h2></h2>
	<div class="textByItself">{{ serverPolicy | raw }}</div>
</div>
{% endif %}
{% if serverRules is not empty %}
<div class="singleColumn">
	<h2>{{ L('about_server_rules') }}</h2>
	<ol class="largeNumbers">
	{% for rule in serverRules %}
		<li>
			<span class="number" aria-hidden="true">{{ loop.index+1 }}</span>
			<h5>{{ rule.title }}</h5>
			{% if rule.description is not empty %}<div>{{ rule.description | nl2br }}</div>{% endif %}
		</li>
	{% endfor %}
	</ol>
</div>
{% endif %}
{% if restrictedServers is not empty %}
<div class="singleColumn">
	<h2>{{ L('about_server_federation_restrictions') }}</h2>
	<div class="marginBefore marginAfter">{{ L('about_server_federation_restrictions_explain', {'count': restrictedServers | length}) }}</div>
	{%- for server in restrictedServers %}
	<div class="listItemWithDivider">
		{{ server.host }}
		<div class="grayText">{{ server.restriction.publicComment }}</div>
	</div>
	{%- endfor %}
</div>
{% endif %}
<div class="singleColumn" align="center">
	{{ L('about_software', {'sw': 'Smithereen', 'version': serverVersion}, {'sw': {'href': 'https://smithereen.software/', 'target': '_blank'} }) }}
</div>
{% endblock %}