{%if wallOwner is null%}{%set wallOwner=currentUser%}{%endif%}
<div class="wallPostForm mobileCommentForm" id="wallPostForm_{{id}}" data-unique-id="{{id}}">
	<div class="mobileCommentReplying" id="commentReplying_{{ id }}" style="display: none">
		{{- L('in_reply_to_X', {}, {'name': {'_': 'span', 'id': 'replyingName_'+id} }) -}}
		<a class="cancelReply" id="cancelReply_{{ id }}" title="{{ L('cancel_reply') }}"></a>
	</div>
	<div class="attachmentsWrap" id="postFormAttachWrap_{{ id }}">
		<div id="postFormAttachments_{{id}}">
			{%set attachIDs=""%}
			{%for attachment in draftAttachments%}
				<div class="attachment" id="attachment_{{attachment.localID}}" data-id="{{attachment.localID}}">
					{{attachment.sizes | photoPicture('xs')}}
					<a href="/system/deleteDraftAttachment?id={{attachment.localID}}&csrf={{csrf}}" class="deleteBtn" title="{{L('delete')}}"></a>
					{%set attachIDs=attachIDs+attachment.localID%}
					{%if not loop.last%}{%set attachIDs=attachIDs+","%}{%endif%}
				</div>
			{%endfor%}
		</div>
		<div id="postFormAttachments2_{{ id }}"></div>
	</div>
	<form action="{{wallOwner.typeAndIdForURL}}/createWallPost" id="wallPostFormForm_{{ id }}" method="post">
	{% set fieldPlaceholder=L('comment_placeholder') %}
		<button type="button" title="{{ L('attach') }}" id="postFormAttachBtn_{{ id }}" class="attachBtn"></button>
		<textarea name="text" id="postFormText_{{id}}" cols="100" rows="3" maxlength="65000" placeholder="{{ fieldPlaceholder }}">{{prefilledPostText}}</textarea>
		<button type="submit" title="{{ L('send') }}" class="sendBtn" id="postFormSubmit_{{ id }}"></button>

		<input type="hidden" name="csrf" value="{{csrf}}"/>
		{%if replyTo is not null%}
		<input type="hidden" name="replyTo" id="postFormReplyTo_{{id}}" value="{{replyTo.id}}"/>
		{%endif%}
		<input type="hidden" name="formID" value="{{id}}"/>
		<input type="hidden" name="attachments" value="{{attachIDs}}"/>
	</form>
</div>