{%extends "page"%}
{%block content%}
	<div class="cardsBackdrop">
		<div class="card">
		{%include "wall_post_form" with {'id': "feed"}%}
		</div>
<div id="postList">
{%for entry in feed%}
<div class="card">
{%if entry.type=="POST"%}
{%include "wall_post" with {'post': entry.post}%}
{%elseif entry.type=="RETOOT"%}
<div class="feedRow">
<div class="feedIcon feedIconStatus"></div>
<div class="feedRowTime">{{ formatTime(entry.time) }}</div>
<div class="feedRowContent">
	{{ LG(entry.post.replyLevel==0 ? 'feed_retoot_before' : 'feed_retoot_before_comment', entry.author.gender) -}}
	<a href="{{entry.author.profileURL}}">{{entry.author.fullName}}</a>
	{{- LG(entry.post.replyLevel==0 ? 'feed_retoot_after' : 'feed_retoot_after_comment', entry.author.gender) -}}
</div>
</div>
{%include "wall_post" with {'post': entry.post}%}
{% elseif entry.type=="ADD_FRIEND" %}
<div class="feedRow">
	<div class="feedIcon feedIconAdd"></div>
	<div class="feedRowTime">{{ formatTime(entry.time) }}</div>
	<div class="feedRowContent">
		<a href="{{ entry.author.profileURL }}">{{ entry.author.fullName }}</a>
		{{- LG('feed_added_friend_before', entry.author.gender) -}}
		<a href="{{ entry.friend.profileURL }}">{{ LI(key='feed_added_friend_name', first=entry.friend.firstName, last=entry.friend.lastName, gender=entry.friend.gender) }}</a>
		{{- LG('feed_added_friend_after', entry.author.gender) -}}
	</div>
</div>
{% elseif entry.type=="JOIN_GROUP" %}
<div class="feedRow">
	<div class="feedIcon feedIconGroup"></div>
	<div class="feedRowTime">{{ formatTime(entry.time) }}</div>
	<div class="feedRowContent">
		<a href="{{ entry.author.profileURL }}">{{ entry.author.fullName }}</a>
		{{- LG('feed_joined_group_before', entry.author.gender) -}}
		<a href="{{ entry.group.profileURL }}">{{ entry.group.name }}</a>
		{{- LG('feed_joined_group_after', entry.author.gender) -}}
	</div>
</div>
{%else%}
Unknown entry type {{entry.type}}
{%endif%}
</div>
{%endfor%}
	{%include "pagination" with {'perPage': 25, 'offset': offset, 'total': total, 'urlPrefix': paginationURL, 'firstPageURL': "/feed"}%}
</div>
	</div>
{%endblock%}
