{%extends "page"%}
{%block content%}
{% include "feed_tabbar" with {'tab': "comments"} %}
	<div class="cardsBackdrop">
<div id="postList">
{%for entry in feed%}
<div class="card">
	{% if entry.type=='POST' and posts[entry.objectID] is not null %}
	<div class="feedRow feedPostRow" id="postWrap{{ entry.objectID }}">
		{% include "wall_post" with {'post': posts[entry.objectID]} %}
	</div>
	{% elseif entry.type=="PHOTO" and photos[entry.objectID] is not null %}
	{% set photo=photos[entry.objectID] %}
	{% set interactions=photosInteractions[entry.objectID] %}
	<div class="post">
		<div class="postHeader">
			<div class="avaW">
				<a href="{{ profileURL(photo.authorID) }}"{{ profileRel(photo.authorID) }}>{{ users[photo.authorID] | pictureForAvatar('a', 40) }}</a>
			</div>
			<div class="headerRight">
				<div class="singleLine authorNameW"><a href="{{ profileURL(photo.authorID) }}" class="authorName"{{ profileRel(photo.authorID) }}>{{ users[photo.authorID] | name }}</a></div>
				<div class="singleLine timeW"><a href="{{ photo.url }}" class="postLink">{{LD(photo.createdAt)}}</a></div>
			</div>
		</div>
		<div class="postContentWrap">
			<div>{# "postInner" #}
				<div class="postContent">{{ photo.description | postprocessHTML | truncateText }}</div>
				<div class="feedRowPhotos">{{ renderPhotoGrid([photo], "single/#{photo.idString}") }}</div>
			</div>
		</div>
		<div class="postActions">
			<a href="{{ photo.url }}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}" class="action like{%if interactions.isLiked%} liked{%endif%}" id="likeButtonPhoto{{ photo.idString }}" data-obj-type="photo" data-obj-id="{{ photo.idString }}" {% if currentUser is not null %}onclick="return likeOnClick(this)"{% else %}data-ajax-box{% endif %}>
				<span class="wideOnly">{{ L('like') }}</span>
				<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPhoto{{ photo.idString }}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
					{{- interactions.likeCount -}}
				</span>
			</a>
			<a href="{{ photo.url }}" class="action comment">
				<span class="wideOnly">{{ L('add_comment') }}</span>
				<span class="icon"> </span>{% if interactions.commentCount>0 %}<span class="counter">
					{{- interactions.commentCount -}}
				</span>{% endif %}
			</a>
			<div class="spacer"></div>
		</div>
	</div>
	{% endif %}
</div>
{% else %}
<div class="emptyState" id="wallEmptyState">{{ L('feed_empty') }}</div>
{%endfor%}
	{% include "pagination" %}
</div>
	</div>
{%endblock%}
