{%macro start(id, message)%}
<div class="settingsMessage" id="formMessage_{{id}}" style="{%if message is null%}display: none{%endif%}">{{message}}</div>
<div class="form">
{%endmacro%}

{%macro textInput(name, label, value, options)%}
	{%if options is null%}{%set options={}%}{%endif%}
	<div class="row">
		<div class="label">
			<label for="{{name}}">{{label}}</label>:
		</div>
		<input type="{%if options.type is not null%}{{options.type}}{%else%}text{%endif%}" id="{{name}}" name="{{name}}" value="{{value}}"
		{%- if options.maxlength is not null %} maxlength="{{options.maxlength}}"{%endif%}
		{%- if options.required %} required{%endif%}
		{%- if options.autocomplete==false %} autocomplete="off"{% endif %}
		{%- if options.max is not null %} max="{{ options.max }}"{%endif%}/>
		{%if options.explanation is not null%}
		<br/><span class="formExplanation">{{options.explanation}}</span>
		{%endif%}
	</div>
{%endmacro%}

{%macro textArea(name, label, value, options)%}
	{%if options is null%}{%set options={}%}{%endif%}
	<div class="row">
		<div class="label">
			<label for="{{name}}">{{label}}</label>:
		</div>
		<textarea id="{{name}}" name="{{name}}" rows="4">{{value}}</textarea>
		{%if options.explanation is not null%}
		<br/><span class="formExplanation">{{options.explanation}}</span>
		{%endif%}
	</div>
{%endmacro%}

{%macro select(name, label, selectOptions, options)%}
	{%if options is null%}{%set options={}%}{%endif%}
	<div class="row">
		{% if label is not empty %}
			<div class="label">
				<label for="{{name}}">{{label}}</label>:
			</div>
		{% endif %}
		<select id="{{name}}" name="{{name}}">
			{%for opt in selectOptions%}
				<option value="{{opt.value}}"{%if opt.selected%} selected{%endif%}>{{opt.label}}</option>
			{%endfor%}
		</select>
		{%if options.explanation is not null%}
		<br/><span class="formExplanation">{{options.explanation}}</span>
		{%endif%}
	</div>
{%endmacro%}

{%macro footer(submitTitle)%}
	<div class="footer">
		<input type="submit" value="{{submitTitle}}"/>
	</div>
{%endmacro%}


{%macro end()%}
</div>
{%endmacro%}
