{%macro start(id, message)%}
<div class="settingsMessage" id="formMessage_{{id}}" style="{%if message is null%}display: none{%endif%}">{{message}}</div>
<div class="form">
{%endmacro%}

{% macro unlabeledRowStart() %}
<div class="row">
{% endmacro %}

{% macro unlabeledRowEnd() %}
</div>
{% endmacro %}

{%macro textInput(name, label, value, options)%}
	{%if options is null%}{%set options={}%}{%endif%}
	<div class="row" id="formRow_{{ name }}">
		<div class="label">
			<label for="{{name}}">{{label}}</label>:
		</div>
		{% if options.prefix is not empty %}
		<div class="prefixedInput control">
			<label class="prefix" for="{{ name }}">{{ options.prefix }}</label>
		{% endif %}
		<input type="{%if options.type is not null%}{{options.type}}{%else%}text{%endif%}" id="{{name}}" name="{{name}}" value="{{value}}"
		{%- if options.maxlength is not null %} maxlength="{{options.maxlength}}"{%endif%}
		{%- if options.minlength is not null %} minlength="{{options.minlength}}"{%endif%}
		{%- if options.required %} required{%endif%}
		{%- if options.autocomplete==false %} autocomplete="off"{% elseif options.autocomplete is not empty %} autocomplete="{{ options.autocomplete }}"{% endif %}
		{%- if options.pattern is not empty %} pattern="{{ options.pattern }}"{% endif %}
		{%- if options.min is not null %} min="{{options.min}}"{%endif%}
		{%- if options.max is not null %} max="{{ options.max }}"{%endif%}
		{%- if options.placeholder is not null %} placeholder="{{ options.placeholder }}"{% endif %}/>
		{% if options.prefix is not empty %}
		</div>
		{% endif %}
		{%if options.explanation is not null%}
		<br/><span class="formExplanation">{{options.explanation}}</span>
		{%endif%}
	</div>
{%endmacro%}

{%macro textArea(name, label, value, options)%}
	{%if options is null%}{%set options={}%}{%endif%}
	<div class="row" id="formRow_{{ name }}">
		<div class="label">
			<label for="{{name}}">{{label}}</label>:
		</div>
		<textarea id="{{name}}" name="{{name}}" rows="3"{% if options.required %} required{% endif %}{% if options.maxlength %} maxlength="{{ options.maxlength }}"{% endif %}>{{value}}</textarea>
		{%if options.explanation is not null%}
		<br/><span class="formExplanation">{{options.explanation}}</span>
		{%endif%}
	</div>
{% script %}
autoSizeTextArea(ge("{{ name }}"));
{% endscript %}
{%endmacro%}

{% macro dateTimeInput(name, label, value, options) %}
	{%if options is null%}{%set options={}%}{%endif%}
	<div class="row" id="formRow_{{ name }}">
		<div class="label">
			<label for="{{ name }}_date">{{ label }}</label>:
		</div>
		<div class="dateTimeInput">
			<input type="date" name="{{ name }}_date" id="{{ name }}_date" value="{{ getDate(value) }}"
				{%- if options.required %} required{% endif -%}
			/>
			<span class="separator">{{ L('date_time_separator') }}</span>
			<input type="time" name="{{ name }}_time" id="{{ name }}_time" value="{{ getTime(value) }}"
				{%- if options.required %} required{% endif -%}
			/>
		</div>
	</div>
{% endmacro %}


{%macro select(name, label, selectOptions, options)%}
	{%if options is null%}{%set options={}%}{%endif%}
	<div class="row" id="formRow_{{ name }}">
		{% if label is not empty %}
			<div class="label">
				<label for="{{name}}">{{label}}</label>:
			</div>
		{% endif %}
		<select id="{{name}}" name="{{name}}">
			{%for opt in selectOptions%}
				<option value="{{opt.value}}"{%if opt.selected%} selected{%endif%}>{{opt.label}}</option>
			{%endfor%}
		</select>
		{%if options.explanation is not null%}
		<br/><span class="formExplanation">{{options.explanation}}</span>
		{%endif%}
	</div>
{%endmacro%}

{%macro radioGroup(name, label, selectOptions, options)%}
	{%if options is null%}{%set options={}%}{%endif%}
	<div class="row" id="formRow_{{ name }}">
		{% if label is not empty %}
			<div class="label">
				{{label}}:
			</div>
		{% endif %}
		{% for opt in selectOptions %}
			{% if not opt.skip %}
			<div class="radioButtonWrap">
				<input type="radio" name="{{ name }}" value="{{ opt.value }}" id="{{ name }}{{ loop.index }}"{{ opt.selected ? ' checked' : '' }}{{ options.required ? ' required' : '' }}/>
				<label for="{{ name }}{{ loop.index }}">{{ opt.label }}</label>
			</div>
			{% if opt.explanation is not empty %}
				<span class="formExplanation">{{ opt.explanation }}</span>
			{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{%endmacro%}

{%macro checkBox(name, label, title, value, options)%}
	<div class="row" id="formRow_{{ name }}">
		{% if label is not empty %}
			<div class="label">
				{{label}}:
			</div>
		{% endif %}
		<div class="radioButtonWrap{{ options.disabled ? ' disabled' : '' }}">
			<input type="checkbox" name="{{ name }}" id="{{ name }}" {{ value ? 'checked' : '' }}{{ options.disabled ? ' disabled' : '' }}{{ options.required ? ' required' : '' }}/>
			<label for="{{ name }}">{{ title }}</label>
		</div>
		{% if options.explanation is not empty %}
			<span class="formExplanation">{{ options.explanation }}</span>
		{% endif %}
	</div>
{%endmacro%}

{%macro labeledText(label, text)%}
	<div class="row">
		{% if label is not empty %}
			<div class="label">
				{{label}}:
			</div>
		{% endif %}
		{{ text }}
	</div>
{%endmacro%}

{%macro footer(submitTitle)%}
	<div class="footer">
		<button>{{ submitTitle }}</button>
	</div>
{%endmacro%}


{%macro end()%}
</div>
{%endmacro%}
