{%extends "page"%}
{%block content%}
{% include 'friends_tabbar' %}
<div class="singleColumn">
{% for friend in items %}
<table width="100%" class="friendsRow noBorderSpacing" id="frow{{friend.id}}">
	<tr valign="top">
		<td width="50">
			<a href="{{friend.profileURL}}">{{friend | pictureForAvatar('s')}}</a>
		</td>
		<td class="info" valign="middle">
			<b><a href="{{friend.profileURL}}">{{friend.fullName}}</a></b>
		</td>
	</tr>
</table>
{% else %}
<div class="emptyState">
	{% if tab=='followers' %}
	{{ L('no_followers') }}
	{% elseif tab=='following' %}
	{{ L('no_follows') }}
	{% else %}
	{{ L('no_friends') }}
	{% endif %}
</div>
{% endfor %}
</div>
{% include "pagination" %}
{%endblock%}