{%extends "page"%}
{%block content%}
{% include 'friends_tabbar' %}
<div class="singleColumn">
{%for friend in friendList%}
<table width="100%" class="friendsRow noBorderSpacing" id="frow{{friend.id}}">
	<tr valign="top">
		<td width="50">
			<a href="{{friend.profileURL}}">{{friend | pictureForAvatar('s')}}</a>
		</td>
		<td class="info" valign="middle">
			<b><a href="{{friend.profileURL}}">{{friend.fullName}}</a></b>
		</td>
	</tr>
</table>
{%else%}
<center class="notMuchContent">{{L('no_friends')}}</center>
{%endfor%}
</div>
{%endblock%}