{%extends "page"%}
{%block content%}
<div class="tabbar">
<a href="{{owner.getProfileURL('friends')}}" class="{%if tab==0%}selected{%endif%}">{{L('friends')}}</a><a href="{{owner.getProfileURL('followers')}}" class="{%if tab==1%}selected{%endif%}">{{L('followers')}}</a><a href="{{owner.getProfileURL('following')}}" class="{%if tab==2%}selected{%endif%}">{{L('following')}}</a>
{%if currentUser is not null and currentUser.id==owner.id%}
{%if userNotifications.newFriendRequestCount>0%}
<a href="/my/incomingFriendRequests">{{LP('X_friend_requests', userNotifications.newFriendRequestCount)}}</a>
{%endif%}
{%endif%}
</div>
<div class="singleColumn">
{%for friend in friendList%}
<table width="100%" class="friendsRow noBorderSpacing" id="frow{{friend.id}}">
	<tr valign="top">
		<td width="50">
			<a href="{{friend.profileURL}}">{{friend | pictureForAvatar('s')}}</a>
		</td>
		<td class="info" valign="middle">
			<b><a href="{{friend.profileURL}}">{{friend.fullName}}</a></b>
		</td>
	</tr>
</table>
{%else%}
<center class="notMuchContent">{{L('no_friends')}}</center>
{%endfor%}
</div>
{%endblock%}