{%extends "page"%}
{%block content%}
{% include 'friends_tabbar' %}
<div class="singleColumn">
{% block friendsInner %}
{% for friend in items %}
<table width="100%" class="friendsRow noBorderSpacing" id="frow{{friend.id}}">
	<tr valign="top">
		<td width="50">
			<a href="{{friend.profileURL}}"{{ profileRel(friend) }}>{{friend | pictureForAvatar('a')}}</a>
		</td>
		<td class="info"{% if cursomActions is empty %} valign="middle"{% endif %}>
			<b><a href="{{friend.profileURL}}"{{ profileRel(friend) }}>{{ friend | name }}</a></b>
			{% if customActions is not empty %}
			<div id="frowActions{{ friend.id }}">
				<ul class="actionList">
					{% for action in customActions %}
					<li><a href="{{ action.href }}{{ friend.id }}"{{ action.ajax ? ' data-ajax' : '' }}>{{ action.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</td>
	</tr>
</table>
{% else %}
<div class="emptyState">
	{% if tab=='followers' %}
	{{ L('no_followers') }}
	{% elseif tab=='following' %}
	{{ L('no_follows') }}
	{% elseif tab=='online' %}
	{% if currentUser is not null and currentUser.id==owner.id %}
	{{ L('no_friends_online_own') }}
	{% else %}
	{{ L('no_friends_online', {'name': owner.firstAndGender}) }}
	{% endif %}
	{% else %}
	{{ L('no_friends') }}
	{% endif %}
</div>
{% endfor %}
{% endblock %}
{% include "pagination_endless" %}
</div>
{%endblock%}