{# @pebvariable name="items" type="java.util.List<smithereen.data.GroupInvitation>" #}
{%extends "page"%}
{%block content%}
{% include (events ? 'events_tabbar' : 'groups_tabbar') with {'tab': 'invites'} %}
<div class="singleColumn">
{% for invite in items %}
<table width="100%" class="friendsRow noBorderSpacing" id="grow{{group.id}}">
	<tr valign="top">
		<td width="50">
			<a href="{{ invite.group.profileURL }}">{{ invite.group | pictureForAvatar('s') }}</a>
		</td>
		<td class="info">
			<div><b><a href="{{ invite.group.profileURL }}">{{ invite.group.name }}</a></b></div>
			<div class="grayText padTop">{{ L('group_invited_by_X_before') }}<a href="{{ invite.inviter.profileURL }}">{{ invite.inviter.fullName }}</a>{{ L('group_invited_by_X_after') }}</div>
			<form action="/groups/{{ invite.group.id }}/respondToInvite" method="post" data-ajax>
				<input type="hidden" name="csrf" value="{{ csrf }}"/>
				<div id="groupInviteBtns{{ invite.group.id }}" class="buttons">
					{% if invite.group.event %}
						<input type="submit" name="accept" value="{{ L('join_event_certain') }}"/>
						<input type="submit" name="tentativeAccept" value="{{ L('join_event_tentative') }}"/>
						{% else %}
						<input type="submit" name="accept" value="{{ L('join_group') }}"/>
					{% endif %}
					<input type="submit" name="decline" value="{{ L('decline_invitation') }}" class="secondary"/>
				</div>
			</form>
		</td>
	</tr>
</table>
	{%else%}
<div class="emptyState">{{ L(events ? 'no_events' : 'no_groups') }}</div>
{%endfor%}
{% include "pagination" %}
</div>
{%endblock%}