{%extends "page"%}
{%block content%}
{% if currentUser is not null and owner.id==currentUser.id %}
{% include (events ? 'events_tabbar' : 'groups_tabbar') %}
{% endif %}
<div class="singleColumn">
{% for group in items %}
<table width="100%" class="friendsRow noBorderSpacing" id="grow{{group.id}}">
	<tr valign="top">
		<td width="50">
			<a href="{{ group.profileURL }}"{{ profileRel(group) }}>{{ group | pictureForAvatar('a') }}</a>
		</td>
		<td class="info" valign="middle">
			<b><a href="{{ group.profileURL }}"{{ profileRel(group) }}>{{ group.name }}</a></b>
		</td>
	</tr>
</table>
{%else%}
<div class="emptyState">{{ L(events ? 'no_events' : 'no_groups') }}</div>
{%endfor%}
{% include "pagination" %}
</div>
{%endblock%}