{# @pebvariable name="message" type="smithereen.model.MailMessage" #}
{% extends "page" %}
{% block content %}
{% include "mail_tabbar" %}
<div class="singleColumn mailMessageView">
	<div id="messageViewInner">
		{% if message.subject is not empty %}
		<div class="subject">{{ message.subject }}</div>
		{% endif %}
		<div class="messageViewHeader">
			<a href="{{ profileURL(message.senderID) }}" class="avaW">{{ users[message.senderID] | pictureForAvatar('a') }}</a>
			<div class="nameAndTime">
				<div class="name"><a href="{{ profileURL(message.senderID) }}">{{ users[message.senderID] | name('complete') }}</a></div>
				<div class="time">{{ LD(message.createdAt, true) }}{% if message.updatedAt is not null %} | {{ L('mail_edited_at', {'time': LD(message.updatedAt)}) }}{% endif %}</div>
			</div>
		</div>
		<div class="messageViewFields">
			<div class="label">{{ L('mail_to') }}:</div>
			<div>
			{%- for id in message.to -%}
				<a href="{{ profileURL(id) }}">{{ users[id] | name('complete') }}</a>{% if not loop.last %}, {% endif %}
			{%- endfor %}
			</div>
			{% if message.cc is not empty %}
				<div class="label">{{ L('mail_cc') }}:</div>
				<div>
				{%- for id in message.cc -%}
					<a href="{{ profileURL(id) }}">{{ users[id] | name('complete') }}</a>{% if not loop.last %}, {% endif %}
				{%- endfor %}
				</div>
			{% endif %}
			{% if inReplyToURL is not empty %}
			<div class="label">{{ L('mail_in_reply_to') }}:</div>
			<div><a href="{{ inReplyToURL }}">{{ inReplyToLink }}</a></div>
			{% endif %}
		</div>
		<div class="messageContent">
		{{ message.text | postprocessHTML }}
		{% if message.attachments is not empty %}
			{{ renderAttachments(message, null) }}
		{% endif %}
		</div>
		<div class="" id="msgActions">
			{% if message.senderID!=currentUser.id %}<a class="button" href="/my/mail/compose?replyTo={{ message.encodedID }}">{{ L('add_reply') }}</a>{% endif %}
			<a class="button" href="/my/mail/messages/{{ message.encodedID }}/delete?csrf={{ csrf }}&fromView" data-ajax data-ajax-hide="msgActions" data-ajax-show="msgActionsLoader">{{ L('delete') }}</a>
		</div>
		<span class="loader" id="msgActionsLoader" style="display: none">&nbsp;</span>
	</div>
</div>
{% endblock %}

