{# @pebvariable name="items" type="smithereen.model.notifications.Notification[]" #}
{# @pebvariable name="posts" type="Map<Integer, smithereen.model.Post>" #}
{# @pebvariable name="photos" type="Map<Long, smithereen.model.photos.Photo>" #}
{%extends "page"%}
{%block content%}
<div>
{%for notification in items%}
{%set actor=users[notification.actorID]%}
{%if notification.objectID!=0%}
	{% if notification.objectType=='POST' %}
		{%set object=posts[notification.objectID]%}
		{%set isComment=object is not null ? object.replyLevel>0 : false%}
		{% if object is not null %}{% set objectOwner=object.ownerID>0 ? users[object.ownerID] : groups[-object.ownerID] %}{% endif %}
	{% elseif notification.objectType=='PHOTO' %}
		{% set object=photos[notification.objectID] %}
	{% endif %}
{%else%}
{%set object=null%}
{%endif%}
{%if notification.relatedObjectID!=0%}
{%set relatedObject=posts[notification.relatedObjectID]%}
{%set relatedIsComment=relatedObject is not null ? relatedObject.replyLevel>0 : false%}
{%else%}
{%set relatedObject=null%}
{%endif%}
{%if actor is not null%}
{%set actorName=actor | name%}
{%set actorURL=actor.profileURL%}
{%set actorGender=actor.gender%}
{%else%}
{%set actorName='DELETED'%}
{%set actorURL="/users/"+notification.actorID%}
{%set actorGender=null%}
{%endif%}
{%set link=null%}
<table width="100%" cellpadding="0" cellspacing="0" class="post notification notification{{notification.type | replace({'_': ' '}) | lower | title | replace({' ': ''})}}" id="notification{{notification.id}}">
	<tr>
		<td width="50" valign="top">
			<div class="avaWrap">
				<a href="{{actorURL}}">{{actor | pictureForAvatar('a')}}</a>
				<span class="notificationIcon"></span>
			</div>
		</td>
		<td valign="top" class="notificationContentWrap">
			<a href="{{actorURL}}" class="authorName">{{actorName}}</a>
			{%if notification.type=="REPLY"%}
			{{L(relatedIsComment ? 'notification_replied_to_comment' : 'notification_replied_to_post', {'gender': actorGender})}} <a href="{{relatedObject.internalURL}}">{{ relatedObject.shortTitle | default(LD(relatedObject.createdAt)) }}</a>
			<div class="postContent">
				{{ object.text | postprocessHTML }}
			</div>
			{%if object.attachment is not null%}{{renderAttachments(object, objectOwner)}}<br/>{%endif%}
			{%set link=object.internalURL%}
			{%elseif notification.type=="MENTION"%}
			{{L(isComment ? 'notification_mentioned_in_comment' : 'notification_mentioned_in_post', {'gender': actorGender})}}
			<div class="postContent">
				{{ object.text | postprocessHTML }}
			</div>
			{%if object.attachment is not null%}{{renderAttachments(object, objectOwner)}}<br/>{%endif%}
			{%set link=object.internalURL%}
			{%elseif notification.type=="LIKE"%}
				{% if notification.objectType=="POST" %}
					{{L(isComment ? 'notification_liked_comment' : 'notification_liked_post', {'gender': actorGender})}} <a href="{{object.internalURL}}">{{object.shortTitle | default(LD(object.createdAt))}}</a>
				{% elseif notification.objectType=="PHOTO" %}
					{{ L('notification_liked_photo', {'gender': actorGender}, {'photo': {'href': object.url, 'onclick': "return openPhotoViewer(this)", 'data-pv': json(object.singlePhotoViewerData)} }) }}
				{% endif %}
			{% elseif notification.type=="RETOOT" or notification.type=="REPOST" %}
			{{L(isComment ? 'notification_reposted_comment' : 'notification_reposted_post', {'gender': actorGender})}} <a href="{{object.internalURL}}">{{ object.shortTitle | default(LD(object.createdAt)) }}</a>
			{%elseif notification.type=="POST_OWN_WALL"%}
			{{L('notification_posted_on_wall', {'gender': actorGender})}}
			<div class="postContent">
				{{ object.text | postprocessHTML }}
			</div>
			{%if object.attachment is not null%}{{renderAttachments(object, objectOwner)}}<br/>{%endif%}
			{%set link=object.internalURL%}
			{%elseif notification.type=="INVITE_SIGNUP"%}
			{{L('notification_invite_signup', {'gender': actorGender})}}
			{%elseif notification.type=="FOLLOW"%}
			{{L('notification_follow', {'gender': actorGender})}}
			{%elseif notification.type=="FRIEND_REQ_ACCEPT"%}
			{{L('notification_friend_req_accept', {'gender': actorGender})}}
			{%else%}
			<div class="postContent">
				{{notification}}
			</div>
			{%endif%}
			<div class="postInfo">{%if link is not null%}<a href="{{link}}" class="postLink">{%endif%}{{LD(notification.time)}}{%if link is not null%}</a>{%endif%}</div>
		</td>
	</tr>
</table>
{% else %}
<div class="emptyState">{{ L('notifications_empty') }}</div>
{%endfor%}
{% include "pagination" %}
</div>
{%endblock%}