<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/res/mobile.css?{{ staticHashes['mobile.css'] }}"/>
    {% if activityPubURL is not null %}
	<link rel="alternate" type="application/activity+json" href="{{ activityPubURL }}"/>
	{% endif %}
	{% block additionalLinks %}{% endblock %}
	{%if metaTags is not null%}
		{%for tag in metaTags%}
			<meta property="{{tag.key}}" content="{{tag.value}}"/>
		{%endfor%}
	{%endif%}
	{% if moreMetaTags is not null %}
		{%for tag in moreMetaTags%}
			<meta name="{{tag.key}}" content="{{tag.value}}"/>
		{%endfor%}
	{% endif %}
	{% if noindex %}
		<meta name="robots" content="noindex, nofollow"/>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="theme-color" content="#4C6E00"/>
	<script>
		var userConfig={{jsConfig | raw}};
		var langKeys={{jsLangKeys | raw}};
		var mobile=true;
	</script>
	<style>
		.js{display: none;}
		.hasJS .js{display: block;}
	</style>
</head>
<body>
<script>document.body.classList.add("hasJS");{%if jsRedirect is not null%} window.location="{{jsRedirect}}";{%endif%}</script>
<div id="wrap">
<div class="header">
	<div class="menuButton">
		<label for="mainMenuToggler" tabindex="0" title="{{ L('main_menu') }}"></label>
	</div>
	{% block headerTitle %}<span class="title" id="headerTitle">{{toolbarTitle is empty ? title : toolbarTitle}}</span>{% endblock %}
	{% block headerActionButtons %}{% endblock %}
</div>
<input type="checkbox" id="mainMenuToggler" style="display: none"/>
<div class="mainMenu">
	<div class="inner">
		{% if currentUser is not null %}
		<a id="mainMenuSearchButton" title="{{ L('search') }}"></a>
		{% endif %}
		<label for="mainMenuToggler" title="{{ L('close') }}"></label>
{%block leftMenu%}
{% include "left_menu" %}
{%endblock%}
		{% include "footer" %}
	</div>
</div>
<div class="pageContent">
{%block content%}{%endblock%}
</div>
</div>
<script src="/res/common.js?{{ staticHashes['common.js'] }}"></script>
{% if _extraScriptFiles is not empty %}
{% for script in _extraScriptFiles %}
<script src="/res/{{ script.key }}?{{ script.value }}"></script>
{% endfor %}
{% endif %}
{% if _bottomScripts is not empty %}
<script>
{{ _bottomScripts | raw }}
</script>
{% endif %}
</body>
</html>
