{% extends "page" %}
{% block content %}
<div class="singleColumn">
<div class="settingsMessage" id="albumEditMessage" style="display: none"></div>
<form action="{{ album.url }}/edit?csrf={{ csrf }}" method="post" data-ajax>
{% include "photo_album_form" %}
</form>
<ul class="marginBefore actionList">
	<li><a href="{{ album.url }}/confirmDelete" data-confirm-message="{{ L('delete_photo_album_confirm') }}" data-confirm-title="{{ L('delete_photo_album') }}" data-confirm-action="{{ album.url }}/delete">{{ L('delete_photo_album') }}</a></li>
</ul>
</div>
{% if album.ownerID>0 %}{% include "friend_lists_script" %}{% endif %}
{% endblock %}
