{%extends "page"%}
{%block content%}
{%if user.domain is not null%}
<div class="cardsBackdrop">
<div class="card padded">
	{{L('incomplete_profile')}}<br/>
	<a href="{{user.url}}" target="_blank">{{L('open_on_server_X', user.domain)}}</a>
</div>
{%endif%}
<div class="card singleColumn">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" class="profileHeader">
		<tr>
			<td width="100">
				{{ user | pictureForAvatar('m') }}
			</td>
			<td class="profileNameW">
				<h2 class="profileName">{{ user.completeName }}</h2>
			</td>
		</tr>
	</table>
</div>
<div class="card singleColumn">
	{% if currentUser is not null and currentUser.id!=user.id and not isSelfBlocked %}
		<div class="profileBelowAva">
		{{friendshipStatusText}}
			{%if not(isFriend) and not(following) and not(friendRequestSent) and not(followRequested)%}
			{%if user.supportsFriendRequests%}
				{% if friendRequestRecvd %}
					<a href="{{user.profileURL}}/respondToFriendRequest?csrf={{csrf}}&accept" class="button{%if friendshipStatusText%} withText{%endif%}" data-ajax="1">{{L("accept")}}</a>
				{% else %}
					<a href="{{user.profileURL}}/confirmSendFriendRequest?csrf={{csrf}}" class="button{%if friendshipStatusText%} withText{%endif%}" data-ajax-box="1">{{L("add_friend")}}</a>
				{% endif %}
			{%else%}
				<a href="{{user.profileURL}}/confirmSendFriendRequest?csrf={{csrf}}" class="button{%if friendshipStatusText%} withText{%endif%}" data-ajax="1">{{L("follow")}}</a>
			{%endif%}
			{%endif%}
		</div>
	{%endif%}
	<ul class="actionList">
		{%if currentUser is not null and currentUser.id==user.id%}
			{%if currentUser.hasAvatar%}
				<li><a href="/settings/profile/general" onclick="new ProfilePictureBox().show(); return false;">{{L('update_profile_picture')}}</a></li>
				<li><a href="/settings/confirmRemoveProfilePicture" onclick="return ajaxConfirm('remove_profile_picture', 'confirm_remove_profile_picture', '/settings/removeProfilePicture');">{{L('remove_profile_picture')}}</a></li>
			{%else%}
				<li><a href="/settings/profile/general" onclick="new ProfilePictureBox().show(); return false;">{{L('upload_avatar')}}</a></li>
			{%endif%}
			<li class="separator"></li>
		{%endif%}
		<li><a href="/users/{{ user.id }}/friends">{{ LP('X_friends', friendCount) }}</a></li>
		<li class="separator"></li>
		{%if currentUser is not null and currentUser.id!=user.id%}
		{%if isFriend or following or friendRequestSent or followRequested%}
			<li><a href="{{user.getProfileURL('confirmRemoveFriend')}}" onclick="return ajaxConfirm({%if following or followRequested%}'unfollow'{%else%}'remove_friend'{%endif%},this.getAttribute('data-confirm'),'{{user.getProfileURL('doRemoveFriend')}}')" data-confirm="{{ LI(key=(following or followRequested ? 'confirm_unfollow_X' : 'confirm_unfriend_X'), first=user.firstName, last=user.lastName, gender=user.gender) | forceEscape }}">{%if following or followRequested%}{{L('unfollow')}}{%else%}{{L('remove_friend')}}{%endif%}</a></li>
		{%endif%}
		{% if isBlocked %}
			<li><a href="/users/{{ user.id }}/confirmUnblock" onclick="return ajaxConfirm('unblock', this.dataset.confirm, '/users/{{ user.id }}/unblock')" data-confirm="{{ LI(key='confirm_unblock_user_X', first=user.firstName, last=user.lastName, gender=user.gender) | forceEscape }}">{{ LI(key='unblock_user_X', first=user.firstName, gender=user.gender) }}</a></li>
			{% else %}
			<li><a href="/users/{{ user.id }}/confirmBlock" onclick="return ajaxConfirm('block', this.dataset.confirm, '/users/{{ user.id }}/block')" data-confirm="{{ LI(key='confirm_block_user_X', first=user.firstName, last=user.lastName, gender=user.gender) | forceEscape }}">{{ LI(key='block_user_X', first=user.firstName, gender=user.gender) }}</a></li>
		{% endif %}
		{%endif%}
		<li><a href="{{user.getProfileURL('followers')}}">{{L('followers')}}</a></li>
		<li><a href="{{user.getProfileURL('following')}}">{{L('following')}}</a></li>
		{% if groups is not empty %}
		<li><a href="/users/{{ user.id }}/groups">{{ LP('X_groups', groups.size) }}</a></li>
		{% endif %}
	</ul>
</div>

<div class="card profileFields">
{% for fld in profileFields %}
	<div class="profileFieldName">{{ fld.name }}</div>
	<div class="profileFieldValue">{{ fld.value | postprocessHTML }}</div>
{% endfor %}
</div>

{% include "wall_profile_block" with {'wallOwner': user} %}
</div>
{%endblock%}