{%extends "page"%}
{% macro profileSection(_context, title, editURL, fields) %}
	{% set isSelf=(_context.currentUser is not null and _context.currentUser.id==_context.user.id) %}
	{% if fields is not empty or isSelf %}
	<div class="card profileFields">
	{% if title is not empty %}
	<div class="sectionHeader">
		{% if isSelf %}<a href="{{ editURL }}">{{ L('edit') }}</a>{% endif %}
		<h4>{{ title }}</h4>
	</div>
	{% endif %}
	{% for fld in fields %}
	<div class="profileFieldName">{{ fld.name }}:</div>
	<div class="profileFieldValue">{% if fld.html %}{{ fld.value | postprocessHTML(keepLinksRel=true) }}{% else %}{{ fld.value | nl2br }}{% endif %}</div>
	{% else %}
	<div class="emptyState">{{ L('profile_no_info') }}</div>
	{% endfor %}
	</div>
	{% endif %}
{% endmacro %}
{%block content%}
<div class="cardsBackdrop">
{% if movedTo is not null %}
<div class="card padded">
	{{ L('profile_moved', {'name': user | name('first')}) }}<br/>
	<a href="{{ movedTo.profileURL }}">{{ L('profile_moved_link', {'domain': movedTo.domain, 'name': movedTo | name}) }}</a>
</div>
{% elseif user.domain is not null %}
<div class="card padded">
	{{L('incomplete_profile')}}<br/>
	<a href="{{user.url}}" target="_blank">{{L('open_on_server_X', {'domain': user.domain})}}</a>
</div>
{%endif%}
<div class="card singleColumn">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" class="profileHeader">
		<tr>
			<td width="100">
				{{ user | pictureForAvatar('b') }}
			</td>
			<td class="profileNameW">
				<h2 class="profileName">{{ user | name('complete') }}</h2>
			</td>
		</tr>
	</table>
</div>
<div class="card singleColumn">
	{% if currentUser is not null and currentUser.id!=user.id and not isSelfBlocked and movedTo is null %}
		<div class="profileBelowAva">
		{{friendshipStatusText}}
			{%if not(isFriend) and not(following) and not(friendRequestSent) and not(followRequested)%}
			{%if user.supportsFriendRequests%}
				{% if friendRequestRecvd %}
					<a href="/users/{{ user.id }}/respondToFriendRequest?csrf={{csrf}}&accept" class="button{%if friendshipStatusText%} withText{%endif%}" data-ajax="1">{{L("accept")}}</a>
				{% else %}
					<a href="/users/{{ user.id }}/confirmSendFriendRequest?csrf={{csrf}}" class="button{%if friendshipStatusText%} withText{%endif%}" data-ajax-box="1">{{L("add_friend")}}</a>
				{% endif %}
			{%else%}
				<a href="/users/{{ user.id }}/confirmSendFriendRequest?csrf={{csrf}}" class="button{%if friendshipStatusText%} withText{%endif%}" data-ajax="1">{{L("follow")}}</a>
			{%endif%}
			{%endif%}
			{% if canMessage %}
			<a href="/my/mail/compose?to={{ user.id }}" class="button withText">{{ L('profile_write_message') }}</a>
			{% endif %}
		</div>
	{%endif%}
	<ul class="actionList">
		{%if currentUser is not null and currentUser.id==user.id%}
			{%if currentUser.hasAvatar%}
				<li><a href="/settings/profile/general" onclick="chooseFileAndUpload('/settings/updateProfilePicture', 'file', 'image/*'); return false;">{{L('update_profile_picture')}}</a></li>
				<li><a href="/settings/confirmRemoveProfilePicture" onclick="return ajaxConfirm('remove_profile_picture', 'confirm_remove_profile_picture', '/settings/removeProfilePicture');">{{L('remove_profile_picture')}}</a></li>
			{%else%}
				<li><a href="/settings/profile/general" onclick="chooseFileAndUpload('/settings/updateProfilePicture', 'file', 'image/*'); return false;">{{L('upload_avatar')}}</a></li>
			{%endif%}
			<li class="separator"></li>
		{%endif%}
		<li><a href="/users/{{ user.id }}/friends">{{ L('X_friends', {'count': friendCount}) }}</a></li>
		<li class="separator"></li>
		{%if currentUser is not null and currentUser.id!=user.id%}
		{%if isFriend or following or friendRequestSent or followRequested%}
			<li><a href="/users/{{ user.id }}/confirmRemoveFriend" onclick="return ajaxConfirm({%if following or followRequested%}'unfollow'{%else%}'remove_friend'{%endif%},this.getAttribute('data-confirm'),'/users/{{ user.id }}/doRemoveFriend')" data-confirm="{{ L(following or followRequested ? 'confirm_unfollow_X' : 'confirm_unfriend_X', {'name': user.firstLastAndGender}) | forceEscape }}">{%if following or followRequested%}{{L('unfollow')}}{%else%}{{L('remove_friend')}}{%endif%}</a></li>
		{%endif%}
			<li><a href="/users/{{ user.id }}/{{ isBookmarked ? "removeBookmark" : "addBookmark" }}?csrf={{ csrf }}" id="profileBookmarkButton" data-ajax data-ajax-show="bookmarkLoader"><span id="profileBookmarkButtonText">{{ L(isBookmarked ? 'remove_bookmark' : 'add_bookmark') }}</span> <span class="inlineLoader" id="bookmarkLoader" style="display: none"></span></a></li>
		{% if isBlocked %}
			<li><a href="/users/{{ user.id }}/confirmUnblock" onclick="return ajaxConfirm('unblock', this.dataset.confirm, '/users/{{ user.id }}/unblock')" data-confirm="{{ L('confirm_unblock_user_X', {'name': user.firstLastAndGender}) | forceEscape }}">{{ L('unblock_user_X', {'name': user.firstAndGender}) }}</a></li>
			{% else %}
			<li><a href="/users/{{ user.id }}/confirmBlock" onclick="return ajaxConfirm('block', this.dataset.confirm, '/users/{{ user.id }}/block')" data-confirm="{{ L('confirm_block_user_X', {'name': user.firstLastAndGender}) | forceEscape }}">{{ L('block_user_X', {'name': user.firstAndGender}) }}</a></li>
		{% endif %}
		{%endif%}
		<li><a href="/users/{{ user.id }}/followers">{{L('followers')}}</a></li>
		<li><a href="/users/{{ user.id }}/following">{{L('following')}}</a></li>
		{% if groups is not empty %}
		<li><a href="/users/{{ user.id }}/groups">{{ L('X_groups', {'count': groups.size}) }}</a></li>
		{% endif %}
		{% if userPermissions is not null and userPermissions.canReport(user) %}
			<li><a href="/system/reportForm?type=user&id={{ user.id }}" data-ajax-box>{{ L('report') }}</a></li>
		{% endif %}
		{% if userPermissions.hasPermission('MANAGE_USERS') %}
			<li class="separator"></li>
			<li><a href="/users/{{ user.id }}/meminfo">{{ L('admin_manage_user') }}</a></li>
		{% endif %}
	</ul>
</div>

{% include "profile_section_thumbs" with {'actor': user} %}

{{ profileSection(_context, null, null, mainFields) }}
{{ profileSection(_context, L('profile_contacts_title'), "/settings/profile/contacts", contactsFields) }}
{{ profileSection(_context, L('profile_personal_title'), "/settings/profile/personal", personalFields) }}
{{ profileSection(_context, L('profile_interests_title'), "/settings/profile/interests", interestsFields) }}

{% include "wall_profile_block" with {'wallOwner': user} %}
</div>
{%endblock%}