<div class="singleColumn">
	{% for user in items %}
		<table width="100%" class="friendsRow noBorderSpacing">
			<tr valign="top">
				<td width="50">
					<a href="{{user.profileURL}}">{{user | pictureForAvatar('s')}}</a>
				</td>
				<td class="info" valign="middle">
					<b><a href="{{user.profileURL}}">{{ user | name }}</a></b>
				</td>
			</tr>
		</table>
	{% else %}
	<div class="emptyState">{{ emptyMessage }}</div>
	{% endfor %}
	{% include "pagination" %}
</div>