<div class="singleColumn">
	{% for id in items %}
		{% set actor=id>0 ? users[id] : groups[-id] %}
		<table width="100%" class="friendsRow noBorderSpacing">
			<tr valign="top">
				<td width="50">
					<a href="{{ profileURL(id) }}"{{ profileRel(actor) }}>{{ actor | pictureForAvatar('a') }}</a>
				</td>
				<td class="info" valign="middle">
					<b><a href="{{ profileURL(id) }}"{{ profileRel(actor) }}>{{ actor | name }}</a></b>
				</td>
			</tr>
		</table>
	{% else %}
	<div class="emptyState">{{ emptyMessage }}</div>
	{% endfor %}
	{% include "pagination" %}
</div>