{# @pebvariable name="post" type="smithereen.model.viewmodel.PostViewModel" #}
{# @pebvariable name="realPost" type="smithereen.model.Post" #}
{% set realPost=post.post %}
<a name="comment{{realPost.id}}"></a>
<table width="100%" class="post comment" id="post{{realPost.id}}" data-reply-name="{{ users[realPost.authorID].nameForReply}}" data-replying-name="{{ L('in_reply_to_name', {'name': users[realPost.authorID].firstAndGender}) }}">
	<tr>
		{%if realPost.replyLevel>1%}
		<td width="{{(realPost.replyLevel-1)*8}}" class="treeIndent">&nbsp;</td>
		{%endif%}
		{%if not(realPost.deleted)%}
		<td width="40" valign="top">
			<a href="{{ profileURL(realPost.authorID) }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | pictureForAvatar('s', 32) }}</a>
		</td>
		<td class="commentContentWrap">
			<div class="authorNameWrap"><a href="{{ profileURL(realPost.authorID) }}" class="authorName"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | name }}</a>
			{%- if realPost.privacy!='PUBLIC' -%}
			<span class="privatePostLockIcon"></span>
			{%- endif -%}
			</div>
			{% if realPost.hasContentWarning %}
				<input type="checkbox" id="postCW_{{ realPost.id }}" class="commentCWCheckbox" style="display: none"/>
			<div class="postCWWrap">
				<label for="postCW_{{ realPost.id }}" class="postCWButton ellipsize">{{ realPost.contentWarning }}</label>
			{% endif %}
			<div class="postContent">{{ realPost.text | postprocessHTML | truncateText }}</div>
			{% if realPost.attachments is not null %}
			{{ renderAttachments(realPost.processedAttachments, realPost.ownerID>0 ? users[realPost.ownerID] : groups[-realPost.ownerID]) }}
			{% endif %}
			{% if realPost.hasContentWarning %}
			</div>
			{% endif %}
			<div class="postInfo">
				<a href="{{realPost.internalURL}}" onclick="return highlightComment({{realPost.id}})" class="postLink">{{LD(realPost.createdAt)}}</a>
				<div class="actions">
					{% if currentUser is not null %}
						{% if not hideReplyLink and topLevel.canComment -%}
							<a href="{{realPost.internalURL}}" onclick="return showPostReplyForm({{realPost.id}}, '{{ replyFormID is empty ? 'wallPostForm_reply' : replyFormID }}', false)">{{L('add_reply')}}</a>
						{%- endif %}
						{% set options=[] %}
						{% set _=options.add({'type': 'link', 'href': "#{realPost.internalURL}/likes", 'label': L('likes_title').toString()}) %}
						{% if userPermissions is not null and userPermissions.canDeletePost(realPost) %}
						    {% set _=options.add({'type': 'confirm', 'label': L('delete').toString(), 'title': 'delete_reply', 'msg': 'delete_reply_confirm', 'url': "#{realPost.internalURL}/delete"}) %}
						{% endif %}
						{% if userPermissions is not null and userPermissions.canEditPost(realPost) %}
							{% set _=options.add({'type': 'link', 'label': L('edit').toString(), 'href': "#{realPost.internalURL}/edit"}) %}
						{% endif %}
						{% if userPermissions is not null and userPermissions.canReport(realPost) %}
							{% set _=options.add({'type': 'link', 'label': L('report').toString(), 'href': "/system/reportForm?type=post&id=#{realPost.id}", 'ajax': 'box'}) %}
						{% endif %}
						{% if not realPost.local %}
							{% set _=options.add({'type': 'link', 'target': '_blank', 'href': realPost.activityPubURL, 'label': L('open_on_server_X', {'domain': realPost.activityPubURL.host}).toString()}) %}
						{% endif %}

						<a href="#" onclick="return showOptions(this)" data-options="{{ json(options) }}">{{ L('more_actions') }}</a>
					{% endif %}
				</div>
			</div>
			{%if postInteractions is not null%}
			{%set interactions=postInteractions[realPost.id]%}
				<div class="postActions">
					<span class="likeWrap">
						<a href="{{realPost.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}" class="action like{%if interactions.isLiked%} liked{%endif%}" id="likeButtonPost{{realPost.id}}" data-obj-type="post" data-obj-id="{{realPost.id}}" data-popover-url="{{realPost.internalURL}}/likePopover" onclick="return likeOnClick(this)">
							<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPost{{realPost.id}}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
							{{- interactions.likeCount -}}
						</span></a>
					</span>
				</div>
			{%endif%}
		</td>
		{%else%}
		<td class="commentContentWrap">
			<i>{{L('deleted_placeholder')}}</i>
		</td>
		{%endif%}
	</tr>
</table>
<div id="postReplies{{realPost.id}}" class="replies">
	{% for reply in post.repliesObjects %}
	{% include "wall_reply" with {'post': reply, 'topLevel': topLevel} %}
	{% endfor %}
	{% if post.loadableRepliesCount>0 %}
		<div id="loadRepliesContainer{{ realPost.id }}" class="threadedIndented" style="--indent-level: {{ realPost.replyLevel-1 }}">
			<a class="loadRepliesLink" onclick="return loadCommentBranch({{ realPost.id }}, {{ post.repliesObjects | length }})" id="loadRepliesLink{{ realPost.id }}">{{ L(post.loadedRepliesCount>0 ? 'comments_show_X_more_replies' : 'comments_show_X_replies', {'count': post.loadableRepliesCount}) }}</a>
			<div class="loadRepliesLink" id="repliesLoader{{ realPost.id }}" style="display: none;"><span class="loader"></span></div>
			<div class="depthIndicator"></div>
		</div>
	{% endif %}
</div>