{# @pebvariable name="post" type="smithereen.model.viewmodel.PostViewModel" #}
{# @pebvariable name="realPost" type="smithereen.model.Post" #}
{% set realPost=post.post %}
{% set replyLevel=realPost.replyLevel-(baseReplyLevel | default(0)) %}
<a name="comment{{realPost.id}}"></a>
<div class="post comment{{ commentViewType=='TWO_LEVEL' and not hideIndent and replyLevel>1 ? ' twoLevelIndented' : '' }}" id="post{{realPost.id}}" data-reply-name="{{ users[realPost.authorID].nameForReply}}" data-replying-name="{{ L('in_reply_to_name', {'name': users[realPost.authorID].firstAndGender}) }}">
	{% if replyLevel>1 and not hideIndent %}
	{% if commentViewType=='THREADED' %}
	<div style="--indent-level: {{ min(replyLevel-1, maxReplyDepth) }}" class="treeIndent"></div>
	{% endif %}
	{% endif %}
	{%if not(realPost.deleted)%}
	<div class="commentAvaWrap">
		<a href="{{ profileURL(realPost.authorID) }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | pictureForAvatar('a', 32) }}</a>
	</div>
	<div class="commentContentWrap">
		<div class="authorNameWrap"><a href="{{ profileURL(realPost.authorID) }}" class="authorName"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | name }}</a>
		{%- if realPost.privacy!='PUBLIC' -%}
		<span class="privatePostLockIcon"></span>
		{%- endif -%}
		</div>
		{% if realPost.hasContentWarning %}
			<input type="checkbox" id="postCW_{{ realPost.id }}" class="commentCWCheckbox" style="display: none"/>
		<div class="postCWWrap">
			<label for="postCW_{{ realPost.id }}" class="postCWButton ellipsize">{{ realPost.contentWarning | default(L('cw_default')) }}</label>
		{% endif %}
		<div class="postContent">{{ realPost.text | postprocessHTML | truncateText }}</div>
		{% if realPost.attachments is not null %}
		{{ renderAttachments(realPost, realPost.ownerID>0 ? users[realPost.ownerID] : groups[-realPost.ownerID]) }}
		{% endif %}
		{% if realPost.hasContentWarning %}
		</div>
		{% endif %}
		{%set interactions=postInteractions[realPost.id]%}
		<div class="postInfo">
			<a href="{{realPost.internalURL}}" onclick="return highlightComment({{realPost.id}})" class="postLink">{{LD(realPost.createdAt)}}</a>
			{% if replyLevel>maxReplyDepth %}<span class="commentInReply grayText"> {{ L('comment_in_reply_to_user_short', {'gender': users[realPost.authorID].gender, 'name': users[post.parentAuthorID] | name('firstAndGender')}, {'parentComment': {'href': profileURL(post.parentAuthorID), 'class': "grayText parentCommentLink", 'data-parent-id': realPost.replyKey.last, 'onclick': "highlightComment(#{realPost.replyKey.last}); return false;"} }) }}</span>{% endif %}<br/>
			<div class="actions">
				{% if currentUser is not null %}
					{% if not hideReplyLink and topLevel.canComment -%}
						<a href="{{realPost.internalURL}}" onclick="return showPostReplyForm({{realPost.id}}, '{{ replyFormID is empty ? 'wallPostForm_reply' : replyFormID }}', false)">{{L('add_reply')}}</a>
					{%- endif %}
					{% set options=[] %}
					{% if interactions is not null and interactions.likeCount>0 %}
						{% set _=options.add({'type': 'link', 'href': "#{realPost.internalURL}/likes", 'label': L('liked_by_X_people', {'count': interactions.likeCount}).toString()}) %}
					{% endif %}
					{% if post.canRepost %}
						{% set _=options.add({'type': 'link', 'label': L('share_content').toString(), 'href': "/posts/#{realPost.id}/share", 'ajax': 'box'}) %}
					{% endif %}
					{% if userPermissions is not null and userPermissions.canDeletePost(realPost) %}
						{% set _=options.add({'type': 'confirm', 'label': L('delete').toString(), 'title': 'delete_reply', 'msg': 'delete_reply_confirm', 'url': "#{realPost.internalURL}/delete"}) %}
					{% endif %}
					{% if userPermissions is not null and userPermissions.canEditPost(realPost) %}
						{% set _=options.add({'type': 'link', 'label': L('edit').toString(), 'href': "#{realPost.internalURL}/edit"}) %}
					{% endif %}
					{% if userPermissions is not null and userPermissions.canReport(realPost) %}
						{% set _=options.add({'type': 'link', 'label': L('report').toString(), 'href': "/system/reportForm?type=post&id=#{realPost.id}", 'ajax': 'box'}) %}
					{% endif %}
					{% if not realPost.local %}
						{% set _=options.add({'type': 'link', 'target': '_blank', 'href': realPost.activityPubURL, 'label': L('open_on_server_X', {'domain': realPost.activityPubURL.host}).toString()}) %}
					{% endif %}

					<a href="#" onclick="return showOptions(this)" data-options="{{ json(options) }}">{{ L('more_actions') }}</a>
				{% endif %}
			</div>
		</div>
		{%if interactions is not null%}
			<div class="postActions">
				<span class="likeWrap">
					<a href="{{realPost.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}" class="action like{%if interactions.isLiked%} liked{%endif%}" id="likeButtonPost{{realPost.id}}" data-obj-type="post" data-obj-id="{{realPost.id}}" data-popover-url="{{realPost.internalURL}}/likePopover" {% if currentUser is not null %}onclick="return likeOnClick(this)"{% else %}data-ajax-box{% endif %}>
						<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPost{{realPost.id}}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
						{{- interactions.likeCount -}}
					</span></a>
				</span>
			</div>
		{%endif%}
	</div>
	{%else%}
	<div class="commentContentWrap">
		<i>{{L('deleted_placeholder')}}</i>
	</div>
	{%endif%}
</div>
{% if not hideReplies and commentViewType!='FLAT' and not (commentViewType=='TWO_LEVEL' and replyLevel>1) %}
<div id="postReplies{{realPost.id}}" class="replies">
	{% for reply in post.repliesObjects %}
		{% include "wall_reply" with {'post': reply, 'topLevel': topLevel} %}
		{% set realPost=post.post %}
		{% set replyLevel=realPost.replyLevel-(baseReplyLevel | default(0)) %}
	{% endfor %}
	{% if post.loadableRepliesCount>0 %}
	<div id="loadRepliesContainer{{ realPost.id }}" class="threadedIndented" style="--indent-level: {{ min(replyLevel-1, maxReplyDepth) }}">
		<a class="loadRepliesLink" onclick="return loadCommentBranch(this, {{ realPost.id }}, {{ topLevel.post.isMastodonStyleRepost ? topLevel.post.id : 0 }})" data-offset="{{ post.repliesObjects | length }}" id="loadRepliesLink{{ realPost.id }}">{{ L(post.loadedRepliesCount>0 ? 'comments_show_X_more_replies' : 'comments_show_X_replies', {'count': post.loadableRepliesCount}) }}</a>
		<div class="loadRepliesLink" id="repliesLoader{{ realPost.id }}" style="display: none;"><span class="loader"></span></div>
		<div class="depthIndicator"></div>
	</div>
	{% endif %}
</div>
{% endif %}