{# @pebvariable name="post" type="smithereen.data.Post" #}
<a name="comment{{post.id}}"></a>
<table width="100%" class="post comment" id="post{{post.id}}" data-reply-name="{{post.user.nameForReply}}">
	<tr>
		{%if post.replyLevel>1%}
		<td width="{{(post.replyLevel-1)*8}}" class="treeIndent">&nbsp;</td>
		{%endif%}
		{%if not(post.deleted)%}
		<td width="40" valign="top">
			<a href="{{post.user.profileURL}}">{{post.user | pictureForAvatar('s', 32)}}</a>
		</td>
		<td class="commentContentWrap">
			<div class="authorNameWrap"><a href="{{post.user.profileURL}}" class="authorName">{{post.user.fullName}}</a></div>
			<div class="postContent">{{post.content | postprocessHTML}}</div>
			{%if post.attachment is not null%}{{renderAttachments(post.processedAttachments)}}{%endif%}
			<div class="postInfo">
				<a href="{{post.internalURL}}" onclick="return highlightComment({{post.id}})" class="postLink">{{LD(post.published)}}</a>
				<div class="actions">
					{% if currentUser is not null %}
						{%if not hideReplyLink%}<a href="{{post.internalURL}}" onclick="return showPostReplyForm({{post.id}})">{{L('add_reply')}}</a>{%endif%}
						{% set options=[] %}
						{% set _=options.add({'type': 'link', 'href': "#{post.internalURL}/likes", 'label': L('likes_title').toString()}) %}
						{% if userPermissions is not null and userPermissions.canDeletePost(post) %}
						    {% set _=options.add({'type': 'confirm', 'label': L('delete').toString(), 'title': 'delete_reply', 'msg': 'delete_reply_confirm', 'url': "#{post.url}/delete"}) %}
						{% endif %}
						{% if not post.local %}
							{% set _=options.add({'type': 'link', 'target': '_blank', 'href': post.url, 'label': L('open_on_server_X', post.url.host).toString()}) %}
						{% endif %}

						<a href="#" onclick="return showOptions(this)" data-options="{{ json(options) }}">{{ L('more_actions') }}</a>
					{% endif %}
				</div>
			</div>
			{%if postInteractions is not null%}
			{%set interactions=postInteractions[post.id]%}
				<div class="postActions">
					<span class="likeWrap">
						<a href="{{post.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}" class="action like{%if interactions.isLiked%} liked{%endif%}" id="likeButtonPost{{post.id}}" data-obj-type="post" data-obj-id="{{post.id}}" data-popover-url="{{post.internalURL}}/likePopover" onclick="return likeOnClick(this)">
							<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPost{{post.id}}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
							{{- interactions.likeCount -}}
						</span></a>
					</span>
				</div>
			{%endif%}
		</td>
		{%else%}
		<td class="commentContentWrap">
			<i>{{L('deleted_placeholder')}}</i>
		</td>
		{%endif%}
	</tr>
</table>
<div id="postReplies{{post.id}}" class="replies">
	{%for reply in post.replies%}
	{%include "wall_reply" with {'post': reply}%}
	{%endfor%}
</div>