{% extends "page" %}
{% block content %}
<div class="columnLayout leftNarrow">
	<div id="left">
		<h2>{{ L('about_stats') }}</h2>
		<div class="marginBefore">
			{{ L('about_on_this_server') }}:
			<ul class="actualList">
				<li><span>{{ L('about_X_users', {'count': totalUsers}) }}</span></li>
				<li><span>{{ L('about_X_groups', {'count': totalGroups}) }}</span></li>
				<li><span>{{ L('about_X_posts', {'count': totalPosts}) }}</span></li>
			</ul>
		</div>
	</div>
	<div id="right">
		<h2>{{ L('about_admins') }}</h2>
		<div class="memberList" style="--avatar-size: 40px; padding-left: 0; padding-right: 0;">
		{% for admin in serverAdmins %}
			<a href="{{ admin.profileURL }}">{{ admin | pictureForAvatar('a', 40) }}</a>
			<div class="nameAndInfo">
				<div><a href="{{ admin.profileURL }}">{{ admin | name }}</a></div>
			</div>
		{% endfor %}
		</div>
		{% if serverAdminEmail is not empty %}
			<h2>{{ L('about_contact') }}</h2>
			<div class="marginBefore">
				<a href="mailto:{{ serverAdminEmail }}">{{ serverAdminEmail }}</a>
			</div>
		{% endif %}
	</div>
</div>
{% if serverPolicy is not empty %}
<div class="singleColumn">
	<div class="textByItself">{{ serverPolicy | raw }}</div>
</div>
{% endif %}
{% if serverRules is not empty %}
<div class="singleColumn">
	<h2>{{ L('about_server_rules') }}</h2>
	<ol class="largeNumbers">
	{% for rule in serverRules %}
		<li>
			<span class="number" aria-hidden="true">{{ loop.index+1 }}</span>
			<h5>{{ rule.getTranslatedTitle(getLocale()) }}</h5>
			{% set description=rule.getTranslatedDescription(getLocale()) %}
			{% if description is not empty %}<div>{{ description | nl2br }}</div>{% endif %}
		</li>
	{% endfor %}
	</ol>
</div>
{% endif %}
{% if restrictedServers is not empty %}
<div class="singleColumn">
	<h2>{{ L('about_server_federation_restrictions') }}</h2>
	<div class="marginBefore marginAfter">{{ L('about_server_federation_restrictions_explain', {'count': restrictedServers | length}) }}</div>
	<table class="dataTable" width="100%">
		<tr class="tableHeader">
			<th width="200">{{ L('server') }}</th>
			<th>{{ L('federation_restriction_reason') }}</th>
		</tr>
		{%- for server in restrictedServers %}
		<tr>
			<td>{{ server.host }}</td>
			<td>{{ server.restriction.publicComment }}</td>
		</tr>
		{%- endfor %}
	</table>
</div>
{% endif %}
<div class="singleColumn" align="center">
	{{ L('about_software', {'sw': 'Smithereen', 'version': serverVersion}, {'sw': {'href': 'https://smithereen.software/', 'target': '_blank'} }) }}
</div>
{% endblock %}