{%-extends "page.twig"%}
{%-block content%}
{%include "admin_tabbar.twig" with {selected: 0}%}
<div class="singleColumn gray">
	<form action="/settings/admin/updateServerInfo" method="post" onsubmit="return ajaxSubmitForm(this)">
		<h2>{{L('admin_server_info')}}</h2>
		<div class="settingsMessage" id="adminServerInfoMessage" style="{%if not adminServerInfoMessage%}display: none{%endif%}">{{adminServerInfoMessage}}</div>
		<table class="form">
			<tr><td class="label"><label for="server_name">{{L('admin_server_name')}}</label>:</td><td><input type="text" id="server_name" name="server_name" value="{{serverName}}" maxlength="100" required/></td></tr>
			<tr><td class="label"><label for="server_description">{{L('admin_server_description')}}</label>:</td><td><textarea name="server_description" id="server_description" rows="4">{{serverDescription}}</textarea></td></tr>
			<tr><td class="label"><label for="server_admin_email">{{L('admin_server_admin_email')}}</label>:</td><td><input type="email" id="server_admin_email" name="server_admin_email" value="{{serverAdminEmail}}" maxlength="100"/></td></tr>
			<tr><td class="label"><label for="signup_mode">{{L('admin_signup_mode')}}:</label></td><td>
				<select name="signup_mode" id="signup_mode">
					<option value="OPEN"{%if signupMode=='OPEN'%} selected{%endif%}>{{L('admin_signup_mode_open')}}</option>
					<option value="INVITE_ONLY"{%if signupMode=='INVITE_ONLY'%} selected{%endif%}>{{L('admin_signup_mode_invite')}}</option>
					{#<option value="MANUAL_APPROVAL"{%if signupMode=='MANUAL_APPROVAL'%} selected{%endif%}>{{L('admin_signup_mode_approval')}}</option>#}
					<option value="CLOSED"{%if signupMode=='CLOSED'%} selected{%endif%}>{{L('admin_signup_mode_closed')}}</option>
				</select>
				<br/>
				<span class="formExplanation">{{L('admin_signup_mode_explain')}}</span>
			</td></tr>
			<tr class="footer"><td class="label"></td><td><input type="submit" value="{{L('save')}}"/></td></tr>
		</table>
		<input type="hidden" name="csrf" value="{{csrf}}"/>
	</form>
</div>
{%-endblock%}