{# @pebvariable name="post" type="smithereen.model.viewmodel.CommentViewModel" #}
{# @pebvariable name="realPost" type="smithereen.model.comments.Comment" #}
{# @pebvariable name="parentObject" type="smithereen.model.comments.CommentableContentObject" #}
{% set realPost=post.post %}
{% if randomID is empty %}{% set randomID=randomString() %}{% endif %}
{% set replyLevel=realPost.replyLevel-(baseReplyLevel | default(0)) %}
<div class="post{{ board ? '' : ' comment' }}{{ first ? ' first' : '' }}{{ commentViewType=='TWO_LEVEL' and not hideIndent and replyLevel>0 ? ' twoLevelIndented' : '' }}" id="comment{{realPost.idString}}" data-reply-name="{{users[realPost.authorID].nameForReply}}" data-replying-name="{{ L('in_reply_to_name', {'name': users[realPost.authorID].firstAndGender}) }}">
	{% if replyLevel>0 and not hideIndent %}
	{% if commentViewType=='THREADED' %}
	<div style="--indent-level: {{ min(replyLevel, maxReplyDepth) }}" class="treeIndent"></div>
	{% endif %}
	{% endif %}
	{%if not(realPost.deleted)%}
	{% if users[realPost.authorID].suspended %}
	<div class="postAvaWrap" id="commentSuspendedAvaWrap{{ realPost.idString }}_{{ randomID }}">
		<a href="{{ profileURL(realPost.authorID) }}"{{ profileRel(realPost.authorID) }}><span class="ava avaPlaceholder sizeA suspended" style="width: 32px; height: 32px;"></span></a>
	</div>
	<div class="postContentWrap" id="commentSuspendedContentWrap{{ realPost.idString }}_{{ randomID }}">
		<a href="{{ profileURL(realPost.authorID) }}" class="authorName"{{ profileRel(realPost.authorID) }}>{{ L('suspended_user') }}</a>
		<div>
			<div class="postContent">
				{%- if currentUser is not null -%}
				{{ L('comment_suspended_warning_show', {}, {'show': {'href': 'javascript:void(0)', 'onclick': "ge('commentSuspendedAvaWrap#{realPost.idString}_#{randomID}').remove();ge('commentSuspendedContentWrap#{realPost.idString}_#{randomID}').remove();ge('commentAvaWrap#{realPost.idString}_#{randomID}').show();ge('commentContentWrap#{realPost.idString}_#{randomID}').show();"} }) }}
				{%- else -%}
				{{ L('comment_suspended_warning') }}
				{%- endif -%}
			</div>
			<div class="postInfo">
				<a href="{{ realPost.internalURL }}" class="postLink">{{ LD(realPost.createdAt) }}</a>
				{% if not realPost.local %}
					| <a href="{{ realPost.activityPubURL }}" target="_blank" rel="noopener">{{ L('open_on_server_X', {'domain': realPost.activityPubURL.host}) }}</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
	{% if currentUser is not null or not users[realPost.authorID].suspended %}
	<div class="postAvaWrap"{% if users[realPost.authorID].suspended %} id="commentAvaWrap{{ realPost.idString }}_{{ randomID }}" style="display: none"{% endif %}>
		<a href="{{ profileURL(realPost.authorID) }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | pictureForAvatar('a', 32) }}</a>
		{% if board and onlines contains realPost.authorID and onlines[realPost.authorID].isOnline %}<div class="onlineText">{{ L('user_online') }}{% if onlines[realPost.authorID].mobile %}<span class="mobileOnlineIcon"></span>{% endif %}</div>{% endif %}
	</div>
	<div class="postContentWrap"{% if users[realPost.authorID].suspended %} id="commentContentWrap{{ realPost.idString }}_{{ randomID }}" style="display: none"{% endif %}>
		<a name="comment{{realPost.idString}}"></a>
		{% if not hideActions %}
		<div class="flR revealOnHover floatingPostActions" id="postFloatingActions{{ realPost.idString }}">
			{% if userPermissions is not null and userPermissions.canDeletePost(realPost) and not suppressDeletion %}
			<a href="{{ realPost.internalURL }}/confirmDelete" onclick="return ajaxConfirm('delete_reply', 'delete_reply_confirm', '{{ realPost.internalURL }}/delete')" class="flR postIconAction actionDelete" data-tooltip="{{ L('delete') }}" aria-label="{{ L('delete') }}"><span class="icon"></span></a>
			{% endif %}
			{% if userPermissions is not null and userPermissions.canEditPost(realPost) %}
			<a href="{{ realPost.internalURL }}/edit" data-ajax class="flR postIconAction actionEdit" data-tooltip="{{ L('edit') }}" aria-label="{{ L('edit') }}"><span class="icon"></span></a>
			{% endif %}
			{% if userPermissions is not null and userPermissions.canReport(realPost) %}
			<a href="/system/reportForm?type=comment&id={{ realPost.idString }}" data-ajax-box class="flR postIconAction actionReport" data-tooltip="{{ L('report') }}" aria-label="{{ L('report') }}"><span class="icon"></span></a>
			{% endif %}
		</div>
		{% endif %}
		<a href="{{ profileURL(realPost.authorID) }}" class="authorName" id="postAuthor{{ realPost.idString }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | name }}</a>
		{% if replyLevel>maxReplyDepth %}<span class="commentInReply grayText hoverCardContainer" id="inReplyTo{{ realPost.idString }}"> {{ L('comment_in_reply_to_user', {'gender': users[realPost.authorID].gender, 'name': users[post.parentAuthorID] | name('firstAndGender')}, {'parentComment': {'href': profileURL(post.parentAuthorID), 'class': "grayText parentCommentLink hoverCardTrigger", 'data-parent-id': realPost.replyParentID, 'data-parent-type': 'comment'} }) }}</span>{% endif %}<br/>
		<div id="postInner{{ realPost.idString }}">
			{% block postInner %}
			{% if realPost.hasContentWarning %}
			<input type="checkbox" id="postCW_{{ realPost.idString }}" class="commentCWCheckbox" style="display: none"/>
			<div class="postCWWrap">
				<label for="postCW_{{ realPost.idString }}" class="postCWButton ellipsize">{{ realPost.contentWarning | default(L('cw_default')) }}</label>
			{% endif %}
			<div class="postContent">{{ realPost.text | postprocessHTML | truncateText }}</div>
			{% if realPost.attachments is not empty %}
			{{ renderAttachments(realPost, realPost.ownerID>0 ? users[realPost.ownerID] : groups[-realPost.ownerID]) }}
			{% endif %}
			{% if realPost.hasContentWarning %}
			</div>
			{% endif %}
			<div class="postInfo">
				{%- set interactions=commentInteractions[realPost.id] -%}
				{%- if interactions is not null -%}
				<span class="postActions contentActions">
					<span class="likeWrap" onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)">
						<a href="{{realPost.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}&rid={{ randomID }}" class="action like commentLike{{ interactions.isLiked ? ' liked' : '' }}{{ interactions.likeCount>0 or interactions.repostCount>0 ? '' : ' revealOnHover' }} popoverButton" id="likeButtonComment{{realPost.idString}}_{{ randomID }}" data-obj-type="comment" data-obj-id="{{realPost.idString}}_{{ randomID }}" data-popover-url="{{realPost.internalURL}}/likePopover" {% if currentUser is not null %}onclick="return likeOnClick(this)"{% else %}data-ajax-box{% endif %}{% if not board %} title="{{ L('like') }}"{% endif %}>
							{% if board %}{{ L('like') }}{% endif %}<span class="icon">&nbsp;</span><span class="counter" id="likeCounterComment{{realPost.idString}}_{{ randomID }}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
							{{- interactions.likeCount -}}
						</span></a>
						<span class="popoverPlace likePopoverWrap"></span>
					</span>
				</span>
				{%- endif -%}
				<a href="{{realPost.internalURL}}" onclick="return highlightComment('{{ realPost.idString }}')" class="postLink">{{LD(realPost.createdAt)}}</a>
				{%- if not hideActions %}
				{% if not hideReplyLink and canComment and currentUser is not null %}
					| <a href="{{realPost.internalURL}}"
						 onclick="return showReplyForm('{{realPost.idString}}', '{{ replyFormID is empty ? 'wallPostForm_reply' : replyFormID }}', 'comment', {{ commentViewType!='FLAT' }}, '{{ commentViewType=='TWO_LEVEL' and replyLevel>0 ? realPost.replyKeyAsStrings[0] : '' }}')">{{ L('add_reply') }}</a>
				{% endif %}
				{% if not realPost.local %}
					| <a href="{{ realPost.activityPubURL }}" target="_blank" rel="noopener">{{ L('open_on_server_X', {'domain': realPost.activityPubURL.host}) }}</a>
				{% endif %}
				{% endif %}
			</div>
			{% endblock %}
		</div>
	</div>
	{% endif %}
	{%else%}
	<div class="postAvaWrap"></div>
	<div class="postContentWrap">
		<i>{{L('deleted_placeholder')}}</i>
	</div>
	{%endif%}
</div>
{% if not hideReplies and commentViewType!='FLAT' and not (commentViewType=='TWO_LEVEL' and replyLevel>0) %}
<div id="commentReplies{{realPost.idString}}" class="replies">
	{%for reply in post.repliesObjects%}
		{% include "comment" with {'post': reply, 'first': false, 'parentObject': parentObject} %}
		{% set realPost=post.post %}
		{% set replyLevel=realPost.replyLevel-(baseReplyLevel | default(0)) %}
	{%endfor%}
	{% if post.loadableRepliesCount>0 %}
	<div id="loadRepliesContainer{{ realPost.idString }}" class="threadedIndented" style="--indent-level: {{ min(replyLevel-1, maxReplyDepth) }}">
		<a class="loadRepliesLink" onclick="return loadCommentBranch(this, '{{ realPost.idString }}', 0, '{{ parentObject.commentParentID.type | lower }}', '{{ parentObject.idString }}')" data-offset="{{ post.repliesObjects | length }}" id="loadRepliesLink{{ realPost.idString }}">{{ L(post.loadedRepliesCount>0 ? 'comments_show_X_more_replies' : 'comments_show_X_replies', {'count': post.loadableRepliesCount}) }}</a>
		<div class="loadRepliesLink" id="repliesLoader{{ realPost.idString }}" style="display: none;"><span class="loader"></span></div>
		<div class="depthIndicator"></div>
	</div>
	{% endif %}
</div>
{% endif %}