{# @pebvariable name="interactions" type="smithereen.model.UserInteractions" #}
<div class="secondaryTabBar" id="interactionsTabs{{ elementID }}" style="padding: 10px 20px">
	<a href="{{ url }}/likes" class="{{ tab=='likes' ? "selected" : "" }}" data-no-al="1">{{ L('liked_by_X_people_short', {'count': interactions.likeCount}) }}</a>
	{% if interactions.repostCount>0 %}<a href="{{ url }}/reposts" class="{{ tab=='reposts' ? "selected" : "" }}" data-no-al="1">{{ L('shared_by_X_people_short', {'count': interactions.repostCount}) }}</a>{% endif %}
	<span class="loader" style="display: none"></span>
</div>
<div class="tabbedContent" id="interactionsContent{{ elementID }}">
	<div style="{{ tab=='likes' ? '' : 'display:none' }}" class="userGridW">
	{% block likes %}
		{% if tab=='likes' %}
			{% block likesInner %}{% include "user_grid" with {'hideSummary': true} %}{% endblock %}
			{% include "pagination_endless" %}
		{% endif %}
	{% endblock %}
	</div>
	<div class="singleColumn" style="{{ tab=='reposts' ? '' : 'display: none' }}">
	{% block reposts %}
	{% if tab=='reposts' %}
		{% block repostsInner %}
		{% for post in items %}
		    <div class="wallRow">{% include "wall_post" %}</div>
		{% else %}
			<div class="emptyState">{{ L('reposts_empty') }}</div>
		{% endfor %}
		{% endblock %}
		{% if tab=='reposts' %}{% include "pagination_endless" %}{% endif %}
	{% endif %}
	{% endblock %}
	</div>
</div>