{%extends "page"%}
{%block content%}
{%include "wall_post_form" with {'id': "feed"}%}
<div class="singleColumn" id="postList">
{%for entry in feed%}
<div class="feedRow">
{%if entry.type=="POST"%}
{%include "wall_post" with {'post': entry.post}%}
{%elseif entry.type=="RETOOT"%}
<div class="feedCaptionWithAva">
	<a href="{{entry.author.profileURL}}">{{entry.author | pictureForAvatar('s', 24)}}</a><span class="text">
	{{- LG(entry.post.replyLevel==0 ? 'feed_retoot_before' : 'feed_retoot_before_comment', entry.author.gender) -}}
	<a href="{{entry.author.profileURL}}">{{entry.author.fullName}}</a>
	{{- LG(entry.post.replyLevel==0 ? 'feed_retoot_after' : 'feed_retoot_after_comment', entry.author.gender) -}}
	</span>
</div>
{%include "wall_post" with {'post': entry.post}%}
{%else%}
Unknown entry type {{entry.type}}
{%endif%}
</div>
{%endfor%}
	{%include "pagination" with {'perPage': 25, 'offset': offset, 'total': total, 'urlPrefix': paginationURL, 'firstPageURL': "/feed"}%}
</div>
{%endblock%}
