{%macro start(id, message)%}
<div class="settingsMessage" id="formMessage_{{id}}" style="{%if not(message)%}display: none{%endif%}">{{message}}</div>
<table class="form">
{%endmacro%}

{% macro unlabeledRowStart() %}
	<tr>
		<td></td>
		<td>
{% endmacro %}

{% macro unlabeledRowEnd() %}
		</td>
	</tr>
{% endmacro %}

{% macro customControlStart(name) %}
	<tr id="formRow_{{ name }}">
		<td class="label">
{% endmacro %}
{% macro customControlAfterLabel() %}
    </td><td>
{% endmacro %}
{% macro customControlEnd() %}
		</td>
	</tr>
{% endmacro %}

{%macro textInput(name, label, value, options)%}
	{%if options is null%}{%set options={}%}{%endif%}
	<tr id="formRow_{{ name }}">
		<td class="label">
			<label for="{{name}}">{{label}}</label>:
		</td>
		<td>
			{% if options.prefix is not empty %}
			<div class="prefixedInput control{{ options.addClasses is not empty ? " #{options.addClasses}" : "" }}">
				<label class="prefix" for="{{ name }}">{{ options.prefix }}</label>
			{% endif %}
			<input type="{%if options.type is not null%}{{options.type}}{%else%}text{%endif%}" id="{{name}}" name="{{name}}" value="{{value}}" class="{{ options.prefix is empty ?  'control' : '' }}{{ options.addClasses is not empty and options.prefix is empty ? " #{options.addClasses}" : "" }}"
			{%- if options.maxlength is not null %} maxlength="{{options.maxlength}}"{%endif%}
			{%- if options.minlength is not null %} minlength="{{options.minlength}}"{%endif%}
			{%- if options.required %} required{%endif%}
			{%- if options.autocomplete==false %} autocomplete="off"{% elseif options.autocomplete is not empty %} autocomplete="{{ options.autocomplete }}"{% endif %}
			{%- if options.pattern is not empty %} pattern="{{ options.pattern }}"{% endif %}
			{%- if options.min is not null %} min="{{options.min}}"{%endif%}
			{%- if options.max is not null %} max="{{ options.max }}"{%endif%}
			{%- if options.placeholder is not null %} placeholder="{{ options.placeholder }}"{% endif %}/>
			{% if options.prefix is not empty %}
			</div>
			{% endif %}
		{%if options.explanation is not null%}
			<br/><span class="formExplanation">{{options.explanation}}</span>
		{%endif%}
		</td>
	</tr>
{%endmacro%}

{% macro dateTimeInput(name, label, value, options) %}
{%if options is null%}{%set options={}%}{%endif%}
	<tr id="formRow_{{ name }}">
		<td class="label">
			<label for="{{ name }}_date">{{ label }}</label>:
		</td>
		<td>
			<div class="dateTimeInput control">
				<input type="date" name="{{ name }}_date" id="{{ name }}_date" value="{{ getDate(value) }}"
				{%- if options.required %} required{% endif -%}
				/>
				<span class="separator">{{ L('date_time_separator') }}</span>
				<input type="time" name="{{ name }}_time" id="{{ name }}_time" value="{{ getTime(value) }}"
				{%- if options.required %} required{% endif -%}
				/>
			</div>
		{%if options.explanation is not null%}
			<span class="formExplanation">{{options.explanation}}</span>
		{%endif%}
		</td>
	</tr>
{% endmacro %}

{%macro textArea(name, label, value, options)%}
{%if options is null%}{%set options={}%}{%endif%}
	<tr id="formRow_{{ name }}">
		<td class="label">
			<label for="{{name}}">{{label}}</label>:
		</td>
		<td>
			<textarea id="{{name}}" name="{{name}}" rows="3" class="control{{ options.addClasses is not empty ? " #{options.addClasses}" : "" }}"{% if options.required %} required{% endif %}{% if options.maxlength %} maxlength="{{ options.maxlength }}"{% endif %}>{{value}}</textarea>
			{%if options.explanation is not null%}
			<br/><span class="formExplanation">{{options.explanation}}</span>
			{%endif%}
		</td>
	</tr>
{% if not options.noAutoSize %}
{% script %}
autoSizeTextArea(ge("{{ name }}"));
{% endscript %}
{% endif %}
{%endmacro%}

{%macro select(name, label, selectOptions, options)%}
{%if options is null%}{%set options={}%}{%endif%}
	<tr id="formRow_{{ name }}">
		<td class="label">
			{% if label is not empty %}
				<label for="{{name}}">{{label}}</label>:
			{% endif %}
		</td>
		<td>
			<select id="{{name}}" name="{{name}}" class="control{{ options.addClasses is not empty ? " #{options.addClasses}" : "" }}">
				{%for opt in selectOptions%}
					<option value="{{opt.value}}"{%if opt.selected%} selected{%endif%}>{{opt.label}}</option>
				{%endfor%}
			</select>
			{%if options.explanation is not null%}
			<br/><span class="formExplanation">{{options.explanation}}</span>
			{%endif%}
		</td>
	</tr>
{%endmacro%}

{%macro radioGroup(name, label, selectOptions, options)%}
	{%if options is null%}{%set options={}%}{%endif%}
	<tr id="formRow_{{ name }}">
		<td class="label">
				{% if label is not empty %}
				{{label}}:
				{% endif %}
		</td>
		<td>
			{% for opt in selectOptions %}
				{% if not opt.skip %}
				<div class="radioButtonWrap">
					<label><input type="radio" name="{{ name }}" value="{{ opt.value }}" id="{{ name }}{{ loop.index }}"{{ opt.selected ? ' checked' : '' }}{{ options.required ? ' required' : '' }}/>{{ opt.label }}</label>
				</div>
				{% if opt.explanation is not empty %}
					<span class="formExplanation">{{ opt.explanation }}</span>
				{% endif %}
				{% endif %}
			{% endfor %}
		</td>
	</tr>
{%endmacro%}

{%macro checkBox(name, label, title, value, options)%}
	<tr id="formRow_{{ name }}">
		<td class="label">
				{% if label is not empty %}
				{{label}}:
				{% endif %}
		</td>
		<td>
			<div class="radioButtonWrap{{ options.disabled ? ' disabled' : '' }}">
				<label><input type="checkbox" name="{{ name }}" id="{{ name }}" {{ value ? 'checked' : '' }}{{ options.disabled ? ' disabled' : '' }}{{ options.required ? ' required' : '' }}/>{{ title }}</label>
			</div>
			{% if options.explanation is not empty %}
				<span class="formExplanation">{{ options.explanation }}</span>
			{% endif %}
		</td>
	</tr>
{%endmacro%}

{%macro labeledText(label, text)%}
	<tr>
		<td class="label">
				{% if label is not empty %}
				{{label}}:
				{% endif %}
		</td>
		<td class="text">
			{{ text }}
		</td>
	</tr>
{%endmacro%}

{%macro footer(submitTitle)%}
	<tr class="footer">
		<td class="label"></td>
		<td>
			<button>{{ submitTitle }}</button>
		</td>
	</tr>
{%endmacro%}


{%macro end()%}
</table>
{%endmacro%}
