{# @pebvariable name="items" type="java.util.List<smithereen.model.FriendRequest>" #}
{%extends "page"%}
{%block content%}
{% include 'friends_tabbar' with {'tab': 'requests'} %}
<div class="summaryWrap">
	<div class="summary">{{ L('summary_X_friend_requests', {'numRequests': totalItems}) }}</div>
	{% include "pagination" %}
</div>
<div class="singleColumn">
	{% for req in items %}
	<table width="100%" class="friendsRow noBorderSpacing">
		<tr>
			<td width="100" valign="top">
				<a href="{{ req.from.profileURL }}">{{req.from | pictureForAvatar('m')}}</a>
			</td>
			<td class="info" valign="top">
				<div class="infoInner">
					<div class="grayText">{{ L('name') }}:</div>
					<div><a href="{{ req.from.profileURL }}">{{ req.from.completeName }}</a></div>
					{% if req.from.domain is not empty %}
					<div class="grayText">{{ L('server') }}:</div>
					<div>{{ req.from.domain }}</div>
					{% endif %}
					{% if req.message is not empty %}
					<div class="grayText">{{ L('message') }}:</div>
					<div>{{ req.message }}</div>
					{% endif %}
					<div class="unlabeled">
					{% if req.mutualFriendsCount>0 %}
						<div class="mutual">
							<span class="grayText">
								{{- L('you_and_X_mutual_link', {'name': req.from.firstAndGender, 'numFriends': req.mutualFriendsCount}, {'list': {'href': "/users/#{req.from.id}/friends/mutual"} }) -}}
							</span>
							<div class="mutualPics">
									{% for friend in req.mutualFriends %}
									<a href="{{ friend.profileURL }}" title="{{ friend.fullName }}">{{ friend | pictureForAvatar('s', 32) }}</a>
									{% endfor %}
							</div>
						</div>
					{% endif %}
						<form action="/users/{{ req.from.id }}/respondToFriendRequest" method="post" data-ajax>
							<input type="hidden" name="csrf" value="{{csrf}}"/>
							<div id="friendReqBtns{{ req.from.id }}" class="buttons">
								<input type="submit" name="accept" value="{{L('add_friend')}}"/>
								<input type="submit" name="decline" value="{{L('leave_as_follower')}}" class="tertiary"/>
							</div>
						</form>
					</div>
				</div>
			</td>
		</tr>
	</table>
	{% else %}
	<div class="emptyState">{{L('no_incoming_friend_requests')}}</div>
	{% endfor %}
</div>
<div class="bottomSummaryWrap">{% include "pagination" %}</div>
{%endblock%}