{# @pebvariable name="friendList" type="java.util.List<smithereen.model.User>" #}
{# @pebvariable name="owner" type="smithereen.model.User" #}
{# @pebvariable name="tab" type="String" #}
{%extends "page"%}
{%block content%}
{% include 'friends_tabbar' %}
{% if tab=='friends' %}
<div class="gray borderBottom">
	<div class="searchFieldWrap singleColumn">
		<input type="text" autocomplete="off" class="searchField" placeholder="{{ L('friends_search_placeholder') }}" value="{{ query }}" id="friendsSearch" data-base-url="{{ urlPath }}"/>
		{% script %}
		initAjaxSearch("friendsSearch");
		{% endscript %}
	</div>
</div>
{% endif %}
<div id="ajaxUpdatable">
{% block ajaxPartialUpdate %}
<div class="summaryWrap">
	<div class="summary">
	{% set isSelf=currentUser is not null and currentUser.id==owner.id %}
	{% if tab=='mutual' %}
		{{ L('you_and_X_mutual', {'name': owner.firstAndGender, 'numFriends': totalItems}) }}
	{% elseif tab=='followers' %}
		{% if isSelf %}
			{{ L("summary_own_X_followers", {'count': owner.followersCount}) }}
		{% else %}
			{{ L("summary_user_X_followers", {'name': owner.firstAndGender, 'count': owner.followersCount}) }}
		{% endif %}
	{% elseif tab=='following' %}
		{% if isSelf %}
			{{ L("summary_own_X_follows", {'count': owner.followingCount}) }}
		{% else %}
			{{ L("summary_user_X_follows", {'name': owner.firstAndGender, 'count': owner.followingCount}) }}
		{% endif %}
	{% elseif tab=='online' %}
		{% if isSelf %}
			{{ L("summary_own_X_friends_online", {'count': totalItems}) }}
		{% else %}
			{{ L("summary_user_X_friends_online", {'name': owner.firstAndGender, 'count': totalItems}) }}
		{% endif %}
	{% else %}
		{% if query is not empty %}
			{{ L("summary_X_friends_found", {'count': totalItems}) }}
		{% elseif isSelf %}
			{{ L("summary_own_X_friends", {'numFriends': owner.friendsCount}) }}
		{% else %}
			{{ L("summary_user_X_friends", {'name': owner.firstAndGender, 'numFriends': owner.friendsCount}) }}
		{% endif %}
	{% endif %}
	</div>
</div>
<div class="singleColumn">
{% block friendsInner %}
{% for friend in items %}
	{% include "friends_row" with {'friend': friend} %}
{% else %}
<div class="emptyState">
	{% if tab=='followers' %}
	{{ L('no_followers') }}
	{% elseif tab=='following' %}
	{{ L('no_follows') }}
	{% elseif tab=='online' %}
	{% if currentUser is not null and currentUser.id==owner.id %}
	{{ L('no_friends_online_own') }}
	{% else %}
	{{ L('no_friends_online', {'name': owner.firstAndGender}) }}
	{% endif %}
	{% else %}
	{{ query is empty ? L('no_friends') : L('nothing_found') }}
	{% endif %}
</div>
{% endfor %}
{% endblock %}
{% include "pagination_endless" %}
</div>
{% if owner.domain is not empty and tab!='online' and query is empty %}
{% if tab=='friends' %}
{% set realTotal=owner.friendsCount %}
{% set key='remote_friends_incomplete' %}
{% elseif tab=='followers' %}
{% set realTotal=owner.followersCount %}
{% set key='remote_followers_incomplete' %}
{% elseif tab=='following' %}
{% set realTotal=owner.followingCount %}
{% set key='remote_following_incomplete' %}
{% endif %}
{% if totalItems<realTotal %}
<div class="bottomSummaryWrap"><div class="bottomSummary">{{ L(key, {'name': owner.firstAndGender, 'gender': owner.gender, 'server': owner.domain}, {'link': {'href': owner.url, 'target': '_blank', 'rel': 'nofollow'} }) }}</div></div>
{% endif %}
{% endif %}
{% endblock %}
</div>
{%endblock%}