{# @pebvariable name="friendList" type="java.util.List<smithereen.data.User>" #}
{# @pebvariable name="owner" type="smithereen.data.User" #}
{# @pebvariable name="tab" type="String" #}
{%extends "page"%}
{%block content%}
{% include 'friends_tabbar' %}
<div class="summaryWrap">
	<div class="summary">
	{% set isSelf=currentUser is not null and currentUser.id==owner.id %}
	{% if tab=='mutual' %}
		{{ L('you_and_X_mutual', {'name': owner.firstAndGender, 'numFriends': totalItems}) }}
	{% elseif tab=='followers' %}
		{% if isSelf %}
			{{ L("summary_own_X_followers", {'count': totalItems}) }}
		{% else %}
			{{ L("summary_user_X_followers", {'name': owner.firstAndGender, 'count': totalItems}) }}
		{% endif %}
	{% elseif tab=='following' %}
		{% if isSelf %}
			{{ L("summary_own_X_follows", {'count': totalItems}) }}
		{% else %}
			{{ L("summary_user_X_follows", {'name': owner.firstAndGender, 'count': totalItems}) }}
		{% endif %}
	{% else %}
		{% if isSelf %}
			{{ L("summary_own_X_friends", {'numFriends': totalItems}) }}
		{% else %}
			{{ L("summary_user_X_friends", {'name': owner.firstAndGender, 'numFriends': totalItems}) }}
		{% endif %}
	{% endif %}
	</div>
	{% include "pagination" %}
</div>
<div class="singleColumn">
{% for friend in items %}
	{% include "friends_row" with {'friend': friend} %}
{% else %}
<div class="emptyState">
	{% if tab=='followers' %}
	{{ L('no_followers') }}
	{% elseif tab=='following' %}
	{{ L('no_follows') }}
	{% else %}
	{{ L('no_friends') }}
	{% endif %}
</div>
{% endfor %}
</div>
<div class="bottomSummaryWrap">{% include "pagination" %}</div>
{%endblock%}