{%extends "page.twig"%}
{%block content%}
<a href="{{owner.getProfileURL('friends')}}">{{L('friends')}}</a> | <a href="{{owner.getProfileURL('followers')}}">{{L('followers')}}</a> | <a href="{{owner.getProfileURL('following')}}">{{L('following')}}</a>
{%if currentUser and currentUser.id==owner.id%}
{%if userNotifications.newFriendRequests>0%}
| <a href="{{currentUser.getProfileURL('incomingFriendRequests')}}">{{LP('X_friend_requests', userNotifications.newFriendRequests)}}</a>
{%endif%}
{%endif%}
{%for friend in friendList%}
<table width="100%">
	<tr>
		<td width="100">
			<img src="{{friend.mediumAvatar}}" srcset="{{friend.mediumAvatarSrcset}}" width="100"/>
		</td>
		<td>
			<b><a href="{{friend.url}}">{{friend.fullName}}</a></b>
		</td>
		<td width="200">
			<a href="{{friend.getProfileURL('friends')}}">{{L('view_friends_of')}}</a><br/>
			{%if(currentUser and currentUser.id==owner.id and not followers)%}<a href="{{friend.getProfileURL('confirmRemoveFriend')}}">{%if following%}{{L('unfollow')}}{%else%}{{L('remove_friend')}}{%endif%}</a>{%endif%}
		</td>
	</tr>
</table>
{%endfor%}
{%if(friendList.empty)%}
<center>{{L('no_friends')}}</center>
{%endif%}
{%endblock%}