{# @pebvariable name="friend" type="smithereen.data.User" #}
<table width="100%" class="friendsRow noBorderSpacing" id="frow{{friend.id}}">
	<tr valign="top">
		<td width="100">
			<a href="{{friend.profileURL}}">{{friend | pictureForAvatar('m')}}</a>
		</td>
		<td class="info">
			<div class="infoInner">
				<div class="grayText">{{ L('name') }}:</div>
				<div><a href="{{ friend.profileURL }}">{{ friend.completeName }}</a></div>
				{% if friend.domain is not empty %}
					<div class="grayText">{{ L('server') }}:</div>
					<div>{{ friend.domain }}</div>
				{% endif %}
			</div>
		</td>
		<td width="130" id="frowActions{{ friend.id }}">
			<ul class="actionList">
				{% if customActions is not empty %}
				{% for action in customActions %}
				<li><a href="{{ action.href }}{{ friend.id }}"{{ action.ajax ? ' data-ajax' : '' }}>{{ action.title }}</a></li>
				{% endfor %}
				{% else %}
				<li><a href="/users/{{ friend.id }}/friends">{{L('view_friends_of')}}</a></li>
				{% if(currentUser is not null and currentUser.id==owner.id and not followers) %}
					<li>
						<a href="{{friend.getProfileURL('confirmRemoveFriend')}}" onclick="return ajaxConfirm({%if following%}'unfollow'{%else%}'remove_friend'{%endif%},this.getAttribute('data-confirm'),'{{friend.getProfileURL('doRemoveFriend')}}?from=list')" data-confirm="{{ L((following ? 'confirm_unfollow_X' : 'confirm_unfriend_X'), {'name': friend.firstLastAndGender}) | forceEscape }}">{%if following%}{{L('unfollow')}}{%else%}{{L('remove_friend')}}{%endif%}</a>
					</li>
				{% endif %}
				{% if friend.domain is not null %}
					<li><a href="{{ friend.url }}" target="_blank">{{ L('open_on_server_X', {'domain': friend.domain}) }}</a></li>
				{% endif %}
				{% endif %}
			</ul>
		</td>
	</tr>
</table>
