{# @pebvariable name="group" type="smithereen.data.Group" #}
{# @pebvariable name="canEditGroup" type="boolean" #}
{%extends "page"%}
{% set canEditGroup=userPermissions is not null and userPermissions.canEditGroup(group) %}
{% set canManageGroup=userPermissions is not null and userPermissions.canManageGroup(group) %}
{%block content%}
{%if group.domain%}
<div class="marginsAreMessy"></div>
<div class="settingsMessage">
	{{ L('incomplete_profile') }}<br/>
	<a href="{{ group.url }}" target="_blank">{{ L('open_on_server_X', {'domain': group.domain}) }}</a>
</div>
{%endif%}
<table width="100%" cellpadding="0" cellspacing="0" class="columnLayout rightNarrow">
	<tr valign="top">
		<!-- left column -->
		<td id="left">
			<h2>{{ group.name }}</h2>
			<div class="profileFields">
			<table class="profileBlock" width="100%">
				{% if group.summary is not null %}
				<tr><td class="label">{{ L('about_group') }}:</td><td>{{ group.summary | postprocessHTML }}</td></tr>
				{% endif %}
			</table>
			</div>
			{% include 'wall_profile_block' with {'wallOwner': group, 'isGroup': true, 'fullWallURL': "/groups/#{group.id}/wall"} %}
		</td>

		<!-- right column -->
		<td width="200" id="right">
			{% if group.hasAvatar %}
			{% if canEditGroup %}
			<div class="selfAvaOverlay">
				{{ group | pictureForAvatar('rl') }}
				{% if canEditGroup %}
				<ul class="selfAvaActions actionList">
					<li><a href="/groups/{{ group.id }}/edit" onclick="new ProfilePictureBox({{ group.id }}).show(); return false;">{{L('update_profile_picture')}}</a></li>
					<li><a href="/settings/confirmRemoveProfilePicture?group={{ group.id }}" onclick="return ajaxConfirm('remove_profile_picture', 'confirm_remove_profile_picture', '/settings/removeProfilePicture?group={{ group.id }}');">{{L('remove_profile_picture')}}</a></li>
				</ul>
				{% endif %}
			</div>
			{% else %}
			{{ group | pictureForAvatar('rl') }}
			{% endif %}
			{% else %}
			{% if canEditGroup %}
			<a href="/groups/{{ group.id }}/edit" onclick="new ProfilePictureBox({{ group.id }}).show(); return false;">
				<span class="ava avaPlaceholder inProfile group">
					<span class="ownProfileAvaPlaceholderLabel">{{L('upload_avatar')}}</span>
				</span>
			</a>
			{%else%}
			<span class="ava avaPlaceholder inProfile group"></span>
			{%endif%}
			{%endif%}
			{% if currentUser is not null and (membershipStateText is not empty or membershipState=="NONE") %}
			<div class="profileBelowAva">
				{{ membershipStateText }}
				{% if membershipState=="NONE" %}
					<a href="/groups/{{ group.id }}/join?csrf={{ csrf }}" class="button{{ membershipStateText is empty ? '' : ' withText' }}">{{ L('join_group') }}</a>
				{% endif %}
			</div>
			{% endif %}
			<ul class="actionList marginAfter marginBefore">
			{% if currentUser is not null %}
			    {% if membershipState=="MEMBER" %}
			    <li><a href="/groups/{{ group.id }}/leave?csrf={{ csrf }}">{{ L('leave_group') }}</a></li>
			    {% endif %}
			{% endif %}
			{% if canEditGroup %}
				<li><a href="/groups/{{ group.id }}/edit">{{ L('edit_group') }}</a></li>
			{% elseif canManageGroup %}
				<li><a href="/groups/{{ group.id }}/editMembers">{{ L('manage_group') }}</a></li>
			{% endif %}
			</ul>

			<div class="profileColumnBorder">
				<div class="rightColumnBorder"></div>
			<table width="100%" style="table-layout: fixed;" class="profileBlock marginAfter">
				<tr><th colspan="3" class="blockHeader"><a href="/groups/{{ group.id }}/members">{{ L("members") }}</a></th></tr>
				<tr><td colspan="3" class="blockSubheader">{{ L('X_members', {'count': group.memberCount}) }}</td></tr>
				{% for member in members %}
				{% if(loop.first or loop.index==3) %}<tr valign="top" class="membersRow">{% endif %}
				<td align="center" width="33%" style="overflow: hidden;">
					<a href="{{member.profileURL}}">
						{{member | pictureForAvatar('s')}}<br/>
						<span class="memberName">{{member.firstName}}<br/>{{member.lastName}}</span>
					</a>
				</td>
				{%if(loop.index==2 or loop.index==5)%}</tr>{%endif%}
				{%endfor%}
				{%if(members.size%3!=0)%}
				<td colspan="{{3-members.size%3}}" width="{{(3-members.size%3)*33}}%">&nbsp;</td></tr>
				{%endif%}
			</table>

			<table width="100%" style="table-layout: fixed;" class="profileBlock">
				<colgroup><col width="48"/><col width="*"/></colgroup>
				<tr><th colspan="2" class="blockHeader"><a href="/groups/{{ group.id }}/admins" data-ajax-box="1">{{ L("group_admins") }}</a></th></tr>
				<tr><td colspan="2" class="blockSubheader">{{ L('group_X_admins', {'count': admins.size}) }}</td></tr>
				{% for admin in admins %}
					{% if loop.index<5 %}
						<tr class="oneMemberRow">
							<td valign="top"><a href="{{ admin.user.profileURL }}">{{ admin.user | pictureForAvatar('s', 40) }}</a></td>
							<td class="nameAndInfo">
								<div><a href="{{ admin.user.profileURL }}">{{ admin.user.fullName }}</a></div>
								{% if admin.title is not empty %}
									<div class="info">{{ admin.title }}</div>
								{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>

			</div>
		</td>
	</tr>
</table>
{%endblock%}