{# @pebvariable name="group" type="smithereen.data.Group" #}
{# @pebvariable name="admins" type="simthereen.data.GroupAdmin[]" #}
{# @pebvariable name="admin" type="smithereen.data.GroupAdmin" #}
{% extends "page" %}
{% block content %}
{% include "group_admin_tabbar" with {'tab': 'admins'} %}
<div class="singleColumn gray">
	<div class="reorderableList groupEditMemberList" id="groupAdminsReorderable">
		{% for admin in admins %}
			<div class="reorderableItemWrap">
				<div class="reorderableItem groupEditMember" data-reorder-id="{{ admin.user.id }}">
					{{ admin.user | pictureForAvatar('s', 30) }}
					<div class="ellipsize">
						<a href="{{ admin.user.profileURL }}" class="name">{{ admin.user.fullName }}</a>
						{%- if admin.title is not empty -%}
						, {{ admin.title }}
						{% endif %}
					</div>
					<a href="/groups/{{ group.id }}/editAdminForm?id={{ admin.user.id }}" data-ajax-box="1">{{ L('edit') }}</a>
					{% if admin.level!='OWNER' %}
						| <a href="/groups/{{ group.id }}/confirmDemoteAdmin?id={{ admin.user.id }}"
							 data-confirm-title="group_admin_demote"
							 data-confirm-message="{{ LI(key='group_admin_demote_confirm', first=admin.user.firstName, last=admin.user.lastName, gender=admin.user.gender) | forceEscape }}"
							 data-confirm-action="/groups/{{ group.id }}/removeAdmin?id={{ admin.user.id }}">{{ L('group_admin_demote') }}</a>
					{% endif %}
					<div class="clear"></div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% script %}
new ReorderableList(ge("groupAdminsReorderable"), "/groups/{{ group.id }}/editAdminReorder");
{% endscript %}
{% endblock %}