{% extends "page" %}
{% block content %}
{% if currentUser is not null and owner.id==currentUser.id %}
{% include (events ? 'events_tabbar' : 'groups_tabbar') %}
{% else %}
<div class="tabbar">
	<a href="/users/{{ owner.id }}/groups" class="selected">{{ L('user_groups', {'name': owner.firstAndGender}) }}</a>
	<span class="aux"><a href="{{ owner.profileURL }}">{{ L('back_to_profile') }}</a></span>
</div>
{% endif %}
{% if tab!='managed' %}
<div class="gray borderBottom">
	<div class="searchFieldWrap singleColumn">
		<input type="text" autocomplete="off" class="searchField" placeholder="{{ L(events ? 'events_search_placeholder' : 'groups_search_placeholder') }}" value="{{ query }}" id="groupsSearch" data-base-url="{{ urlPath }}"/>
		{% script %}
		initAjaxSearch("groupsSearch");
		{% endscript %}
	</div>
</div>
{% endif %}
<div id="ajaxUpdatable">
{% block ajaxPartialUpdate %}
<div class="summaryWrap">
	<div class="summary">
	{% if events %}
	{{ query is empty ? L(tab=='past' ? 'summary_X_past_events' : 'summary_X_upcoming_events', {'count': totalItems}) : L('summary_found_X_events', {'count': totalItems}) }}
	{% elseif currentUser is not null and owner.id==currentUser.id %}
	{{ query is empty ? L(tab=='managed' ? 'summary_X_managed_groups' : 'summary_own_X_groups', {'numGroups': totalItems}) : L('summary_found_X_groups', {'count': totalItems}) }}
	{% else %}
	{{ L('summary_user_X_groups', {'name': owner.firstAndGender, 'numGroups': totalItems}) }}
	{% endif %}
	</div>
	{% include "pagination" %}
</div>
<div class="singleColumn">
{% for group in items %}
<table width="100%" class="friendsRow noBorderSpacing" id="grow{{group.id}}">
	<tr valign="top">
		<td width="100">
			<a href="{{group.profileURL}}"{{ profileRel(group) }}>{{group | pictureForAvatar('m')}}</a>
		</td>
		<td class="info">
			<div class="infoInner">
				<div class="grayText">{{ L('group_name') }}:</div>
				<div><a href="{{ group.profileURL }}"{{ profileRel(group) }}>{{ group.name }}</a></div>
				<div class="grayText">{{ L('group_size') }}:</div>
				<div>{{ L('X_members', {'count': group.memberCount}) }}</div>
				{% if group.event %}
				<div class="grayText">{{ L('event_start_time') }}:</div>
				<div>{{ LD(group.eventStartTime) }}	</div>
				{% endif %}
				{% if group.domain is not empty %}
				<div class="grayText">{{ L('server') }}:</div>
				<div>{{ group.domain }}</div>
				{% endif %}
			</div>
		</td>
		<td width="130">
			<ul class="actionList">
                {%if group.domain is not null%}
					<li><a href="{{ group.url }}" target="_blank">{{ L('open_on_server_X', {'domain': group.domain}) }}</a></li>
				{%endif%}
			</ul>
		</td>
	</tr>
</table>
{% else %}
<div class="emptyState">{{ query is empty ? L(events ? 'no_events' : 'no_groups') : L('nothing_found') }}</div>
{% endfor %}
</div>
<div class="bottomSummaryWrap">{% include "pagination" %}</div>
</div>
{% endblock %}
{% endblock %}