{% extends "page" %}
{% block content %}
{% if currentUser is not null and owner.id==currentUser.id %}
{% include 'groups_tabbar' %}
{% else %}
<div class="tabbar">
	<a href="/users/{{ owner.id }}/groups" class="selected">{{ LI(key='user_groups', first=owner.firstName, gender=owner.gender) }}</a>
	<a href="{{ owner.profileURL }}" class="aux">{{ L('back_to_profile') }}</a>
</div>
{% endif %}
<div class="summaryWrap">
	<div class="summary">
	{% if currentUser is not null and owner.id==currentUser.id %}
	{{ L('summary_own_X_groups', LP('member_of_X_groups', groups.size())) }}
	{% else %}
	{{ LI(key='summary_user_X_groups', first=owner.firstName, gender=owner.gender, args=[LP('member_of_X_groups', groups.size())]) }}
	{% endif %}
	</div>
</div>
<div class="singleColumn">
{% for group in groups %}
<table width="100%" class="friendsRow noBorderSpacing" id="grow{{group.id}}">
	<tr valign="top">
		<td width="100">
			<a href="{{group.profileURL}}">{{group | pictureForAvatar('m')}}</a>
		</td>
		<td class="info">
			<b><a href="{{group.profileURL}}">{{group.name}}</a></b>
		</td>
		<td width="200">
			<ul class="actionList">
                {%if group.domain is not null%}
					<li><a href="{{ group.url }}" target="_blank">{{ L('open_on_server_X', group.domain) }}</a></li>
				{%endif%}
			</ul>
		</td>
	</tr>
</table>
{% else %}
<div class="emptyState">{{L('no_groups')}}</div>
{% endfor %}
</div>
{% endblock %}