<div class="likePopoverContent">
	{%if currentUser%}
	<a href="{{currentUser.profileURL}}" title="{{currentUser.fullName}}" class="self">{{currentUser | pictureForAvatar('s', 32)}}</a>
	{%endif%}
	{%for user in users%}
	<a href="{{user.profileURL}}" title="{{user.fullName}}">{{user | pictureForAvatar('s', 32)}}</a>
	{%endfor%}
</div>