<div class="likePopoverAvatars">
	{%if currentUser is not null%}
	<a href="{{ currentUser.profileURL }}" title="{{ currentUser | name }}" class="self">{{currentUser | pictureForAvatar('s', 30)}}</a>
	{%endif%}
	{%for user in users%}
	<a href="{{ user.profileURL }}" title="{{ user | name }}"{{ profileRel(user) }}>{{user | pictureForAvatar('s', 30)}}</a>
	{%endfor%}
</div>