{%extends "page"%}
{%block content%}
<div class="singleColumn">
	<h2>{{L('login_title')}}</h2>
	{%if message%}
	<h4>{{message}}</h4>
	{%endif%}
	<form action="/account/login{{additionalParams}}" method="post">
		<table class="form">
			<tr><td class="label">{{ L("email_or_username") }}:</td><td><input type="text" name="username"/></td></tr>
			<tr><td class="label">{{ L("password") }}:</td><td><input type="password" name="password"/></td></tr>
			<tr class="footer"><td class="label"></td><td><input type="submit" value="{{ L('log_in') }}"/></td></tr>
		</table>
	</form>
</div>
{%endblock%}