{% set id="mailMessage" %}
<div class="wallPostForm nonCollapsible mailMessageForm" id="wallPostForm_{{id}}" data-unique-id="{{id}}" data-photo-upload-url="/system/upload/messagePhoto">
	<textarea name="text" id="postFormText_{{id}}" cols="100" rows="3" maxlength="65000"></textarea>
	<input type="hidden" name="csrf" value="{{csrf}}"/>
	<div id="postFormAttachments_{{id}}"></div>
	<input type="hidden" name="attachments"/>
	<input type="hidden" name="attachAltTexts"/>
	<div class="bottomBar">
		<div class="left">
			{% if not hideButton %}<button id="postFormSubmit_{{ id }}">{{ L(sendButtonLabel | default('send')) }}</button>{% endif %}
		</div>
		<div class="center"></div>
		<div class="right">
			<div class="popupMenuW">
				<span class="opener">{{ L('attach') }}</span>
				<div class="popupMenu withIcons" style="display: none;">
					<ul class="attachMenu">
						<li data-act="photo"><span class="iconPhoto"></span>{{ L('attach_menu_photo') }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="dropOverlay_{{id}}" class="dropOverlay">{{L('drop_files_here')}}</div>
</div>