{# @pebvariable name="items" type="smithereen.model.notifications.NotificationWrapper[]" #}
{# @pebvariable name="posts" type="Map<Integer, smithereen.model.viewmodel.PostViewModel>" #}
{# @pebvariable name="photos" type="Map<Long, smithereen.model.photos.Photo>" #}
{# @pebvariable name="comments" type="Map<Long, smithereen.model.comments.Comment>" #}
{%extends "page"%}
{%block content%}
<div class="summaryWrap">
	<div class="summary">{{ L('summary_notifications') }}</div>
</div>
<div class="singleColumnLargerPadding">
{% block notificationsInner %}
{% set isPastSeen=false %}
{% for notification in items %}
{% set latest=notification.latestNotification %}
{% if latest.objectID!=0 %}
	{% if latest.objectType=='POST' %}
		{% set object=posts[latest.objectID] %}
		{% set isComment=object is not null ? object.post.replyLevel>0 : false %}
		{% if object is not null %}{% set objectOwner=object.post.ownerID>0 ? users[object.post.ownerID] : groups[-object.post.ownerID] %}{% endif %}
	{% elseif latest.objectType=='PHOTO' %}
		{% set object=photos[latest.objectID] %}
	{% elseif latest.objectType=='COMMENT' %}
		{% set object=comments[latest.objectID] %}
		{% set isComment=true %}
	{% endif %}
{% else %}
{% set object=null %}
{% endif %}
{% if latest.relatedObjectType=='POST' %}
	{% set relatedObject=posts[latest.relatedObjectID] %}
	{% set relatedIsComment=relatedObject is not null ? relatedObject.post.replyLevel>0 : false %}
{% elseif latest.relatedObjectType=='PHOTO' %}
	{% set relatedObject=photos[latest.relatedObjectID] %}
{% else %}
	{% set relatedObject=null %}
{% endif %}
{% if not isPastSeen and latest.id<=lastSeenID %}
{% set isPastSeen=true %}
{% if not loop.first %}<div class="notificationsSeen">{{ L('notifications_seen') }}<span class="icon"></span></div>{% endif %}
{% endif %}
{% set isPost=(latest.type=='REPLY' or latest.type=='MENTION' or latest.type=='POST_OWN_WALL') %}
{% if isPost and object is not null %}{# Show as posts #}
<div class="notificationsRow notification{{ latest.type | replace({'_': ' '}) | lower | title | replace({' ': ''}) }}">
{% include "notification_extra_image" with {'notification': latest} %}
{% set realPost=object.post %}
{% set randomID=randomString() %}
{% if notification.objectType=='POST' %}
{% set interactions=postInteractions[realPost.getIDForInteractions()] %}
{% elseif notification.objectType=='COMMENT' %}
{% set interactions=commentInteractions[realPost.id] %}
{% endif %}
	<div class="post mainPost" id="{{ notification.objectType | lower }}{{ notification.objectType=='COMMENT' ? realPost.idString : realPost.id }}_{{ randomID }}"{% if realPost.replyLevel>0 %} data-reply-name="{{ users[realPost.authorID].nameForReply }}"{% endif %}
	{% if notification.objectType=='POST' %}
	onclick="return activateNotificationsPostForm('commentPost{{ realPost.id }}_{{ randomID }}', '{{ realPost.id }}', 'post', '{{ randomID }}')"
	{% elseif notification.objectType=='COMMENT' %}
	onclick="return activateNotificationsPostForm('commentReply{{ realPost.idString }}_{{ randomID }}', '{{ realPost.idString }}', 'comment', '{{ randomID }}')"
	{% endif -%}
	>
		<div class="postAvaWrap">
			<a href="{{ profileURL(realPost.authorID) }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | pictureForAvatar('a') }}</a>
		</div>
		<div class="postContentWrap">
			<a href="{{ profileURL(realPost.authorID) }}" class="authorName"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | name }}</a>
			{%- if realPost.privacy is not null and realPost.privacy!='PUBLIC' -%}
			<span class="privatePostLockIcon" data-tooltip="{{ L(realPost.privacy.langKey, {'name': users[realPost.authorID].firstAndGender}) }}"></span>
			{%- endif %}
			<div>
				{% include "wall_post_inner" with {'post': object, 'repostDepth': 0, 'repostParent': object, 'randomID': randomID} %}
				{% set realPost=object.post %}{# because included template overwrote it #}
				<div class="postInfo">
					{%- if interactions is not null -%}
					<span class="postActions contentActions">
						<span class="likeWrap" onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)">
							{% if notification.objectType=='COMMENT' %}
							<a href="{{realPost.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}" class="action like commentLike{{ interactions.isLiked ? ' liked' : '' }}{{ interactions.likeCount>0 or interactions.repostCount>0 ? '' : ' revealOnHover' }} popoverButton" id="likeButtonPost{{realPost.id}}_{{ randomID }}" data-obj-type="comment" data-obj-id="{{ realPost.idString }}" data-popover-url="{{realPost.internalURL}}/likePopover" onclick="return likeOnClick(this)" title="{{ L('like') }}">
								<span class="icon">&nbsp;</span><span class="counter" id="likeCounterComment{{ realPost.idString }}" data-count="{{ interactions.likeCount }}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
								{{- interactions.likeCount | numberformat -}}
							</span></a>
							{% else %}
							<a href="{{realPost.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}" class="action like commentLike{{ interactions.isLiked ? ' liked' : '' }}{{ interactions.likeCount>0 or interactions.repostCount>0 ? '' : ' revealOnHover' }} popoverButton" id="likeButtonPost{{realPost.id}}_{{ randomID }}" data-obj-type="post" data-obj-id="{{realPost.id}}_{{ randomID }}" data-popover-url="{{realPost.internalURL}}/likePopover" onclick="return likeOnClick(this)" title="{{ L('like') }}">
								<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPost{{realPost.id}}_{{ randomID }}" data-count="{{ interactions.likeCount }}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
								{{- interactions.likeCount | numberformat -}}
							</span></a>
							{% endif %}
							<span class="popoverPlace likePopoverWrap"></span>
						</span>
					</span>
					{%- endif -%}
					{% if notification.relatedObjectType=='PHOTO' %}
					<a href="{{ relatedObject.url }}" onclick="return openPhotoViewer(this)" data-pv="{{ json(relatedObject.singlePhotoViewerData) }}" class="postLink">{{ LD(realPost.createdAt) }}</a>
					{% elseif notification.objectType=='POST' %}
					<a href="{{ realPost.internalURL }}" onclick="return openPostLayer('{{ realPost.replyLevel==0 ? realPost.id : realPost.replyKey[0] }}', {{ realPost.replyLevel==0 ? 'null' : "'#{realPost.id}'" }})" class="postLink">{{ LD(realPost.createdAt) }}</a>
					{% else %}
					<a href="{{ realPost.internalURL }}" class="postLink">{{ LD(realPost.createdAt) }}</a>
					{% endif %}
					{% if latest.type=='MENTION' %}
						{{ L(isComment ? 'notification_mentioned_in_comment' : 'notification_mentioned_in_post', {'gender': actorGender}) }}
					{% elseif latest.type=='POST_OWN_WALL' %}
						{{ L('notification_posted_on_wall', {'gender': actorGender}) }}
					{% elseif latest.type=='REPLY' %}
						{% if notification.objectType=='COMMENT' and object.post.replyLevel>0 and comments[object.post.replyKey.last].post.authorID==currentUser.id %}
							{% set parentComment=comments[object.post.replyKey.last].post %}
							{{ L('notification_replied_to_comment', {'gender': actorGender}) }}
							{% if notification.relatedObjectType=='PHOTO' %}
							<a href="{{ relatedObject.url }}" onclick="return openPhotoViewer(this)" data-pv="{{ json(relatedObject.singlePhotoViewerData) }}">{{ parentComment.shorterTitle | default(LD(parentComment.createdAt)) }}</a>
							{% else %}
							<a href="{{ parentComment.internalURL }}">{{ parentComment.shorterTitle | default(LD(parentComment.createdAt)) }}</a>
							{% endif %}
						{% elseif notification.relatedObjectType=='PHOTO' %}
							{{ L('notification_commented_on_photo', {'gender': actorGender}, {'photo': {'href': relatedObject.url, 'onclick': "return openPhotoViewer(this)", 'data-pv': json(relatedObject.singlePhotoViewerData)} }) }}
						{% else %}
							{{ L(relatedIsComment ? 'notification_replied_to_comment' : 'notification_replied_to_post', {'gender': actorGender}) }} <a href="{{ relatedObject.post.internalURL }}" onclick="return openPostLayer('{{ relatedIsComment ? relatedObject.post.replyKey[0] : relatedObject.post.id }}', {{ relatedIsComment ? ("'"+relatedObject.post.id+"'") : "null"}})">{{ relatedObject.post.shorterTitle | default(LD(relatedObject.post.createdAt)) }}</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% if notification.objectType=='POST' %}
	{% set ownReply=ownWallReplies[notification.objectID] %}
	{% elseif notification.objectType=='COMMENT' %}
	{% set ownReply=ownCommentReplies[notification.objectID] %}
	{% else %}
	{% set ownReply=null %}
	{% endif %}
	{% if ownReply is not null %}
	{% include "wall_reply_notifications" with {'post': ownReply, 'postType': objectType, 'parentType': notification.relatedObjectType, 'randomID': randomID} %}
	{% endif %}
	{% if notification.relatedObjectType=='PHOTO' %}
	{% set interactions=photoInteractions[notification.relatedObjectID] %}
	{% endif %}
	{% if interactions.canComment %}
	{% set realPost=object.post %}
	{% if notification.relatedObjectType=='PHOTO' %}
	{% include "wall_post_form_notifications" with {'id': "commentReply#{realPost.idString}_#{randomID}", 'action': "/comments/createComment?parentType=photo&parentID="+relatedObject.idString, 'comment': true, 'replyTo': realPost, 'replyToModel': object, 'originalPostAuthor': users[realPost.authorID], 'randomID': randomID, 'addClasses': "collapsed notificationOwnReply", 'from': 'notifications'} %}
	{% else %}
	{% include "wall_post_form_notifications" with {'id': "commentPost#{realPost.id}_#{randomID}", 'replyTo': realPost, 'replyToModel': object, 'originalPostAuthor': users[realPost.authorID], 'randomID': randomID, 'addClasses': "collapsed notificationOwnReply", 'from': 'notifications'} %}
	{% endif %}
	{% endif %}
</div>
{% elseif not isPost %}{# Show as user avatars #}
{% set isMultiple=notification.notifications | length>1 %}
{% if not isMultiple %}
{% set actorGender=users[latest.actorID].gender %}
{% endif %}
<div class="notificationsRow notificationWithAvatars notification{{ latest.type | replace({'_': ' '}) | lower | title | replace({' ': ''}) }}">
	<div class="iconW"><div class="icon"></div></div>
	<div class="notificationContent">
		{% include "notification_extra_image" with {'notification': latest} %}
		<div class="names">
		{% if notification.notifications | length==1 %}
		<a href="{{ profileURL(latest.actorID) }}">{{ users[latest.actorID] | name }}</a>
		{% elseif notification.notifications | length==2 %}
		{{ L('notification_two_people', {'name1': users[notification.notifications[0].actorID] | name, 'name2': users[notification.notifications[1].actorID] | name}, {'user1': {'href': profileURL(notification.notifications[0].actorID)}, 'user2': {'href': profileURL(notification.notifications[1].actorID)} }) }}
		{% elseif notification.notifications | length==3 %}
		{{ L('notification_three_people', {'name1': users[notification.notifications[0].actorID] | name, 'name2': users[notification.notifications[1].actorID] | name, 'name3': users[notification.notifications[2].actorID] | name}, {'user1': {'href': profileURL(notification.notifications[0].actorID)}, 'user2': {'href': profileURL(notification.notifications[1].actorID)}, 'user3': {'href': profileURL(notification.notifications[2].actorID)}  }) }}
		{% else %}
		{{ L('notification_many_people', {'name1': users[notification.notifications[0].actorID] | name, 'name2': users[notification.notifications[1].actorID] | name, 'count': (notification.notifications | length)-2}, {'user1': {'href': profileURL(notification.notifications[0].actorID)}, 'user2': {'href': profileURL(notification.notifications[1].actorID)} }) }}
		{% endif %}
		</div>
		<div class="avatars">
		{% for sub in (notification.notifications | length>10 ? (notification.notifications | slice(0, 10)) : notification.notifications) %}
		<span class="hoverCardContainer"><a href="{{ profileURL(sub.actorID) }}" data-user-id="{{ sub.actorID }}" class="hoverCardTrigger mention">{{ users[sub.actorID] | pictureForAvatar('s', 30) }}</a></span>
		{% endfor %}
		</div>
		<div class="timeAndInfo grayText">
		{{ LD(latest.time) }}
		{% if latest.type=='LIKE' %}
			{% if latest.objectType=="POST" %}
				{% if isMultiple %}
				{{ L(isComment ? 'notification_liked_comment_multiple' : 'notification_liked_post_multiple') }}
				{% else %}
				{{ L(isComment ? 'notification_liked_comment' : 'notification_liked_post', {'gender': actorGender}) }}
				{% endif %} <a href="{{ object.post.internalURL }}" onclick="return openPostLayer('{{ isComment ? posts[latest.objectID].post.replyKey[0] : latest.objectID }}'{% if isComment %}, '{{ latest.objectID }}'{% endif %})">{{ object.post.shorterTitle | default(LD(object.post.createdAt)) }}</a>
			{% elseif latest.objectType=="PHOTO" %}
				{% if isMultiple %}
				{{ L('notification_liked_photo_multiple', {}, {'photo': {'href': object.url, 'onclick': "return openPhotoViewer(this)", 'data-pv': json(object.singlePhotoViewerData)} }) }}
				{% else %}
				{{ L('notification_liked_photo', {'gender': actorGender}, {'photo': {'href': object.url, 'onclick': "return openPhotoViewer(this)", 'data-pv': json(object.singlePhotoViewerData)} }) }}
				{% endif %}
			{% elseif latest.objectType=="COMMENT" %}
				{% if isMultiple %}
				{{ L('notification_liked_comment_multiple') }}
				{% else %}
				{{ L('notification_liked_comment', {'gender': actorGender}) }}
				{% endif %} <a href="{{ object.post.internalURL }}">{{ object.post.shorterTitle | default(LD(object.post.createdAt)) }}</a>
			{% endif %}
		{% elseif latest.type=='REPOST' or latest.type=='RETOOT' %}
			{% if isMultiple %}
			{{ L(isComment ? 'notification_reposted_comment_multiple' : 'notification_reposted_post_multiple') }}
			{% else %}
			{{ L(isComment ? 'notification_reposted_comment' : 'notification_reposted_post', {'gender': actorGender}) }}
			{% endif %} <a href="{{ object.post.internalURL }}"{% if latest.objectType=='POST' %} onclick="return openPostLayer('{{ isComment ? posts[latest.objectID].post.replyKey[0] : latest.objectID }}'{% if isComment %}, '{{ latest.objectID }}'{% endif %})"{% endif %}>{{ object.post.shorterTitle | default(LD(object.post.createdAt)) }}</a>
		{% elseif latest.type=="INVITE_SIGNUP" %}
		{{ isMultiple ? L('notification_invite_signup_multiple') : L('notification_invite_signup', {'gender': actorGender}) }}
		{% elseif latest.type=="FOLLOW" %}
		{{ isMultiple ? L('notification_follow_multiple') : L('notification_follow', {'gender': actorGender}) }}
		{% elseif latest.type=="FRIEND_REQ_ACCEPT" %}
		{{ isMultiple ? L('notification_friend_req_accept_multiple') : L('notification_friend_req_accept', {'gender': actorGender}) }}
		{% endif %}
		</div>
	</div>
</div>
{% endif %}
{% else %}
<div class="emptyState">{{ L('notifications_empty') }}</div>
{%endfor%}
{% endblock %}
{% include "pagination_endless" %}
</div>
{%endblock%}