<!DOCTYPE html>
<html>
<head>
	<!-- commercialized internet sucks ass -->
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/res/desktop.css?{{staticHash}}"/>
	{%if metaTags is not null%}{%for tag in metaTags%}<meta property="{{tag.key}}" content="{{tag.value}}"/>
	{%endfor%}{%endif%}
	<script>
		var userConfig={{jsConfig | raw}};
		var langKeys={{jsLangKeys | raw}};
		var mobile=false;
	</script>
	<style>
		.js{display: none;}
		.hasJS .js{display: block;}
	</style>
</head>
<body class="{{ wideOnDesktop ? "widePage" : "narrowPage" }}">
<script>document.body.classList.add("hasJS");{%if jsRedirect is not null%} window.location="{{jsRedirect}}";{%endif%}</script>
<div class="wrap">
	<div class="headerWrap">
		<div class="headerBG"><div class="shadow"></div></div>
<table width="100%" class="header" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="158" align="left" class="logo">
			<a href="/"><img src="/res/desktop_logo_v1.svg" height="28" width="27" border="0" alt="Smithereen"/>{{serverName}}</a>
		</td>
		<td align="right">
			{%if currentUser is not null%}
			<a href="/account/logout?csrf={{ csrf }}" class="nav">{{ L("log_out") }}</a>
			{%endif%}
		</td>
	</tr>
</table>
	</div>
<table width="100%" class="contentWrap" cellpadding="0" cellspacing="0">
	<tr>
		<td width="158" class="leftMenu" valign="top">
{%block leftMenu%}
			{%if currentUser is not null%}
			<ul class="actionList">
				<li class="hasAux"><a href="/{{currentUser.username}}" class="actionMain">{{L('menu_profile')}}</a><a href="/settings/profile/general" class="actionAux">{{L('menu_edit')}}</a></li>
				<li><a href="/my/friends">{{L('menu_friends')}}{%if(userNotifications.newFriendRequestCount>0)%} (<b>{{userNotifications.newFriendRequestCount}}</b>){%endif%}</a></li>
				<li><a href="/my/groups">{{ L('menu_groups') }}</a></li>
				<li><a href="/feed">{{L('menu_news')}}</a></li>
				<li><a href="/my/notifications">{{L('menu_notifications')}}{%if(userNotifications.newNotificationsCount>0)%} (<b>{{userNotifications.newNotificationsCount}}</b>){%endif%}</a></li>
				<li><a href="/settings/">{{L('menu_settings')}}</a></li>
				{%if userPermissions.serverAccessLevel.ordinal>=3%}
				<li class="separator"></li>
				<li><a href="/settings/admin">{{L('menu_admin')}}</a></li>
				{%endif%}
			</ul>
			{%else%}
			<form action="/account/login" method="post">
				{{ L("email_or_username") }}:<br/>
				<input type="text" name="username"/><br/>
				{{ L("password") }}:<br/>
				<input type="password" name="password"/><br/>
				<input type="submit" value="{{ L('log_in') }}"/>
			</form>
			{%endif%}
{%endblock%}
		</td>
		<td valign="top">
			<div class="pageContent">
{%block content%}{%endblock%}
			</div>
		</td>
	</tr>
</table>
</div>
<!--a id="elevator" href="#">
	up
</a-->
<script src="/res/common.js?{{staticHash}}"></script>
{% if _bottomScripts is not empty %}
<script>
{{ _bottomScripts | raw }}
</script>
{% endif %}
</body>
</html>