<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/res/desktop.css?{{ staticHashes['desktop.css'] }}"/>
	{% if activityPubURL is not null %}
	<link rel="alternate" type="application/activity+json" href="{{ activityPubURL }}"/>
	{% endif %}
	{% block additionalLinks %}{% endblock %}
	{%if metaTags is not null%}
		{%for tag in metaTags%}
			<meta property="{{tag.key}}" content="{{tag.value}}"/>
		{%endfor%}
	{%endif%}
	{% if moreMetaTags is not null %}
		{%for tag in moreMetaTags%}
			<meta name="{{tag.key}}" content="{{tag.value}}"/>
		{%endfor%}
	{% endif %}
	{% if noindex %}
		<meta name="robots" content="noindex, nofollow"/>
	{% endif %}
	<script>
		var userConfig={{jsConfig | raw}};
		var langKeys={{jsLangKeys | raw}};
		var mobile=false;
	</script>
	<style>
		.js{display: none;}
		.hasJS .js{display: block;}
	</style>
</head>
<body class="{{ wideOnDesktop ? "widePage" : "narrowPage" }}">
<script>document.body.classList.add("hasJS");{%if jsRedirect is not null%} window.location="{{jsRedirect}}";{%endif%}</script>
<div class="wrap">
	<div class="headerWrap">
		<div class="headerBG"><div class="shadow"></div></div>
		<div class="header">
			<div class="logo">
				<a href="/"><img src="/res/desktop_logo_v1.svg" height="28" width="27" border="0" alt="Smithereen"/>{{serverName}}</a>
			</div>
			{% if headerBackHref is not empty %}
			<a href="{{ headerBackHref }}" class="nav back ellipsize">{{ headerBackTitle }}</a>
			{% elseif currentUser is not null %}
			{% if currentUser.banStatus=='NONE' or currentUser.banStatus=='HIDDEN' %}
			<div id="qsearchWrap">
				<input type="text" id="qsearchField" placeholder="{{ L('search') }}" autocomplete="off" autocapitalize="off"/>
				<div id="qsearchResults" style="display: none"></div>
			</div>
			{% endif %}
			{% endif %}
			<div id="headerNav">
				{% if currentUser is not null %}
				{% if userPermissions.canInviteNewUsers %}<a href="/settings/invites" class="nav">{{ L('invite_users') }}</a>{% endif %}
				<a href="/account/logout?csrf={{ csrf }}" class="nav">{{ L("log_out") }}</a>
				{% endif %}
			</div>
		</div>
	</div>
<table width="100%" class="contentWrap" cellpadding="0" cellspacing="0">
	<tr>
		<td width="158" class="leftMenu" valign="top">
{%block leftMenu%}
			{%if currentUser is not null%}
			{% include "left_menu" %}
			{%else%}
			<form action="/account/login" method="post">
				{{ L("email_or_username") }}:<br/>
				<input type="text" name="username"/><br/>
				{{ L("password") }}:<br/>
				<input type="password" name="password"/><br/>
				<input type="submit" value="{{ L('log_in') }}"/>
				<center class="marginBefore"><a href="/account/resetPassword">{{ L('forgot_password') }}</a></center>
			</form>
			{%endif%}
{%endblock%}
		</td>
		<td valign="top">
			<div class="pageContent">
				{% if navBarItems is not empty %}
					<div class="navbar">
					{%- for item in navBarItems -%}
						{%- if item.href is not empty -%}
							<a href="{{ item.href }}">
						{%- else -%}
							<span class="navItem">
						{%- endif -%}
							{{- item.text -}}
						{%- if item.href is empty -%}
							</span>
						{%- else -%}
							</a>
						{%- endif -%}
						{%- if item.auxText is not empty -%}
							<span class="auxText"> {{ item.auxText }}</span>
						{%- endif -%}
						{%- if not loop.last %} &raquo; {% endif -%}
					{%- endfor -%}
					</div>
				{% endif %}
{%block content%}{%endblock%}
			</div>
		</td>
	</tr>
</table>
</div>
<a id="elevator">
	<div class="bg">
		<div class="inner">{{ L('go_up') }}</div>
	</div>
</a>
<script src="/res/common.js?{{ staticHashes['common.js'] }}"></script>
{% block extraScripts %}{% endblock %}
{% if _bottomScripts is not empty %}
<script>
{{ _bottomScripts | raw }}
</script>
{% endif %}
</body>
</html>