{% extends "page" %}
{% block content %}
{% include "photos_tabbar" with {'tab': 'album'} %}
{% if userPermissions.canUploadToPhotoAlbum(album) %}
<div class="photoGridUpload" id="photoAlbumUpload">
	<div class="uploadText"><div class="icon"></div><span id="uploadText">{{ L('add_photos_to_album') }}</span></div>
	<div class="uploadDropZone"><div class="inner" id="uploadDropText">{{ L('drop_files_here') }}</div></div>
</div>
<div id="uploadResult"></div>
{% script %}
new PhotoAlbumUploader("{{ album.url }}/upload");
{% endscript %}
{% endif %}
<div id="uploadHide">
<div class="mediaGridW">
<div class="summaryWrap">
	<div class="summary">{{ L('summary_album_X_photos', {'count': totalItems}) }}</div>
</div>
{% if items is empty %}
<div class="singleColumn"><div class="emptyState">{{ L('no_photos_in_album') }}</div></div>
{% else %}
<div class="photoGrid">
{% block photosInner %}
{% for photo in items %}
    <a href="{{ photo.url }}" class="photo" id="photo{{ photo.idString }}" onclick="return openPhotoViewer(this)" data-pv="{{ json(photoViewerData[photo.id]) }}">{{ photo.image | pictureForPhoto('m', false) }}</a>
{% endfor %}
{% endblock %}
{% include "pagination_endless" %}
</div>
{% endif %}
</div>
</div>
{% endblock %}