{# @pebvariable name="interactions" type="smithereen.model.UserInteractions" #}
{# @pebvariable name="photo" type="smithereen.model.photos.Photo" #}
<div class="pvPhotoInfo">
	<div class="leftCol">
		{% if allowedActions contains "EDIT_DESCRIPTION" %}
		<div class="editableDescriptionW marginAfter" id="pvEditDescriptionW_{{ photo.idString }}">
			<div class="description" style="{% if description is empty %}display: none{% endif %}" id="pvDescription_{{ photo.idString }}">{{ description | postprocessHTML }}</div>
			<div class="descriptionPlaceholder grayText" style="{% if description is not empty %}display: none{% endif %}" id="pvDescriptionPlaceholder_{{ photo.idString }}">{{ L('photo_edit_description') }}</div>
			<div class="overlayLoader loader" id="pvDescriptionOverlayLoader_{{ photo.idString }}" style="display: none"></div>
		</div>
		{% else %}
		<div class="marginAfter description">{{ description | postprocessHTML }}</div>
		{% endif %}
		<div class="grayText marginAfter">{{ L('photo_added_at', {'date': LD(createdAt)}) }}
		<span class="contentActions pvLike">
		{% if interactions is not null %}
			<span class="likeWrap" onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)">|
				<a href="{{ photo.url }}/{% if interactions.isLiked %}un{% endif %}like?csrf={{ csrf }}" class="action like{% if interactions.isLiked %} liked{% endif %} popoverButton" id="likeButtonPhoto{{ photo.idString }}" data-obj-type="photo" data-obj-id="{{ photo.idString }}" data-popover-url="{{ photo.url }}/likePopover" {% if currentUser is not null %}onclick="return likeOnClick(this)"{% else %}data-ajax-box{% endif %} rel="nofollow">
					{{- L('like') }}<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPhoto{{ photo.idString }}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
					{{- interactions.likeCount -}}
				</span></a>
				<span class="popoverPlace likePopoverWrap"></span>
			</span>
		{% endif %}
		</span>
		</div>
		{% if interactions is not null %}
		<div>
		{% set _interactions=interactions %}
		<div class="commentsPreviewWrap">
			{% set replyCount=interactions.commentCount %}
			{% if (commentViewType=='FLAT' ? replyCount : comments.total)>comments.list.size %}
				<a href="{{ photo.url }}" onclick="return loadOlderComments('{{ photo.idString }}', 'photo')" class="loadPrev" id="loadPrevBtn_{{ photo.commentParentID.htmlElementID }}" data-first-id="{{ comments.list.first.post.idString }}">{{ commentViewType=='FLAT' ? L('comments_show_X_more_comments', {'count': replyCount-comments.list.size}) : L('show_previous_comments') }}</a>
				<div class="prevLoader loader" id="prevLoader_{{ photo.commentParentID.htmlElementID }}" style="display: none;"></div>
			{% endif %}
			<div class="commentsPreview" id="comments_{{ photo.commentParentID.htmlElementID }}">
			{%- for reply in comments.list %}
				{% include "comment" with {'post': reply, 'preview': true, 'replyFormID': commentViewType=='FLAT' ? "wallPostForm_comment_#{photo.commentParentID.htmlElementID}" : "wallPostForm_commentReply_#{photo.commentParentID.htmlElementID}", 'parentObject': photo, 'baseReplyLevel': 0, 'canComment': _interactions.canComment} %}
			{% endfor -%}
			</div>
			{% set interactions=_interactions %}
			{% if currentUser is not null and interactions.canComment %}
				{% include "wall_post_form" with {'id': "comment_#{photo.commentParentID.htmlElementID}", 'action': "/comments/createComment?parentType=photo&parentID="+photo.idString, 'showReplyBar': commentViewType=='FLAT', 'addClasses': "nonCollapsible", 'isComment': true} %}
				{% if commentViewType!='FLAT' %}{% include "wall_post_form" with {'id': "commentReply_#{photo.commentParentID.htmlElementID}", 'hidden': true, 'action': "/comments/createComment?parentType=photo&parentID="+photo.idString, 'isComment': true} %}{% endif %}
			{% endif %}
		</div>
		</div>
		{% endif %}
	</div>
	<div class="rightCol">
		{% if album is not null %}<div class="grayText marginAfter">{{ L('photo_album_label') }}:<br/><a href="{{ album.url }}">{{ album.title }}</a></div>{% endif %}
		<div class="grayText">{{ L('photo_added_by') }}:<br/><a href="{{ author.profileURL }}">{{ author | name('full') }}</a></div>
		<ul class="actionList">
			{% if allowedActions contains "SET_AS_COVER" %}
			<li><a href="{{ photo.url }}/setAsAlbumCover?csrf={{ csrf }}" data-ajax data-ajax-show="photoSetCoverLoader{{ photo.idString }}" data-ajax-hide="photoSetCoverText{{ photo.idString }}"><span id="photoSetCoverText{{ photo.idString }}">{{ L('set_photo_as_album_cover') }}</span> <span class="inlineLoader" id="photoSetCoverLoader{{ photo.idString }}" style="display: none"></span></a></li>
			{% endif %}
			{% if allowedActions contains "DELETE" %}
    		<li><a href="{{ photo.url }}/confirmDelete" data-confirm-message="{{ L('delete_photo_confirm') }}" data-confirm-title="{{ L('delete_photo') }}" data-confirm-action="{{ photo.url }}/delete?from=viewer">{{ L('delete') }}</a></li>
			{% endif %}
			{% if photo.apID is not null %}
			<li><a href="{{ photo.activityPubURL }}" target="_blank" rel="noopener">{{ L('open_on_server_X', {'domain': photo.activityPubURL.host}) }}</a></li>
			{% endif %}
			{% if photo is not null and userPermissions is not null and userPermissions.canReport(photo) %}
			<li><a href="/system/reportForm?type=photo&id={{ photo.idString }}" data-ajax-box>{{ L('report') }}</a></li>
			{% endif %}
			<li><a href="{{ originalImageURL }}" target="_blank">{{ L('photo_open_original') }}</a></li>
		</ul>
	</div>
</div>