{% extends "page" %}
{% block content %}
{% include "photos_tabbar" with {'tab': 'tags'} %}
<div class="mediaGridW">
<div class="summaryWrap">
	<div class="summary">{{ L('content_type_X_photos', {'count': totalItems}) }}</div>
</div>
{% if items is empty %}
<div class="singleColumn"><div class="emptyState">{{ L('no_new_tagged_photos') }}</div></div>
{% else %}
<div class="photoGrid">
{% block photosInner %}
{% for photo in items %}
    <a href="{{ photo.url }}{% if not isAjax %}?nojs{% endif %}" class="photo" id="photoNewTag{{ photo.idString }}" onclick="return openPhotoViewer(this)" data-pv="{{ json(photoViewerData[photo.id]) }}">{{ photo.image | pictureForPhoto('m', false) }}</a>
{% endfor %}
{% endblock %}
{% include "pagination_endless" %}
</div>
{% endif %}
</div>
{% script %}
{
	var links=document.querySelectorAll("a[onclick]");
	for(var i=0;i<links.length;i++){
		var l=links[i];
		var index=l.href.indexOf("?nojs");
		if(index!=-1){
			l.href=l.href.substring(0, index);
		}
	}
}
{% endscript %}
{% endblock %}