{# @pebvariable name="poll" type="smithereen.data.Poll" #}
{# @pebvariable name="interactions" type="smithereen.data.UserInteractions" #}
<div class="poll" id="poll{{ poll.id }}">
{% block inner %}
	<div>
		<div class="flR grayText">{{ L(poll.anonymous ? 'anonymous_poll' : 'public_poll') }}</div>
		<h3 class="question">{{ poll.question is empty ? L('poll') : poll.question }}</h3>
	</div>
	{% if currentUser is not null and interactions.pollChoices is empty and not poll.expired %}
		<form action="/system/votePoll?id={{ poll.id }}&csrf={{ csrf }}" method="post" data-ajax>
			{% if poll.multipleChoice %}
				{% for opt in poll.options %}
					<label>
						<input type="checkbox" name="option" value="{{ opt.id }}" onchange="onPollInputChange(this)"/>
						{{ opt.text }}
					</label>
				{% endfor %}
				<input type="submit" value="{{ L('submit_vote') }}" id="pollSubmit{{ poll.id }}"/>
				{% script %}
				ge("pollSubmit{{ poll.id }}").disabled=true;
				{% endscript %}
			{% else %}
				{% for opt in poll.options %}
					<label>
						<input type="radio" name="option" value="{{ opt.id }}" onchange="onPollInputChange(this)"/>
						{{ opt.text }}
					</label>
				{% endfor %}
				<noscript>
					<input type="submit" value="{{ L('submit_vote') }}"/>
				</noscript>
			{% endif %}
		</form>
	{% else %}
		{% set maxOptionVotes=0 %}
		{% for opt in poll.options %}
			{% set maxOptionVotes=max(opt.numVotes, maxOptionVotes) %}
		{% endfor %}
		{% for opt in poll.options %}
			{# @pebvariable name="fraction" type="float" #}
			{% set fraction=(poll.numVoters==0 ? 0 : (opt.numVotes*1.0)/poll.numVoters) %}
			{% if not poll.anonymous %}
			<div class="pollResultRowW"{% if opt.numVotes>0 %} onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)"{% endif %}>
			<a href="/posts/{{ post.id }}/pollVoters/{{ opt.id }}" class="undecoratedLink popoverButton" data-ajax-box="1" data-popover-url="/posts/{{ post.id }}/pollVoters/{{ opt.id }}/popover">
			{% endif %}
			<div class="pollResultRow{{ interactions.pollChoices contains opt.id ? ' userChoice' : '' }}">
				{{ opt.name }}
				<div class="pollResultBarW">
					<div class="pollResultBarBG">
						<div class="pollResultBarFG" style="transform: scaleX({{ maxOptionVotes>0 ? (opt.numVotes*1.0)/maxOptionVotes : 0 }})"></div>
						<div class="pollResultNumVotes">{{ opt.numVotes | numberformat("#,###") }}</div>
					</div>
					<div class="pollResultPercent">{{ fraction | numberformat("#.#%") }}</div>
				</div>
			</div>
			{% if not poll.anonymous %}
			</a>
			<div class="popoverPlaceW"><div class="popoverPlace pollVotersPopoverWrap"></div></div>
			</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	{{ L('X_people_voted', {'count': poll.numVoters}) }}
	{% if poll.endTime is not null %}
		<br/>{{ L(poll.expired ? 'poll_expired' : 'poll_voting_until', {'date': LD(poll.endTime)}) }}
	{% endif %}
{% endblock %}
</div>