{%extends "page.twig"%}
{%block content%}
<div class="singleColumn gray">
	<form action="/settings/updateProfileGeneral" method="post" onsubmit="return ajaxSubmitForm(this)">
		<h2>{{L('profile_edit_basic')}}</h2>
		<div class="settingsMessage" id="profileEditMessage" style="{%if not profileEditMessage%}display: none{%endif%}">{{profileEditMessage}}</div>
		<table class="form">
			<tr><td class="label"><label for="first_name">{{L('first_name')}}</label>:</td><td><input type="text" id="first_name" name="first_name" value="{{currentUser.firstName}}" maxlength="100" required/></td></tr>
			<tr><td class="label"><label for="last_name">{{L('last_name')}}</label>:</td><td><input type="text" id="last_name" name="last_name" value="{{currentUser.lastName}}" maxlength="100"/></td></tr>
			<tr><td class="label"><label for="gender">{{L('gender')}}</label>:</td><td>
				<select id="gender" name="gender">
					<option value="0"{%if currentUser.gender.ordinal==0%} selected{%endif%}>{{L('gender_none')}}</option>
					<option value="1"{%if currentUser.gender.ordinal==1%} selected{%endif%}>{{L('gender_male')}}</option>
					<option value="2"{%if currentUser.gender.ordinal==2%} selected{%endif%}>{{L('gender_female')}}</option>
				</select>
			</td></tr>
			<tr><td class="label"><label for="bdate">{{L('birth_date')}}</label>:</td><td>
				{#- java.sql.Date.toString() is already the right YYYY-MM-DD format #}
				<input type="date" id="bdate" name="bdate" value="{{currentUser.birthDate}}" max="{{todayDate}}"/>
			</td></tr>
			<tr class="footer"><td class="label"></td><td><input type="submit" value="{{L('save')}}"/></td></tr>
		</table>
		<input type="hidden" name="csrf" value="{{csrf}}"/>
	</form>

	<form action="/settings/updateProfilePicture" method="post" enctype="multipart/form-data">
		<h2>{{L('update_profile_picture')}}</h2>
		{%if profilePicMessage%}<div class="settingsMessage">{{profilePicMessage}}</div>{%endif%}
		<table class="form">
			<tr><td class="label"></td><td><input type="file" name="pic" accept="image/*"/></td></tr>
			<tr class="footer"><td class="label"></td><td><input type="submit" value="{{L('save')}}"/></td></tr>
		</table>
	</form>
</div>
{%endblock%}
