{%extends "page"%}
{%block content%}
{%if user.domain%}
<div class="settingsMessage">
	{{L('incomplete_profile')}}<br/>
	<a href="{{user.url}}" target="_blank">{{L('open_on_server_X', user.domain)}}</a>
</div>
{%endif%}
<table width="100%" cellpadding="0" cellspacing="0" class="columnLayout leftNarrow">
	<tr valign="top">
		<!-- left column -->
		<td width="200" id="left">
			{%if user.hasAvatar%}
			{%if currentUser is not null and currentUser.id==user.id%}
			<div class="selfAvaOverlay">
				{{user | pictureForAvatar('rl')}}
				<ul class="selfAvaActions actionList">
					<li><a href="/settings/profile/general" onclick="new ProfilePictureBox().show(); return false;">{{L('update_profile_picture')}}</a></li>
					<li><a href="/settings/confirmRemoveProfilePicture" onclick="return ajaxConfirm('remove_profile_picture', 'confirm_remove_profile_picture', '/settings/removeProfilePicture');">{{L('remove_profile_picture')}}</a></li>
				</ul>
			</div>
			{%else%}
			{{user | pictureForAvatar('rl')}}
			{%endif%}
			{%else%}
			{%if currentUser is not null and currentUser.id==user.id%}
			<a href="/settings/profile/general" onclick="new ProfilePictureBox().show(); return false;">
				<span class="ava avaPlaceholder inProfile{%if user.gender=='FEMALE'%} female{%endif%}">
					<span class="ownProfileAvaPlaceholderLabel">{{L('upload_avatar')}}</span>
				</span>
			</a>
			{%else%}
			<span class="ava avaPlaceholder inProfile{%if user.gender=='FEMALE'%} female{%endif%}"></span>
			{%endif%}
			{%endif%}
			{%if currentUser is not null and currentUser.id!=user.id%}
			<div class="profileBelowAva">
				{{friendshipStatusText}}
				{%if not(isFriend) and not(following) and not(friendRequestSent) and not(followRequested)%}
				{%if user.supportsFriendRequests%}
				{% if friendRequestRecvd %}
					<a href="{{user.profileURL}}/respondToFriendRequest?csrf={{csrf}}&accept" class="button{%if friendshipStatusText%} withText{%endif%}" data-ajax="1">{{L("accept")}}</a>
				{% else %}
					<a href="{{user.profileURL}}/confirmSendFriendRequest?csrf={{csrf}}" class="button{%if friendshipStatusText%} withText{%endif%}" data-ajax="1">{{L("add_friend")}}</a>
				{% endif %}
				{%else%}
				<a href="{{user.profileURL}}/confirmSendFriendRequest?csrf={{csrf}}" class="button{%if friendshipStatusText%} withText{%endif%}" data-ajax="1">{{L("follow")}}</a>
				{%endif%}
				{%endif%}
			</div>
			{%endif%}
			<ul class="actionList marginAfter marginBefore">
			{%if currentUser is not null and currentUser.id!=user.id%}
			{%if isFriend or following or friendRequestSent or followRequested%}
				<li><a href="{{user.getProfileURL('confirmRemoveFriend')}}" onclick="return ajaxConfirm({%if following or followRequested%}'unfollow'{%else%}'remove_friend'{%endif%},this.getAttribute('data-confirm'),'{{user.getProfileURL('doRemoveFriend')}}')" data-confirm="{{ LI(key=(following or followRequested ? 'confirm_unfollow_X' : 'confirm_unfriend_X'), first=user.firstName, last=user.lastName, gender=user.gender) | forceEscape }}">{%if following or followRequested%}{{L('unfollow')}}{%else%}{{L('remove_friend')}}{%endif%}</a></li>
			{%endif%}
			{%endif%}
				<li><a href="{{user.getProfileURL('followers')}}">{{L('followers')}}</a></li>
				<li><a href="{{user.getProfileURL('following')}}">{{L('following')}}</a></li>
			</ul>

			<table width="100%" style="table-layout: fixed;" class="profileBlock">
				<tr><th colspan="3" class="blockHeader"><a href="{{user.getProfileURL('friends')}}">{{L("friends")}}</a></th></tr>
				<tr><td colspan="3" class="blockSubheader">{{LP('X_friends', friendCount)}}</td></tr>
				{%for friend in friends%}
				{%if(loop.first or loop.index==3)%}<tr valign="top" class="membersRow">{%endif%}
				<td align="center" width="33%" style="overflow: hidden;">
					<a href="{{friend.url}}">
						{{friend | pictureForAvatar('s')}}<br/>
						<span class="memberName">{{friend.firstName}}<br/>{{friend.lastName}}</span>
					</a>
				</td>
				{%if(loop.index==2 or loop.index==5)%}</tr>{%endif%}
				{%endfor%}
				{%if(friends.size%3!=0)%}
				<td colspan="{{3-friends.size%3}}" width="{{(3-friends.size%3)*33}}%">&nbsp;</td></tr>
				{%endif%}
			</table>
		</td>
		<!-- right column -->
		<td id="right">
			<h2>{{user.completeName}}</h2>
			<table class="profileBlock profileFields" width="100%">
				{%if user.birthDate is not null%}<tr><td class="label">{{L("birth_date")}}:</td><td>{{user.birthDate}}</td></tr>{%endif%}
				{%if user.summary is not null%}<tr><td class="label">{{L('profile_about')}}:</td><td>{{user.summary}}</td></tr>{%endif%}
			</table>
			<table width="100%" class="profileBlock">
				<tr><th class="blockHeader"><a href="#">{{L('wall')}}</a></th></tr>
				<tr><td class="blockSubheader">{{LP('X_posts', postCount)}}</td></tr>
				{%if currentUser is not null%}<tr><td>{%include "wall_post_form" with {'wallOwner': user}%}</td></tr>{%endif%}
				<tr><td class="padded narrowWall" id="postList">
			{%for post in wall%}
			{%include "wall_post" with {'post': post}%}
			{%endfor%}
					{%include "pagination" with {'perPage': 25, 'offset': pageOffset, 'total': postCount, 'urlPrefix': (user.profileURL+"?offset=")}%}
				</td></tr>
			</table>
		</td>
	</tr>
</table>
{%endblock%}