{%autoescape "html"%}
<form action="/account/register" method="post">
	{%-if preFilledInvite%}
	<input type="hidden" name="_invite" value="{{preFilledInvite}}"/>
	{%-endif%}
	<h2>{{L('register')}}</h2>
	<table class="form">
		<tr><td class="label">{{L('username')}}:</td><td><input type="text" name="username" maxlength="50" value="{{username}}" required/><br/><span class="formExplanation">{{L('username_explain')}}</span></td></tr>
		<tr><td class="label">{{L('password')}}:</td><td><input type="password" name="password" value="{{password}}" required/></td></tr>
		<tr><td class="label">{{L('password_confirm')}}:</td><td><input type="password" name="password2" value="{{password2}}"/></td></tr>
		<tr><td class="label">{{L('first_name')}}:</td><td><input type="text" name="first_name" maxlength="100" value="{{first_name}}" required/></td></tr>
		<tr><td class="label">{{L('last_name')}}:</td><td><input type="text" name="last_name" maxlength="100" value="{{last_name}}"/></td></tr>
		<tr><td class="label">{{L('email')}}:</td><td><input type="email" name="email" value="{{email}}" required/></td></tr>
		{%-if signupMode!='OPEN' and not preFilledInvite%}
		<tr><td class="label">{{L('invitation_code')}}:</td><td><input type="text" name="invite" maxlength="32" value="{{invite}}" required/></td></tr>
		{%-endif%}
		<tr class="footer"><td class="label"></td><td><input type="submit" value="{{L('register')}}"/></td></tr>
	</table>
</form>
{%endautoescape%}