{%autoescape "html"%}
<form action="/account/register" method="post">
	<h3>{{L('register')}}</h3>
	{{L('username')}}: <input type="text" name="username" maxlength="50" value="{{username}}" required/><br/>
	{{L('username_explain')}}<br/>
	{{L('password')}}: <input type="password" name="password" value="{{password}}" required/><br/>
	{{L('password_confirm')}}: <input type="password" name="password2" value="{{password2}}"/><br/>
	{{L('first_name')}}: <input type="text" name="first_name" maxlength="100" value="{{first_name}}" required/><br/>
	{{L('last_name')}}: <input type="text" name="last_name" maxlength="100" value="{{last_name}}"/><br/>
	{{L('email')}}: <input type="email" name="email" value="{{email}}" required/><br/>
	{{L('invitation_code')}}: <input type="text" name="invite" maxlength="32" value="{{invite}}" required/><br/>
	<input type="submit" value="{{L('register')}}"/>
</form>
{%endautoescape%}