{%extends "page.twig"%}
{%block content%}
<center>
	<h3>{%if user.supportsFriendRequests%}{{L('you_are_about_to_send_friend_req')}}{%else%}{{L('you_are_about_to_follow')}}{%endif%}</h3>
	{{user | pictureForAvatar('m')}}
	<br/>
	<h4>{{user.fullName}}</h4>
	{%if user.summary%}{{user.summary | escape(false)}}{%endif%}
	<br/>
	<form action="{{user.getProfileURL('remoteFollow')}}" method="post">
		<input type="hidden" name="csrf" value="{{csrf}}"/>
		{%if user.supportsFriendRequests%}
		<textarea name="message" placeholder="{{L('add_optional_message')}}"></textarea><br/>
		<input type="submit" value="{{L('send')}}"/>
		{%else%}
		<input type="submit" value="{{L('follow')}}"/>
		{%endif%}
	</form>
</center>
{%endblock%}