{# @pebvariable name="repostedPost" type="smithereen.model.Post" #}
{% if repostedPost.local %}
<div class="secondaryTabBar" id="repostTabBar{{ repostedPost.id }}">
	<a href="#" data-no-al="1" class="selected">{{ L('share_content') }}</a>
	<a href="#" data-no-al="1">{{ L('embed_post') }}</a>
</div>
<div class="tabbedContent" id="repostTabContent{{ repostedPost.id }}">
{% endif %}
	<div class="wallRepostForm noPostFormBackgrounds">
		<h2 class="marginAfter">{{ L('repost_your_comment') }}</h2>
		{% include "wall_post_form" with {'id': "repost", 'addClasses': "nonCollapsible", 'submitButtonText': L(repostedPost.replyLevel>0 ? "do_share_comment" : "do_share_post"), 'allowEmpty': true} %}
	</div>
{% if repostedPost.local %}
	{% include "post_embed_form" with {'style': "display: none"} %}
</div>
{% endif %}