{% extends "page" %}
{% block content %}
{% include "settings_tabbar" with {'tab': 'privacy'} %}
<form method="post" action="/settings/privacy" data-ajax class="singleColumn gray">
	<div class="settingsMessage" id="formMessage_privacy" style="display: none"></div>
	<input type="hidden" name="csrf" value="{{ csrf }}"/>
	<div class="privacySettingsForm">
		{% for key in settingsKeys %}
			<div class="settingLabel">{{ L(key.descriptionLangKey) }}</div>
			{% set setting=privacySettings[key] %}
			<div class="settingValue">
				{% include "privacy_setting_selector" with {'setting': setting, 'key': key, 'isOnlyMe': key.isOnlyMe, 'isFriendsOnly': key.isFriendsOnly} %}
			</div>
		{% endfor %}
			<div class="settingLabel">{{ L('privacy_feed_types') }}</div>
			<div class="settingValue">
				<div class="popupMenuW" id="feedTypesMenuW">
					<a href="javascript:void(0)" onclick="cur.showFeedTypesMenu()" class="opener">{{ L(currentUser.newsTypesToShow is null ? 'privacy_feed_all_types' : (currentUser.newsTypesToShow is empty ? 'privacy_feed_no_types' : 'privacy_feed_select_types')) }}</a><span id="feedTypes">
					{%- if currentUser.newsTypesToShow is not empty %}:
					{% for type in currentUser.newsTypesToShow -%}
					    <span class="friendListLabel l{{ type.ordinal%8 }}">{{ L(type.langKey) }}</span>{% if not loop.last %}, {% endif %}
					{%- endfor %}
					{%- endif -%}
					</span>
				</div>
				<input type="checkbox" name="allFeedTypes" id="allFeedTypes" style="display: none"{% if currentUser.newsTypesToShow is null %} checked{% endif %}/>
				<input type="hidden" name="needUpdateFeedTypes" value="1"/>
			</div>
			<div></div>
			<div style="margin-top: 12px;"><input type="submit" value="{{ L('save') }}"/></div>
	</div>
</form>
{% script %}
cur.feedTypesMenu=new MultipleChoicePopupMenu(ge("feedTypesMenuW"), {
	baseID: "feedTypes",
	allTitle: "{{ L('privacy_feed_all_types') | forceEscape }}",
	selectTitle: "{{ L('privacy_feed_select_types') | forceEscape }}",
	noneTitle: "{{ L('privacy_feed_no_types') | forceEscape }}",
	showNone: false,
	options: [
		{% for type in allFeedTypes %}
		    {id: "{{ type }}", title: "{{ L(type.langKey) | forceEscape }}"},
		{% endfor %}
	],
	selectedOptions: {{ json(currentUser.newsTypesToShow | default([])) }},
	allCheckboxID: "allFeedTypes"
});

cur.showFeedTypesMenu=function(){
	feedTypesMenu.show();
}
{% endscript %}
{% endblock %}
