{# @pebvariable name="user" type="smithereen.model.User" #}
<div class="userHoverCard">
	{{ user | pictureForAvatar('b') }}
	<div>
		<h4>{{ user | name('complete') }}</h4>
		{% if user.summary is not empty %}
		<div class="marginAfter marginBefore ellipsize">{{ user.summary | stripHTML }}</div>
		{% endif %}
		{% if mutualFriends is not null and mutualFriends.total>0 %}
		<div class="marginAfter marginBefore">{{ L('X_mutual_friends', {'count': mutualFriends.total}) }}</div>
		<div class="mutuals">
		{% for friend in mutualFriends.list %}
		    {{ friend | pictureForAvatar('a', 30) }}
		{% endfor %}
		</div>
		{% endif %}
	</div>
</div>