{% if items is not empty %}
{% if not hideSummary %}
<div class="summaryWrap">
	<div class="summary">{{ summary }}</div>
	{% include "pagination" %}
</div>
{% endif %}
<div class="userGrid">
	{% for user in items %}
	<div class="userGridItem">
		<a href="{{ user.profileURL }}"{{ profileRel(user) }}>
			{{ user | pictureForAvatar('m') }}
			<div class="name ellipsize">{{ user | name }}</div>
		</a>
	</div>
	{% endfor %}
</div>
{% if not hideSummary %}
<div class="bottomSummaryWrap">{% include "pagination" %}</div>
{% endif %}
{% else %}
<div class="singleColumn">
	<div class="emptyState">
		{{ emptyMessage }}
	</div>
</div>
{% endif %}