{# @pebvariable name="post" type="smithereen.data.Post" #}
<a name="comment{{post.id}}"></a>
<table width="100%" class="post comment" id="post{{post.id}}" data-reply-name="{{post.user.nameForReply}}">
	<tr>
		{%if post.replyLevel>1%}
		<td width="{{ min(post.replyLevel-1, 10)*16 }}" class="treeIndent">&nbsp;</td>
		{%endif%}
		{%if not(post.deleted)%}
		<td width="32" valign="top">
			<a href="{{post.user.profileURL}}">{{post.user | pictureForAvatar('s', 32)}}</a>
		</td>
		<td class="postContentWrap">
			<a href="{{post.user.profileURL}}" class="authorName">{{post.user.fullName}}</a><br/>
			{% if post.hasContentWarning %}
				<input type="checkbox" id="postCW_{{ post.id }}" style="display: none"/>
			<div class="postCWWrap">
				<label for="postCW_{{ post.id }}" class="postCWButton ellipsize">{{ post.summary }}</label>
			{% endif %}
			<div class="postContent">{{post.content | postprocessHTML}}</div>
			{% if post.attachment is not null %}
			{{ renderAttachments(post.processedAttachments) }}
			{% endif %}
			{% if post.hasContentWarning %}
			</div>
			{% endif %}
			<div class="postInfo"><a href="{{post.internalURL}}" onclick="return highlightComment({{post.id}})" class="postLink">{{LD(post.published)}}</a>{%if userPermissions is not null and userPermissions.canDeletePost(post)%} |
				<a href="{{post.url}}/confirmDelete" onclick="return ajaxConfirm('delete_reply', 'delete_reply_confirm', '{{post.url}}/delete')">{{L('delete')}}</a>{%endif%}
				{%if not hideReplyLink%}
					| <a href="{{post.internalURL}}" onclick="return showPostReplyForm({{post.id}}, '{{ replyFormID is empty ? 'wallPostForm_reply' : replyFormID }}')">{{L('add_reply')}}</a>
				{%endif%}
				{% if not post.local %}
					| <a href="{{ post.url }}" target="_blank" rel="noopener">{{ L('open_on_server_X', post.url.host) }}</a>
				{% endif %}
				{%if postInteractions is not null%}
				{%set interactions=postInteractions[post.id]%}
				<span class="postActions">
					<span class="likeWrap" onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)">
						<a href="{{post.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}" class="action like{%if interactions.isLiked%} liked{%endif%} popoverButton" id="likeButtonPost{{post.id}}" data-obj-type="post" data-obj-id="{{post.id}}" data-popover-url="{{post.internalURL}}/likePopover" onclick="return likeOnClick(this)">
							{{- L('like')}}<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPost{{post.id}}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
							{{- interactions.likeCount -}}
						</span></a>
						<span class="popoverPlace likePopoverWrap"></span>
					</span>
				</span>
				{%endif%}
			</div>
		</td>
		{%else%}
		<td class="postContentWrap">
			<i>{{L('deleted_placeholder')}}</i>
		</td>
		{%endif%}
	</tr>
</table>
<div id="postReplies{{post.id}}" class="replies">
{% if preview %}
	{% if post.replyCount>0 %}
		<a class="loadRepliesLink" onclick="return loadCommentBranch({{ post.id }})" id="loadRepliesLink{{ post.id }}">{{ LP('comments_show_X_replies', post.replyCount) }}</a>
		<div class="loadRepliesLink" id="repliesLoader{{ post.id }}" style="display: none;"><span class="loader"></span></div>
	{% endif %}
{% else %}
	{%for reply in post.repliesObjects%}
	{%include "wall_reply" with {'post': reply}%}
	{%endfor%}
{% endif %}
</div>