{# @pebvariable name="post" type="smithereen.model.viewmodel.PostViewModel" #}
{# @pebvariable name="realPost" type="smithereen.model.Post" #}
{# @pebvariable name="topLevel" type="smithereen.model.viewmodel.PostViewModel" #}
{% set realPost=post.post %}
<div class="post comment{{ first ? ' first' : '' }}" id="post{{realPost.id}}" data-reply-name="{{users[realPost.authorID].nameForReply}}">
	{%if realPost.replyLevel>1%}
	<div style="--indent-level: {{ min(realPost.replyLevel-1, 10) }}" class="treeIndent"></div>
	{%endif%}
	{%if not(realPost.deleted)%}
	<div class="postAvaWrap">
		<a href="{{ profileURL(realPost.authorID) }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | pictureForAvatar('s', 32) }}</a>
	</div>
	<div class="postContentWrap">
		<a name="comment{{realPost.id}}"></a>
		<a href="{{ profileURL(realPost.authorID) }}" class="authorName" id="postAuthor{{ realPost.id }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | name }}</a>
		{%- if realPost.privacy!='PUBLIC' -%}
		<span class="privatePostLockIcon" data-tooltip="{{ L(realPost.privacy.langKey, {'name': users[realPost.authorID] | name('firstAndGender')}) }}"></span>
		{%- endif %}<br/>
		<div id="postInner{{ realPost.id }}">
			{% block postInner %}
			{% if realPost.hasContentWarning %}
			<input type="checkbox" id="postCW_{{ realPost.id }}" class="commentCWCheckbox" style="display: none"/>
			<div class="postCWWrap">
				<label for="postCW_{{ realPost.id }}" class="postCWButton ellipsize">{{ realPost.contentWarning | default(L('cw_default')) }}</label>
			{% endif %}
			<div class="postContent">{{ realPost.text | postprocessHTML | truncateText }}</div>
			{% if realPost.attachments is not empty %}
			{{ renderAttachments(realPost.processedAttachments, realPost.ownerID>0 ? users[realPost.ownerID] : groups[-realPost.ownerID]) }}
			{% endif %}
			{% if realPost.hasContentWarning %}
			</div>
			{% endif %}
			<div class="postInfo">
				{%- set interactions=postInteractions[realPost.id] -%}
				{%- if interactions is not null -%}
				<span class="postActions">
					{% if post.canRepost %}
					<span class="shareWrap" onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)">
						<a href="{{ realPost.internalURL }}/share" class="action share popoverButton{{ interactions.repostCount>0 ? '' : ' revealOnHover' }}" id="shareButtonPost{{ realPost.id }}" data-ajax-box data-popover-url="{{ realPost.internalURL }}/sharePopover" rel="nofollow">
							<span class="icon">&nbsp;</span><span class="counter" style="{{ interactions.repostCount==0 ? 'display: none' : '' }}">
							{{- interactions.repostCount -}}
						</span></a>
						<span class="popoverPlace likePopoverWrap"></span>
					</span>
					{% endif %}
					<span class="likeWrap" onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)">
						<a href="{{realPost.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}" class="action like commentLike{{ interactions.isLiked ? ' liked' : '' }}{{ interactions.likeCount>0 or interactions.repostCount>0 ? '' : ' revealOnHover' }} popoverButton" id="likeButtonPost{{realPost.id}}" data-obj-type="post" data-obj-id="{{realPost.id}}" data-popover-url="{{realPost.internalURL}}/likePopover" onclick="return likeOnClick(this)" title="{{ L('like') }}">
							<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPost{{realPost.id}}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
							{{- interactions.likeCount -}}
						</span></a>
						<span class="popoverPlace likePopoverWrap"></span>
					</span>
				</span>
				{%- endif -%}
				<a href="{{realPost.internalURL}}" onclick="return highlightComment({{realPost.id}})" class="postLink">{{LD(realPost.createdAt)}}</a>{%if userPermissions is not null and userPermissions.canDeletePost(realPost)%} |
				<a href="{{realPost.internalURL}}/confirmDelete" onclick="return ajaxConfirm('delete_reply', 'delete_reply_confirm', '{{realPost.internalURL}}/delete')">{{L('delete')}}</a>{%endif%}
				{% if userPermissions is not null and userPermissions.canEditPost(realPost) %} |
				<a href="{{ realPost.internalURL }}/edit" data-ajax="1">{{ L('edit') }}</a>
				{% endif %}
				{% if userPermissions is not null and userPermissions.canReport(realPost) %}
					| <a href="/system/reportForm?type=post&id={{ realPost.id }}" data-ajax-box>{{ L('report') }}</a>
				{% endif %}
				{% if not hideReplyLink and topLevel.canComment %}
					| <a href="{{realPost.internalURL}}" onclick="return showPostReplyForm({{realPost.id}}, '{{ replyFormID is empty ? 'wallPostForm_reply' : replyFormID }}')">{{L('add_reply')}}</a>
				{% endif %}
				{% if not realPost.local %}
					| <a href="{{ realPost.activityPubURL }}" target="_blank" rel="noopener">{{ L('open_on_server_X', {'domain': realPost.activityPubURL.host}) }}</a>
				{% endif %}
			</div>
			{% endblock %}
		</div>
	</div>
	{%else%}
	<div class="postAvaWrap"></div>
	<div class="postContentWrap">
		<i>{{L('deleted_placeholder')}}</i>
	</div>
	{%endif%}
</div>
<div id="postReplies{{realPost.id}}" class="replies">
	{%for reply in post.repliesObjects%}
		{% include "wall_reply" with {'post': reply, 'first': false, 'topLevel': topLevel} %}
		{% set realPost=post.post %}
	{%endfor%}
	{% if post.loadableRepliesCount>0 %}
	<div id="loadRepliesContainer{{ realPost.id }}" class="threadedIndented" style="--indent-level: {{ realPost.replyLevel-1 }}">
		<a class="loadRepliesLink" onclick="return loadCommentBranch({{ realPost.id }}, {{ post.repliesObjects | length }}, {{ topLevel.post.isMastodonStyleRepost ? topLevel.post.id : 0 }})" id="loadRepliesLink{{ realPost.id }}">{{ L(post.loadedRepliesCount>0 ? 'comments_show_X_more_replies' : 'comments_show_X_replies', {'count': post.loadableRepliesCount}) }}</a>
		<div class="loadRepliesLink" id="repliesLoader{{ realPost.id }}" style="display: none;"><span class="loader"></span></div>
		<div class="depthIndicator"></div>
	</div>
	{% endif %}
</div>