{%autoescape "html"%}
<table width="100%" class="post comment" id="post{{post.id}}" data-reply-name="{{post.user.nameForReply}}">
	<tr>
		<td width="40" valign="top">
			<a href="{{post.user.url}}">{{pictureForAvatar(post.user, 's', 40)}}</a>
		</td>
		<td class="postContentWrap">
			<a href="{{post.user.url}}"{{post.userLinkAttrs}} class="authorName">{{post.user.fullName}}</a><br/>
			<div class="postContent">{{post.content | escape(false)}}</div>
			{%if post.attachment%}{{post.processedAttachments | renderAttachments}}<br/>{%endif%}
			<div class="postInfo"><a href="{{post.internalURL}}" class="postLink">{{LD(post.published)}}</a>{%if post.canBeManagedBy(currentUser)%} |
				<a href="{{post.url}}/confirmDelete" onclick="return ajaxConfirm('delete_reply', 'delete_reply_confirm', '{{post.url}}/delete')">{{L('delete')}}</a>{%endif%}
				{%if not hideReplyLink%}| <a href="{{post.internalURL}}" onclick="return showPostReplyForm({{post.id}})">{{L('add_reply')}}</a>{%endif%}</div>
			<div id="postReplies{{post.id}}" class="replies">{%for reply in post.replies%}
			{%include "wall_reply.twig" with {post: reply}%}
			{%endfor%}</div>
		</td>
	</tr>
</table>
{%endautoescape%}