{%if not wallOwner%}{%set wallOwner=currentUser%}{%endif%}
<div class="gray singleColumn wallPostForm">
	<form action="{{wallOwner.getProfileURL('createWallPost')}}" method="post">
		<textarea name="text" cols="100" rows="4" maxlength="65000" placeholder="{%if wallOwner.id!=currentUser.id%}{{L('write_on_X_wall', wallOwner.firstName)}}{%else%}{{L('write_on_own_wall')}}{%endif%}">{{prefilledPostText}}</textarea><br/>
		<input type="hidden" name="csrf" value="{{csrf}}"/>
		{%if replyTo%}
		<input type="hidden" name="replyTo" value="{{replyTo.id}}"/>
		{%endif%}
		{%for attachment in draftAttachments%}
		<div>
			{{attachment.sizes | photoPicture('xs')}} <a href="/system/deleteDraftAttachment?id={{attachment.localID}}">{{L('delete')}}</a>
		</div>
		{%endfor%}
		<table width="100%">
			<tr><td width="50%">

			</td><td align="right">
				<input type="submit" value="{{L('send')}}"/>
			</td></tr>
		</table>
	</form>
	<form action="/system/upload/postPhoto" method="post" enctype="multipart/form-data">
		<input type="file" name="file" accept="image/*"/><input type="submit" value="{{L('attach')}}"/>
	</form>
</div>