{# @pebvariable name="post" type="smithereen.data.viewmodel.PostViewModel" #}
{%extends "page"%}
{%block content%}
{% include 'wall_tabbar' with {'tab': 'single', 'owner': post.post.ownerID>0 ? users[post.post.ownerID] : groups[-post.post.ownerID]} %}
{% if privacyOverridden %}
<div class="settingsMessage">
	<b>{{ L('private_post_warning_title') }}</b><br/>
	{{ L('private_group_post_warning', {'groupType': groups[post.post.ownerID].accessType}) }}
</div>
{% endif %}
<div class="singleColumn">
{%if post.post.replyLevel>0%}
	<a href="/posts/{{ post.post.replyKey[0] }}">Top-level</a><br/>
{%endif%}
{% include "wall_post" with {'standalone': true} %}
</div>
<div class="summaryWrap noPadTop">
	<div class="summary">{{ L('X_comments', {'count': totalItems}) }}</div>
	{% include "pagination" %}
</div>
<div id="postReplies{{post.post.id}}" class="singleColumn">
	{%- for reply in items %}
	{% include "wall_reply" with {'post': reply, 'replyFormID': "wallPostForm_commentReplyPost#{post.post.id}", 'first': loop.first} %}
	{% endfor -%}
</div>
{%if currentUser is not null%}
{% include "wall_post_form" with {'id': "commentReplyPost#{post.post.id}", 'replyTo': post.post, 'hidden': true} %}
{% include "wall_post_form" with {'id': "commentPost#{post.post.id}", 'replyTo': post.post} %}
{%endif%}
<script>
	if(window.location.hash && window.location.hash.indexOf("comment")==1){
		var el=document.getElementById(window.location.hash.replace("#comment", "post"));
		if(el) el.classList.add("highlight");
	}
</script>
{%endblock%}