{% set realPost=post.post %}
<div class="notificationOwnReply" id="notificationsOwnReply_{{ randomID }}">
	<div class="tipW"><div class="tip"></div></div>
	<div class="post">
		<div class="postAvaWrap">
			<a href="{{ profileURL(realPost.authorID) }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | pictureForAvatar('a', 39) }}</a>
		</div>
		<div class="postContentWrap">
			<div class="flR revealOnHover floatingPostActions">
				<a href="{{ realPost.internalURL }}/confirmDelete" data-confirm-title="{{ L('delete_reply') }}" data-confirm-message="{{ L('delete_reply_confirm') }}" data-confirm-action="{{ realPost.internalURL }}/delete?elid=notificationsOwnReply_{{ randomID }}" class="flR postIconAction actionDelete" data-tooltip="{{ L('delete') }}" aria-label="{{ L('delete') }}"></a>
			</div>
			<a href="{{ profileURL(realPost.authorID) }}" class="authorName"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | name }}</a>
			<div>
				{% include "wall_post_inner" with {'post': post, 'repostDepth': 0, 'repostParent': post, 'randomID': randomID} %}
				{% set realPost=post.post %}{# because included template overwrote it #}
				<div class="postInfo">
					{% if parentType=='PHOTO' %}
					<a href="{{ relatedObject.url }}" onclick="return openPhotoViewer(this)" data-pv="{{ json(relatedObject.singlePhotoViewerData) }}" class="postLink">{{ LD(realPost.createdAt) }}</a>
					{% elseif postType=='COMMENT' %}
					<a href="{{ realPost.internalURL }}" class="postLink">{{ LD(realPost.createdAt) }}</a>
					{% else %}
					<a href="{{ realPost.internalURL }}" onclick="return openPostLayer('{{ realPost.replyKey[0] }}', '{{ realPost.id }}')" class="postLink">{{ LD(realPost.createdAt) }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
