{%autoescape "html"%}
<table width="100%">
	<tr>
		<td width="50" valign="top">
			<img src="{{post.user.smallAvatar}}" srcset="{{post.user.smallAvatarSrcset}}" width="50"/>
		</td>
		<td>
			<a href="{{post.user.url}}"{{post.userLinkAttrs}}>{{post.user.fullName}}</a><br/>
			{{post.content | escape(false)}}<br/>
			<a href="{{post.url}}">{{LD(post.published)}}</a>
		</td>
	</tr>
</table>
{%endautoescape%}