{%autoescape "html"%}
<table width="100%">
	<tr>
		<td width="50" valign="top">
			{{post.user.avatar | pictureForAvatar('s')}}
		</td>
		<td>
			<a href="{{post.user.url}}"{{post.userLinkAttrs}}>{{post.user.fullName}}</a><br/>
			{{post.content | escape(false)}}<br/>
			{%if post.attachment%}{{post.processedAttachments | renderAttachments}}<br/>{%endif%}
			<a href="{{post.internalURL}}">{{LD(post.published)}}</a>{%if post.canBeManagedBy(currentUser)%} | <a href="{{post.url}}/confirmDelete">{{L('delete')}}</a>{%endif%}
		</td>
	</tr>
</table>
{%endautoescape%}