{# @pebvariable name="post" type="smithereen.model.viewmodel.PostViewModel" #}
{# @pebvariable name="realPost" type="smithereen.model.Post" #}
{# @pebvariable name="topLevel" type="smithereen.model.viewmodel.PostViewModel" #}
{# @pebvariable name="randomID" type="String" #}
{% set realPost=post.post %}
{% set replyLevel=realPost.replyLevel-(baseReplyLevel | default(0)) %}
<div class="post comment{{ first ? ' first' : '' }}{{ commentViewType=='TWO_LEVEL' and not hideIndent and replyLevel>1 ? ' twoLevelIndented' : '' }}" id="post{{realPost.id}}_{{ randomID }}" data-reply-name="{{users[realPost.authorID].nameForReply}}" data-replying-name="{{ L('in_reply_to_name', {'name': users[realPost.authorID].firstAndGender}) }}">
	{% if replyLevel>1 and not hideIndent %}
	{% if commentViewType=='THREADED' %}
	<div style="--indent-level: {{ min(replyLevel-1, maxReplyDepth) }}" class="treeIndent"></div>
	{% endif %}
	{% endif %}
	{%if not(realPost.deleted)%}
	{% if users[realPost.authorID].suspended %}
	<div class="postAvaWrap" id="postSuspendedAvaWrap{{ realPost.id }}_{{ randomID }}">
		<a href="{{ profileURL(realPost.authorID) }}"{{ profileRel(realPost.authorID) }}><span class="ava avaPlaceholder sizeA suspended" style="width: 32px; height: 32px;"></span></a>
	</div>
	<div class="postContentWrap" id="postSuspendedContentWrap{{ realPost.id }}_{{ randomID }}">
		<a href="{{ profileURL(realPost.authorID) }}" class="authorName"{{ profileRel(realPost.authorID) }}>{{ L('suspended_user') }}</a>
		<div>
			<div class="postContent">
				{%- if currentUser is not null -%}
				{{ L('comment_suspended_warning_show', {}, {'show': {'href': 'javascript:void(0)', 'onclick': "ge('postSuspendedAvaWrap#{realPost.id}_#{randomID}').remove();ge('postSuspendedContentWrap#{realPost.id}_#{randomID}').remove();ge('postAvaWrap#{realPost.id}_#{randomID}').show();ge('postContentWrap#{realPost.id}_#{randomID}').show();"} }) }}
				{%- else -%}
				{{ L('comment_suspended_warning') }}
				{%- endif -%}
			</div>
			<div class="postInfo">
				<a href="{{ realPost.internalURL }}" onclick="return openPostLayer('{{ realPost.id }}')" class="postLink">{{ LD(realPost.createdAt) }}</a>
				{% if not realPost.local %}
					| <a href="{{ realPost.activityPubURL }}" target="_blank" rel="noopener">{{ L('open_on_server_X', {'domain': realPost.activityPubURL.host}) }}</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
	{% if currentUser is not null or not users[realPost.authorID].suspended %}
	<div class="postAvaWrap"{% if users[realPost.authorID].suspended %} id="postAvaWrap{{ realPost.id }}_{{ randomID }}" style="display: none"{% endif %}>
		<a href="{{ profileURL(realPost.authorID) }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | pictureForAvatar('a', avaSize | default(32)) }}</a>
	</div>
	<div class="postContentWrap"{% if users[realPost.authorID].suspended %} id="postContentWrap{{ realPost.id }}_{{ randomID }}" style="display: none"{% endif %}>
		<a name="comment{{realPost.id}}"></a>
		{% if not hideActions %}
		<div class="flR revealOnHover floatingPostActions" id="postFloatingActions{{ realPost.id }}_{{ randomID }}">
			{% if userPermissions is not null and userPermissions.canDeletePost(realPost) %}
			<a href="{{ realPost.internalURL }}/confirmDelete" onclick="return ajaxConfirm('delete_reply', 'delete_reply_confirm', '{{ realPost.internalURL }}/delete?rid={{ randomID }}')" class="flR postIconAction actionDelete" data-tooltip="{{ L('delete') }}" aria-label="{{ L('delete') }}"><span class="icon"></span></a>
			{% endif %}
			{% if userPermissions is not null and userPermissions.canEditPost(realPost) %}
			<a href="{{ realPost.internalURL }}/edit?rid={{ randomID }}" data-ajax class="flR postIconAction actionEdit" data-tooltip="{{ L('edit') }}" aria-label="{{ L('edit') }}"><span class="icon"></span></a>
			{% endif %}
			{% if userPermissions is not null and userPermissions.canReport(realPost) %}
			<a href="/system/reportForm?type=post&id={{ realPost.id }}" data-ajax-box class="flR postIconAction actionReport" data-tooltip="{{ L('report') }}" aria-label="{{ L('report') }}"><span class="icon"></span></a>
			{% endif %}
		</div>
		{% endif %}
		<a href="{{ profileURL(realPost.authorID) }}" class="authorName" id="postAuthor{{ realPost.id }}_{{ randomID }}"{{ profileRel(realPost.authorID) }}>{{ users[realPost.authorID] | name }}</a>
		{%- if realPost.privacy!='PUBLIC' -%}
		<span class="privatePostLockIcon" data-tooltip="{{ L(realPost.privacy.langKey, {'name': users[realPost.authorID] | name('firstAndGender')}) }}"></span>
		{%- endif %}{% if replyLevel>maxReplyDepth %}<span class="commentInReply grayText hoverCardContainer" id="inReplyTo{{ realPost.id }}_{{ randomID }}"> {{ L('comment_in_reply_to_user', {'gender': users[realPost.authorID].gender, 'name': users[post.parentAuthorID] | name('firstAndGender')}, {'parentComment': {'href': profileURL(post.parentAuthorID), 'class': "grayText parentCommentLink hoverCardTrigger", 'data-parent-id': realPost.replyKey.last} }) }}</span>{% endif %}<br/>
		<div id="postInner{{ realPost.id }}_{{ randomID }}">
			{% block postInner %}
			{% if realPost.hasContentWarning %}
			<input type="checkbox" id="postCW_{{ realPost.id }}_{{ randomID }}" class="commentCWCheckbox" style="display: none"/>
			<div class="postCWWrap">
				<label for="postCW_{{ realPost.id }}_{{ randomID }}" class="postCWButton ellipsize">{{ realPost.contentWarning | default(L('cw_default')) }}</label>
			{% endif %}
			<div class="postContent">{{ realPost.text | postprocessHTML | truncateText }}</div>
			{% if realPost.attachments is not empty %}
			{{ renderAttachments(realPost, realPost.ownerID>0 ? users[realPost.ownerID] : groups[-realPost.ownerID]) }}
			{% endif %}
			{% if realPost.hasContentWarning %}
			</div>
			{% endif %}
			<div class="postInfo">
				{%- set interactions=postInteractions[realPost.id] -%}
				{%- if interactions is not null -%}
				<span class="postActions contentActions">
					{% if interactions.canRepost %}
					<span class="shareWrap" onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)">
						<a href="{{ realPost.internalURL }}/share" class="action share popoverButton{{ interactions.repostCount>0 ? '' : ' revealOnHover' }}" id="shareButtonPost{{ realPost.id }}_{{ randomID }}" data-ajax-box data-popover-url="{{ realPost.internalURL }}/sharePopover" rel="nofollow" title="{{ L('share_content') }}">
							<span class="icon">&nbsp;</span><span class="counter" style="{{ interactions.repostCount==0 ? 'display: none' : '' }}">
							{{- interactions.repostCount | numberformat -}}
						</span></a>
						<span class="popoverPlace likePopoverWrap"></span>
					</span>
					{% endif %}
					<span class="likeWrap" onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)">
						<a href="{{realPost.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}&rid={{ randomID }}" class="action like commentLike{{ interactions.isLiked ? ' liked' : '' }}{{ interactions.likeCount>0 or interactions.repostCount>0 ? '' : ' revealOnHover' }} popoverButton" id="likeButtonPost{{realPost.id}}_{{ randomID }}" data-obj-type="post" data-obj-id="{{realPost.id}}_{{ randomID }}" data-popover-url="{{realPost.internalURL}}/likePopover" {% if currentUser is not null %}onclick="return likeOnClick(this)"{% else %}data-ajax-box{% endif %} title="{{ L('like') }}">
							<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPost{{realPost.id}}_{{ randomID }}" data-count="{{ interactions.likeCount }}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
							{{- interactions.likeCount | numberformat -}}
						</span></a>
						<span class="popoverPlace likePopoverWrap"></span>
					</span>
				</span>
				{%- endif -%}
				<a href="{{realPost.internalURL}}" onclick="return highlightComment({{realPost.id}})" class="postLink">{{LD(realPost.createdAt)}}</a>
				{%- if not hideActions %}
				{% if not hideReplyLink and postInteractions[topLevel.post.IDForInteractions].canComment and currentUser is not null %}
					| <a href="{{realPost.internalURL}}"
						 onclick="return showReplyForm({{realPost.id}}, '{{ replyFormID is empty ? 'wallPostForm_reply' : replyFormID }}', 'post', {{ commentViewType!='FLAT' }}, {{ commentViewType=='TWO_LEVEL' and replyLevel>1 ? realPost.replyKey[1] : 0 }}, '{{ randomID }}')">{{L('add_reply')}}</a>
				{% endif %}
				{% if not realPost.local %}
					| <a href="{{ realPost.activityPubURL }}" target="_blank" rel="noopener">{{ L('open_on_server_X', {'domain': realPost.activityPubURL.host}) }}</a>
				{% endif %}
				{% endif %}
			</div>
			{% endblock %}
		</div>
	</div>
	{% endif %}
	{%else%}
	<div class="postAvaWrap"></div>
	<div class="postContentWrap">
		<i>{{L('deleted_placeholder')}}</i>
	</div>
	{%endif%}
</div>
{% if not hideReplies and commentViewType!='FLAT' and not (commentViewType=='TWO_LEVEL' and replyLevel>1) %}
<div id="postReplies{{realPost.id}}_{{ randomID }}" class="replies">
	{%for reply in post.repliesObjects%}
		{% include "wall_reply" with {'post': reply, 'first': false, 'topLevel': topLevel} %}
		{% set realPost=post.post %}
		{% set replyLevel=realPost.replyLevel-(baseReplyLevel | default(0)) %}
	{%endfor%}
	{% if post.loadableRepliesCount>0 %}
	<div id="loadRepliesContainer{{ realPost.id }}_{{ randomID }}" class="threadedIndented" style="--indent-level: {{ min(replyLevel-1, maxReplyDepth) }}">
		<a class="loadRepliesLink" onclick="return loadCommentBranch(this, {{ realPost.id }}, {{ topLevel.post.isMastodonStyleRepost ? topLevel.post.id : 0 }}, 'wall', null, '{{ randomID }}')" data-offset="{{ post.repliesObjects | length }}" id="loadRepliesLink{{ realPost.id }}_{{ randomID }}">{{ L(post.loadedRepliesCount>0 ? 'comments_show_X_more_replies' : 'comments_show_X_replies', {'count': post.loadableRepliesCount}) }}</a>
		<div class="loadRepliesLink" id="repliesLoader{{ realPost.id }}_{{ randomID }}" style="display: none;"><span class="loader"></span></div>
		<div class="depthIndicator"></div>
	</div>
	{% endif %}
</div>
{% endif %}