{%autoescape "html"%}
<table width="100%" cellpadding="0" cellspacing="0" class="post" id="post{{post.id}}">
	<tr>
		<td width="50" valign="top">
			<a href="{{post.user.url}}">{{post.user | pictureForAvatar('s')}}</a>
		</td>
		<td valign="top" class="postContentWrap">
			<a href="{{post.user.url}}"{{post.userLinkAttrs}} class="authorName">{{post.user.fullName}}</a>
			<div class="postContent">{{post.content | escape(false)}}</div>
			{%if post.attachment%}{{post.processedAttachments | renderAttachments}}<br/>{%endif%}
			<div class="postInfo"><a href="{{post.internalURL}}" class="postLink">{{LD(post.published)}}</a>{%if post.canBeManagedBy(currentUser)%} |
				<a href="{{post.url}}/confirmDelete" onclick="return ajaxConfirm('delete_post', 'delete_post_confirm', '{{post.url}}/delete')">{{L('delete')}}</a>{%endif%}</div>
		</td>
	</tr>
</table>
{%endautoescape%}