{# @pebvariable name="post" type="smithereen.data.Post" #}
<table width="100%" cellpadding="0" cellspacing="0" class="post" id="post{{post.id}}">
	<tr>
		<td width="50" valign="top">
			<a href="{{post.user.profileURL}}">{{post.user | pictureForAvatar('s')}}</a>
		</td>
		<td valign="top" class="postContentWrap">
			<a href="{{post.user.profileURL}}" class="authorName">{{post.user.fullName}}</a>
			<div class="postContent">{{post.content | postprocessHTML}}</div>
			{%if post.attachment is not null%}{{renderAttachments(post.processedAttachments)}}{%endif%}
			<div class="postInfo"><a href="{{post.internalURL}}" class="postLink">{{LD(post.published)}}</a>
				{%if post.canBeManagedBy(currentUser)%} |
				<a href="{{post.internalURL}}/confirmDelete" onclick="return ajaxConfirm('delete_post', 'delete_post_confirm', '{{post.internalURL}}/delete')">{{L('delete')}}</a>
				{%endif%}
				{% if post.owner.id!=post.user.id and tab!="wall2wall" %} |
				    <a href="{{ post.owner.profileURL }}/wall/with/{{ post.user.fullUsername }}">{{ L('wall_to_wall') }}</a>
				{% endif %}
				{% if not post.local %}
					| <a href="{{ post.url }}" target="_blank" rel="noopener">{{ L('open_on_server_X', post.url.host) }}</a>
				{% endif %}
				{%if postInteractions is not null%}
				{%set interactions=postInteractions[post.id]%}
				<span class="postActions">
					<span class="likeWrap" onmouseenter="likeOnMouseChange(this, true)" onmouseleave="likeOnMouseChange(this, false)">
						<a href="{{post.internalURL}}/{%if interactions.isLiked%}un{%endif%}like?csrf={{csrf}}" class="action like{%if interactions.isLiked%} liked{%endif%}" id="likeButtonPost{{post.id}}" data-obj-type="post" data-obj-id="{{post.id}}" data-popover-url="{{post.internalURL}}/likePopover" onclick="return likeOnClick(this)">
							{{- L('like')}}<span class="icon">&nbsp;</span><span class="counter" id="likeCounterPost{{post.id}}" style="{%if interactions.likeCount==0%}display: none{%endif%}">
							{{- interactions.likeCount -}}
						</span></a>
						<span class="popoverPlace likePopoverWrap"></span>
					</span>
				</span>
				{%endif%}
			</div>
		</td>
	</tr>
</table>