{# @pebvariable name="wallOwner" type="smithereen.activitypub.objects.Actor" #}
{%if wallOwner is null%}{%set wallOwner=currentUser%}{%endif%}
<div class="wallPostForm" id="wallPostForm_{{id}}" data-unique-id="{{id}}">
	{% if not wallOwner.hasWall %}
		<div class="wallPostFormError">
		{% if isGroup %}
			{{ L('server_of_group_no_wall') }}
		{% else %}
			{{ LI('server_of_user_X_no_wall', first=wallOwner.firstName, gender=wallOwner.gender) }}
		{% endif %}
		</div>
	{% else %}
	<form action="{{wallOwner.typeAndIdForURL}}/createWallPost" method="post">
	{% if isGroup %}
		{% set fieldPlaceholder=L('write_on_group_wall') %}
	{% elseif wallOwner.id!=currentUser.id%}
		{% set fieldPlaceholder=LI(key='write_on_X_wall', first=wallOwner.firstName, gender=wallOwner.gender) %}
	{% elseif replyTo is not null %}
		{% set fieldPlaceholder=L('comment_placeholder') %}
	{% else %}
		{% set fieldPlaceholder=L('write_on_own_wall') %}
	{% endif %}
		<textarea name="text" id="postFormText_{{id}}" cols="100" rows="4" maxlength="65000" placeholder="{{ fieldPlaceholder }}">{{prefilledPostText}}</textarea>
		<input type="hidden" name="csrf" value="{{csrf}}"/>
		{%if replyTo is not null%}
		<input type="hidden" name="replyTo" id="postFormReplyTo_{{id}}" value="{{replyTo.id}}"/>
		{%endif%}
		<input type="hidden" name="formID" value="{{id}}"/>
		<div id="postFormAttachments_{{id}}">
			{%set attachIDs=""%}
			{%for attachment in draftAttachments%}
			<div class="attachment" id="attachment_{{attachment.localID}}" data-id="{{attachment.localID}}">
				{{attachment.sizes | photoPicture('xs')}}
				<a href="/system/deleteDraftAttachment?id={{attachment.localID}}&csrf={{csrf}}" class="deleteBtn" title="{{L('delete')}}"></a>
				{%set attachIDs=attachIDs+attachment.localID%}
				{%if not loop.last%}{%set attachIDs=attachIDs+","%}{%endif%}
			</div>
			{%endfor%}
		</div>
		<div id="postFormAttachments2_{{ id }}"></div>
		<input type="hidden" name="attachments" value="{{attachIDs}}"/>
		<table width="100%" cellpadding="0" cellspacing="0" class="bottomBar">
			<tr><td width="50%" class="left">

				<div class="popupMenuW">
					<span class="opener">{{ L('attach') }}</span>
					<div class="popupMenu" style="display: none;">
						<ul class="attachMenu">
							<li data-act="photo"><span class="iconPhoto"></span>{{ L('attach_menu_photo') }}</li>
							<li data-act="cw"><span class="iconCW"></span>{{ L('attach_menu_cw') }}</li>
						</ul>
					</div>
				</div>
			</td><td align="right" class="right">
				<input type="submit" value="{{L('send')}}"/>
			</td></tr>
		</table>
	</form>
	<form action="/system/upload/postPhoto?draft=1&csrf={{csrf}}" method="post" enctype="multipart/form-data" id="attachmentUploadForm_{{id}}">
		<noscript>
			<input type="file" name="file" accept="image/*"/><input type="submit" value="{{L('attach')}}"/>
		</noscript>
	</form>
	<div id="dropOverlay_{{id}}" class="dropOverlay">{{L('drop_files_here')}}</div>
	{% endif %}
</div>