{% extends "page" %}
{% block content %}
	<h1>{{ L('email_password_reset_header') }}</h1>
	{{ L('email_password_reset_html_before', {'name': name, 'serverName': serverName, 'domain': domain}) }}
	<div class="button_blue" style="padding: 20px 0; text-align: center">
		<a href="{{ passwordResetLink }}">{{ L('reset_password') }}</a>
	</div>
	{{ L('email_password_reset_after', {'gender': gender}) }}
{% endblock %}

