{% extends "page" %}
{% block content %}
	<h1>{{ L(isRequest ? 'email_invite_approved_header' : 'email_invite_header') }}</h1>
	{{ L(isRequest ? 'email_invite_body_start_approved' : 'email_invite_body_start', {'name': name, 'inviterName': inviterName, 'inviterLink': inviterLink, 'serverName': serverName, 'domain': domain}) }}<br/>
	{{ L('email_invite_body_end_html') }}
	<div class="centeredMainBlock">
		<a class="button" href="{{ inviteLink }}">{{ L('begin_registration') }}</a>
	</div>
{% endblock %}

