<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/res/desktop.css?{{staticHash}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script>
		var userConfig={{jsConfig | raw}};
		var langKeys={{jsLangKeys | raw}};
	</script>
	<style>
		.js{display: none;}
		.hasJS .js{display: block;}
		html{height: 100%;}
	</style>
</head>
<body class="popupPage">
<script>document.body.classList.add("hasJS");{%if jsRedirect is not null%} window.location="{{jsRedirect}}";{%endif%}</script>
<div class="headerBG header" align="center">
	<span class="logo"><a href="/"><img src="/res/logo.svg" height="36" width="36" border="0" alt="Smithereen"/>{{serverName}}</a></span>
</div>
<div class="popupContent">
	{%block content%}{%endblock%}
</div>
<div></div>
<script src="/res/common.js?{{staticHash}}"></script>
</body>
</html>